{% extends "ApplicationRelationsBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
      <link rel="stylesheet" href="{{ asset('bundles/applicationrelations/css/sliding.css') }}" type="text/css" media="all"/>
     
<style>
        td {
    font-size: 12px;
  
}
    .input-append, .input-prepend {
  
    font-size: 11px;
    white-space: nowrap;
  padding-left:3px;
    float:left;
   /* height: 50px;*/
}

.table {
    font-size: 11px;
    border-collapse: separate;
  /*  font-family: 'Times New Roman',Times,serif;*/
}

tr.title th {
   
    line-height: 30px;
  
}

tr.danger {background:red;}

select {
width:180px;}
select.pattern-selector {
width:150px;
}
     label {
                color:#02195e;
              /*  text-align: left;*/
    
}
    </style>
   <link rel="stylesheet" href="{{ asset('bundles/applicationrelations/css/table.css') }}" type="text/css" media="all"/>
 {% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    {% javascripts 
    '@ApplicationRelationsBundle/Resources/public/js/jquery.cookie.js'
    '@ApplicationRelationsBundle/Resources/public/js/serveursboxfilter.js'
     output='js/compiled/boxserveurs.js' filter='?yui_js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}


  {% if is_granted("ROLE_ADMIN") %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script>var menuDownUrl = "{{ asset('bundles/applicationcertificats/images/') }}";</script>
<script type="text/javascript" src="{{ asset('bundles/applicationrelations/js/serveursicons.js') }}"></script>
{% endif %}
 {% endblock %}

{% block content_header '' %}
{% block title %}SERVEURS ( {{total }}){% endblock %}

    
{% block content %}

{% include 'ApplicationRelationsBundle:Template:flash.html.twig' %}

{#
   {% if is_granted("ROLE_ADMIN") %}
<a href="{{ path('serveurs_new') }}" class="btn btn-medium btn-primary">Ajouter Serveur</a>
{% endif %}
<br> <br>  
#}
 <div id="ShowHideContainer">
  
<form id="target" class="form-horizontal" action="{{ path('serveurs') }}" method="POST" {{ form_enctype(search_form) }}>
    <a id="ShowHideButton">
        <button id="show" type="submit" name="submit-filter" class="btn btn-medium btn-warning" value="show" >
            <i class="icon-search"></i>  Afficher Filtres</button>
    </a>
    <button type="submit" id="reset" name="submit-filter" class="btn btn-medium btn-warning" value="reset" >
        <i class="icon-minus-sign"></i> Effacer Filtres</button>
        {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('serveurs_new') }}" class="ajoutchange btn btn-medium btn-primary">
                <i class="icon-plus"></i> Ajouter Serveur
            </a>
{% endif %}
    </form>

     
     
<div id="ShowHideBox" class="hidden">
          {% include 'ApplicationRelationsBundle:Serveurs:indexsearch_form.html.twig' %}
        </div>
</div>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr class="title">

         
                            <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                            <th{% if pagination.isSorted('a.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nom', 'a.nom') }}
                              <i class="icon-pencil"></i></th>
                           <th{% if pagination.isSorted('a.nom_dns') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nom DNS', 'a.nom_dns') }}
                              <i class="icon-pencil"></i></th>
                             <th{% if pagination.isSorted('a.description') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Description', 'a.description') }}
                                          <i class="icon-pencil"></i></th>
                            <th{% if pagination.isSorted('a.ip_in') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'IP_In', 'a.ip_in') }}
                            <i class="icon-user"></i></th>
                          
                                  <th{% if pagination.isSorted('a.ip_out') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'IP_Out', 'a.ip_out') }}
                                           <i class="icon-user"></i></th>
                       
                                   <th{% if pagination.isSorted('b.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Site', 'b.nom') }}
                                           <i class="icon-user"></i></th>
                       
                        <th{% if pagination.isSorted('c.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Zone', 'c.nom') }}
                                           <i class="icon-user"></i></th>
                             <th{% if pagination.isSorted('d.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Env', 'd.nom') }}
                                           <i class="icon-user"></i></th>
                   <th{% if pagination.isSorted('a.warning') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'W', 'a.warning') }}
              <i class="icon-flag"></i></th>
                              <th{% if pagination.isSorted('a.updatedDate') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Debut', 'a.updatedDate') }}
                                <i class=" icon-time"></i></th>
               
                {% if is_granted("ROLE_ADMIN") %}
                <th colspan="2">Actions</th>
                {% else %}
                <th>Actions</th>
                {% endif %}
             </tr>
    </thead>
    <tbody>
    {% for entity in pagination %}
       
   
       {% if entity.warning == 1 %} 
                <tr class="error">
                        {% else %}
              <tr>
             {% endif %}   
             <td><a href="{{ path('serveurs_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nom }}</td>
              <td>{{ entity.nomDns }}</td>
           
              <td>{{ entity.description }}</td>
           <td>{{ entity.ipIn }}</td>
              <td>{{ entity.ipOut }}</td>
                   <td>{{ entity.idsite }}</td>
               <td>{{ entity.idzone }}</td>
               <td>{{ entity.idEnv }}</td>
                 <td>
                                {% if entity.warning == 0 %}
                                    <a class="open" data-id="{{entity.id}}" href="#{{ entity.id }}">
                                        <img src="{{ asset('bundles/applicationcertificats/images/cadenas-souvert.png') }}" alt="show" width="15" height="15"/>
                                    </a>
                                      {% else %}
                                    <a class="closed" data-id="{{entity.id}}" href="#{{ entity.id }}">
                                        <img src="{{ asset('bundles/applicationcertificats/images/cadenas-sferme.png') }}" alt="show" width="15" height="15" />
                                    </a>
                               {% endif %}
                            </td> 
                        
              <td>{% if entity.updatedDate is not null %}{{ entity.updatedDate|date('Y-m-d') }}{% endif %}</td>
                         
              {% include 'ApplicationRelationsBundle:Template:index-actions.html.twig' 
                   with {
                        'edit':'serveurs_edit',
                        'delete':'serveurs_delete',
                        'show':'serveurs_show'
                        }
              %}   
        {% endfor %} 
    </tr>
    </tbody>
</table>
    {{ knp_pagination_render(pagination, 'ApplicationRelationsBundle:pagination:twitter_bootstrap_pagination.html.twig') }}

{% endblock %}

