{% extends "ApplicationRelationsBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
      <link rel="stylesheet" href="{{ asset('bundles/applicationrelations/css/sliding.css') }}" type="text/css" media="all"/>
       <link rel="stylesheet" href="{{ asset('bundles/applicationrelations/css/tableview.css') }}" type="text/css" media="all"/>
 {% endblock %}

{% block content_header '' %}
{% block title %}DETAILS SERVEUR:  {{ entity.nom }} {% endblock %}
{% block content %}
      
     <br><br>
     
<table class="view table-bordered">

 <thead>
                        <tr class="title">
                            <th>Paramètres</th>
                            <th>Valeurs</th>
                        </tr>
                    </thead>
    <tbody>
      
        <tr>
            <td class="viewlabel">Id</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td class="viewlabel">Nom</td>
            <td>{{ entity.nom }}</td>
        </tr>
           <tr>
            <td class="viewlabel">Nom DNS</td>

            <td>{{ entity.nomDns }}</td>
        </tr>
        <tr>
            <td class="viewlabel">Description</td>
            <td class="single">{{ entity.description }}</td>
        </tr>
        <tr>
            <td class="viewlabel">IP_In</td>
            <td>{{ entity.ipIn }}</td>
                 </tr>
                  <tr>
            <td class="viewlabel">IP_Out</td>
            <td>{{ entity.ipOut }}</td>
            
                </tr>
                 
                <tr>
            <td class="viewlabel">idzone</td>
            <td>{{ entity.idzone }}</td>
            
                </tr>
        
                        <tr>
            <td class="viewlabel">idsite</td>
            <td>{{ entity.idSite }}</td>
            
                </tr>
        
                       
                      <tr>
            <td class="viewlabel">Environnement</td>
             <td>   {{ entity.idEnv }} </td>
         
            
                </tr>
        
       
                </tbody>
            </table>
     
  
       <br><br>
         <a href="{{ path('serveurs') }}" class="btn btn-large btn-success">Retour</a>
     <br><br>
     
    
  
<br/>    
     
{% endblock %}

