{% extends "ApplicationRelationsBundle::layout.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationrelations/css/sliding.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bundles/applicationrelations/css/table.css') }}" type="text/css" media="all"/>
<style>
        select#doc_idprojets {
            height:300px;
            width:200px;
        }
    </style>
 {% endblock %}


{% block content_header '' %}

{% block title %}NOUVEAU DOCUMENT-PROJETS{% endblock %}
{% block content %}


{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
{% endfor %}
<br>
 <table class="table-mybordered">

           
    <form action="{{ path('projets_documents_create', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        <input type="hidden" name="_method" value="POST" />
        <tr><td class="calendar">  

                 {{ form_row(form.file) }}
                {{ form_row(form.name) }}
                </td>
                 
              <td class="calendar">
                    {{ form_rest(form) }}
                      </td></tr><tr>
                  <td colspan="2" class="calendar"> 
                     <button type="submit" class="btn btn-large btn-warning">Modifier</button>
                      <a href="{{ path('projets_documents') }}" class="btn btn-large btn-success">Retour</a>
   </form>


    
                                </td>
                            </tr>
              
                    </table>

{% endblock %}
