 {% set infocomments = "<p>Nombnre de commentaires par changement</p>" %}
{% set infofichiers = "<p>Nombre de fichiers par changement</p>" %}

            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr class="title">
               {# <script>var menuDownUrl = "{{ asset('bundles/applicationcertificats/images/') }}";</script>#}
                <th style="width:30px"  class="sorted ">
                    <a href="{{ path(index_path, {'sort':'a.id','dir':next_dir}) }}">ID</a> 
                     {% if arrow['a.id'] is defined %}
                        <i class={{ arrow['a.id'] }}></i>
                    {% endif %}
                </th>

                <th style="min-width:80px"  class="sorted">
                    <a href="{{ path(index_path, {'sort':'a.nom','dir':next_dir}) }}">Nom</a> 
                    <i class="icon-list-alt"></i>
                    {% if arrow['a.nom'] is defined %}
                        <i class={{ arrow['a.nom'] }}></i>
                    {% endif %}
                </th>
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <th style="width:40px"  class="sorted">
                    <a href="{{ path(index_path, {'sort':'i.id','dir':next_dir}) }}">F</a> 
                    <i class="icon-star"></i>
                    {% if arrow['i.id'] is defined %}
                        <i class={{ arrow['i.id'] }}></i>
                    {% endif %}
                    </th>  
                    {% endif %}
                 <th style="min-width:80px"  class="sorted">
                    <a href="{{ path(index_path, {'sort':'a.dateDebut','dir':next_dir}) }}">Debut</a> 
                    <i class="icon-time"></i>
                    {% if arrow['a.dateDebut'] is defined %}
                        <i class={{ arrow['a.dateDebut'] }}></i>
                    {% endif %}
                </th>
                <th style="min-width:80px"  class="sorted hidden-phone">
                    <a href="{{ path(index_path, {'sort':'a.dateFin','dir':next_dir}) }}">Fin</a> 
                    <i class="icon-time"></i>
                    {% if arrow['a.dateFin'] is defined %}
                    <i class={{ arrow['a.dateFin'] }}></i>
                    {% endif %}
                </th>
                 <th style="min-width:80px"  class="sorted hidden-phone">
                    <a href="{{ path(index_path, {'sort':'b.nomprojet','dir':next_dir}) }}">Projet</a> 
                    <i class="icon-tag"></i>
                    {% if arrow['b.nomprojet'] is defined %}
                    <i class={{ arrow['b.nomprojet'] }}></i>
                    {% endif %}
                </th>
                 <th style="min-width:30px"  class="sorted hidden-phone hidden-tablet">
                    <a href="{{ path(index_path, {'sort':'a.demandeur','dir':next_dir}) }}">D</a> 
                    <i class="icon-user"></i>
                    {% if arrow['a.demandeur'] is defined %}
                    <i class={{ arrow['a.demandeur'] }}></i>
                    {% endif %}
                </th>

                
                
                <th style="min-width:30px"  class="sorted thinfos hidden-phone hidden-tablet">
    <a class="mytooltip" href="#" rel="tooltip" data-content="{{ infofichiers }}" data-original-title="Information" data-toggle="tooltip">
        <i class="icon-book"></i></a>
                   
                  
                </th>
                 <th style="min-width:30px"  class="sorted thinfos  hidden-phone hidden-tablet">
      <a class="mytooltip" href="#" rel="tooltip" data-content="{{ infocomments }}" data-original-title="Information" data-toggle="tooltip">
        <i class="icon-comment"></i></a>
                    
                  
                </th>
                 <th style="min-width:80px"  class="sorted hidden-phone hidden-tablet">
                    <a href="{{ path(index_path, {'sort':'e.nomUser','dir':next_dir}) }}">Users</a> 
                    <i class="icon-group"></i>
                    {% if arrow['e.nomUser'] is defined %}
                    <i class={{ arrow['e.nomUser'] }}></i>
                    {% endif %}
                </th>
                <th style="width:40px"  class="sorted">
                    <a href="{{ path(index_path, {'sort':'d.nom','dir':next_dir}) }}">S</a> 
                    <i class="icon-flag"></i>
                    {% if arrow['d.nom'] is defined %}
                    <i class={{ arrow['d.nom'] }}></i>
                    {% endif %}
                </th>
                
                 <th style="min-width:80px" class="sorted hidden-phone hidden-tablet">
                    <a href="{{ path(index_path, {'sort':'a.ticketExt','dir':next_dir}) }}">T_Samy</a> 
                    <i class="icon-tag"></i>
                    {% if arrow['a.ticketExt'] is defined %}
                    <i class={{ arrow['a.ticketExt'] }}></i>
                    {% endif %}
                </th>
                 <th style="min-width:80px"  class="sorted hidden-phone hidden-tablet">
                    <a href="{{ path(index_path, {'sort':'a.ticketInt','dir':next_dir}) }}">T_CF</a> 
                    <i class="icon-tag"></i>
                    {% if arrow['a.ticketInt'] is defined %}
                    <i class={{ arrow['a.ticketInt'] }}></i>
                    {% endif %}
                </th>
                 <th style="min-width:40px"  class="sorted hidden-phone">
                    <a href="{{ path(index_path, {'sort':'g.nom','dir':next_dir}) }}">Env</a> 
                    <i class="icon-globe"></i>
                    {% if arrow['g.nom'] is defined %}
                    <i class={{ arrow['g.nom'] }}></i>
                    {% endif %}
                </th>
     <th colspan="3">Actions</th>
                        </tr>
               </thead>
    <tbody>
    {% for entity in  pagerfanta.currentPageResults %}
         {% set text_comment = "<p>Editer/Voir les commentaires de cet enregistrement (id=" ~ entity.id  ~ ")</p>" %}
         {% set text_edit= "<p>Editer cet enregistrement (id=" ~ entity.id  ~ ")</p>" %}
        {% set text_show= "<p>Afficher les détails de cet enregistrement (id=" ~ entity.id  ~ ")</p>" %}
            
{#=============================== TR =================================#}
        {% set trclass= "" %}
        {% if entity.idStatus.description == 'closed' %} 
            {% set trclass= "myclosed" %}
        {# sinon: open prepare ou wait #}
        {% else %}
            {% if entity.idStatus.description == 'prepare' or  entity.idStatus.description == 'wait'%} 
              {% set trclass= "prepare" %}
            {% else %}
                {% set trclass= "success" %}
            {% endif %}
        {% endif %}
       
        {% if isfavoris is defined %}
            <tr class="{{ trclass }}" id="{{ entity.id }}">
        {% else %}
        
            <tr class="{{trclass}}">
        {% endif %}
                                    
{#===============================  START DES TDs =================================#}                     
                                    
   <td>{{ entity.id }}</td>
   <td><a href="{{ path('changements_show', { 'id': entity.id }) }}">{{ entity.nom }}</a></td>
         
    {% if is_granted("ROLE_USER") %}   
  {#
       <img src="{{ asset('bundles/applicationchangements/images/star-off.png') }}" alt="show" width="15px" height="15px" />
    {% else %}   #}                                        
        <td>   
      {% set myfavori = 0 %}
      {% for favoris in entity.idfavoris  if myfavori==0 %}
          {% if favoris.id ==  user_id %}
            {% set myfavori = 1 %}
         {# {% set c_favoris = "star-off.png" %}#}
         {% endif %}
     {% endfor %}
          {% if myfavori == 0 %}
           <a class="favoris" rel="tooltip" data-placement="bottom" data-content="Ajouter cet enregistrement de vos favoris" data-original-title="Information" data-toggle="tooltip" data-id="{{entity.id}}" data-name="{{entity.nom}}" data-status="{{ myfavori }}" href="#here">
             
                 <img src="{{ asset('bundles/applicationchangements/images/star-off.png') }}" alt="show" width="15px" height="15px" />
                {% else %}
                    <a class="favoris" rel="tooltip" data-placement="bottom" data-content="Supprimer cet enregistrement de vos favoris" data-original-title="Information" data-toggle="tooltip" data-id="{{entity.id}}" data-name="{{entity.nom}}" data-status="{{ myfavori }}" href="#here">
             
                  <img src="{{ asset('bundles/applicationchangements/images/star-on.png') }}" alt="show" width="15px" height="15px" />
                {% endif %}
        </a>
                 
    </td>     
     
     {% endif %}
   
    <td>{{ entity.dateDebut|date('Y-m-d') }}</td>
    <td class="hidden-phone">{% if entity.dateFin  %}{{ entity.dateFin|date('Y-m-d') }}{% else %}---{% endif %}</td>
    <td class="hidden-phone">{{ entity.idProjet.nomprojet }}</td>
    <td class="hidden-phone hidden-tablet">{{ entity.demandeur.nomUser }}</td>
    <td class="hidden-phone hidden-tablet">
        {% if entity.picture|length > 0  %}
         <img src="{{ asset('bundles/applicationchangements/images/wordx.gif') }}" alt="show" width="12px" height="12px"/>x {{  entity.picture|length }}
        {% else %}
            -
        {% endif %}
    </td>
   
     <td class=" hidden-phone hidden-tablet"> {% if entity.comments|length > 0  %}
                {{ entity.comments|length }}
            {% else %}
            -
        {% endif %}
        </td>
    <td class=" hidden-phone hidden-tablet">{{ entity.idusers|join(', ') }}</td>
    <td style="min-width:45px"> 
        {% if entity.idStatus.description != 'closed' %}
            {% set c_status = "open" %}
        {% else %}                                                                        
            {% set c_status = "closed" %}
        {% endif %}
         {% if is_granted("ROLE_USER") %}
             {% set ok_status = "okstatus" %}
            {% else %}
             {% set ok_status = "nokstatus" %}
          {% endif %}
         {% set c_img =  entity.idStatus.id ~ '.png' %}                                   
                  <a class="{{ ok_status }} {{ c_status }}" data-name="{{entity.nom}}" data-id="{{entity.id}}"  href="#{{ entity.id }}">
                  <img src="{{ asset('bundles/applicationchangements/images/') }}{{ c_img }}" alt="show" width="15px" height="15px"/>
                  </a>
   </td> 
   <td class="hidden-phone hidden-tablet"> {{ entity.ticketExt }}   </td>
   <td class="hidden-phone hidden-tablet"> {{ entity.ticketInt }}   </td>
   <td class="hidden-phone">{% for envir in entity.idEnvironnement %}{{ envir }} <br>{% endfor %}</td>
   <td style="min-width:18px"> 
     
    <a class="tooltip_show editme" rel="tooltip" data-content="{{ text_show }}" data-original-title="Information" data-toggle="tooltip" href="{{ path('changements_showXhtml', { 'id': entity.id }) }}">
    <img src="{{ asset('bundles/applicationchangements/images/detail.png') }}" alt="show" width="15px" height="15px" />
    </a>
   </td>

   {% if is_granted("ROLE_USER") %}
   <td style="min-width:18px">
       <a class="tooltip_edit"  rel="tooltip" data-content="{{ text_edit }}" data-original-title="Information" data-toggle="tooltip"
       href="{{ path('changements_edit', { 'id': entity.id }) }}">
        <img src="{{ asset('bundles/applicationchangements/images/edit.png') }}" alt="edit" width="15px" height="15px" />
    </a>
   </td>
    
   {#
   <td style="min-width:18px">
       <a href="{{ path('changements_filesedit', { 'id': entity.id }) }}">
        <img src="{{ asset('bundles/applicationchangements/images/add.png') }}" alt="edit" width="15px" height="15px" />
    </a>
   </td>
#}
  {% endif %}
  
<td><a class="tooltip_comments"  rel="tooltip" data-content="{{ text_comment }}" data-original-title="Information" data-toggle="tooltip"
      href="{{ path('changements_comment_show', { 'id': entity.id }) }}">
     <i class="icon-comment-alt" style="color:black"></i>
     </a>
   </td>
{#------------------------------------------------------------
===========END TR===========================================
------------------------------------------------------------#}
</tr>
{% endfor %}
            </tbody>
            </table>    