{% extends "ApplicationChangementsBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/sliding.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/colorbox.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/changements.css') }}" type="text/css" media="all"/>

<style>
        a.calendar {
            color:#373737
        }
    tr.titlea {
        background-color: #757575;
        font-size: 14px;
    }
    div#footer {
         background-color: rgb(87, 96, 108);
    }
     tr.title , td.title{
    height: 35px;
    background: none repeat scroll 0% 0% rgb(87, 96, 108);
  /*  background: none repeat scroll 0% 0% rgb(115, 115, 115);*/
    text-align: center;
    color: rgb(254, 254, 254);
}

     td {
          background-color: #bcbcbc;
        /* background-color: #ffffff;*/
        font-size: 11px;
    }
    td.calendar{
        margin-top:5px;
         padding-top:5px;
         
        background-color:gainsboro;
        font-size: 12px;
        text-align:center;
    }
    td.datas:hover {
    text-decoration: underline;
    background-color: rgb(255, 209, 0);
}
 .table td {

    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid rgb(221, 221, 221);
}

   .table-mybordered {
        width:98%;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
 border-spacing: 1px;
    border-color: black -moz-use-text-color;
    -moz-border-top-colors: black;
    -moz-border-right-colors: black;
    -moz-border-bottom-colors: black;
    -moz-border-left-colors: black;
    border-image: none;
    border-collapse: separate;
    border-radius: 6px 6px 6px 6px;
    margin-bottom:50px;
}

  .table-condensed td {
    padding: 0px 0px;
  
}
div.event,div.eventrun {
    /*width:97%;*/
    padding-left:4px;
    margin-bottom:2px;
   /* border-bottom:1px solid;
    border-top:1px solid;*/
            
}
div.eventrun {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border:1px solid red;
  font-weight:bold;
}
div.noevent {
  /*  width:98%;*/
    padding-left:4px;
    margin-bottom:2px;
    margin-top:0px
        }
        th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}
div.controls {
    padding-top:20px;
   
margin:auto;width:500px; }

/*
span.label.label-warning{ vertical-align:top;}*/
    </style>
 {% endblock %}


{% block javascripts %}
{{ parent() }}
       <script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/jquery.colorbox.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/editme.js') }}"></script>
<script type="text/javascript">
          
$(document).ready(function() {
//$(function() {
  $( "#grid_certificatsgrid__dateDebut__query__from" ).datepicker({
maxDate: "+3M +10D",
changeMonth: true,
changeYeat: true,
numberOfMonths: 1,
dateFormat: "yy-mm-dd",
onClose: function( selectedDate ) {
$( "#form_bis" ).datepicker( "option", "minDate", selectedDate );
}
});
 
$(function() {
$( "#datepicker" ).datepicker();
});
  
});
</script>

{% endblock %}


{% block title %}
        <span class="icon-stack">
            <i class="icon-check-empty icon-stack-base"></i>
            <i class="icon-calendar"></i>
        </span>    Opérations: Calendrier 
       
{% endblock %}
        


{% block content %}
  {% set foo = ['#C9BE62','#ADA96E','#B1FB17','#79BAEC','#736F6E','#6D7B8D','#ADA96E',
'#B1FB17','#79BAEC','#736F6E','#6D7B8D','#ADA96E','#B1FB17','#79BAEC','#736F6E',
'#6D7B8D','#ADA96E','#B1FB17','#79BAEC','#736F6E','#6D7B8D','#C9BE62','#ADA96E','#B1FB17',
'#79BAEC','#736F6E','#6D7B8D','#ADA96E',
'#B1FB17','#79BAEC','#736F6E','#6D7B8D','#ADA96E','#B1FB17','#79BAEC','#736F6E',
'#6D7B8D','#ADA96E','#B1FB17','#79BAEC','#736F6E','#6D7B8D','#C9BE62','#ADA96E',
'#B1FB17','#79BAEC','#736F6E','#6D7B8D','#ADA96E',
'#B1FB17','#79BAEC','#736F6E','#6D7B8D','#ADA96E','#B1FB17','#79BAEC','#736F6E',
'#6D7B8D','#ADA96E','#B1FB17','#79BAEC','#736F6E','#6D7B8D','#C9BE62','#ADA96E','#B1FB17',
'#79BAEC','#736F6E','#6D7B8D','#ADA96E',
'#B1FB17','#79BAEC','#736F6E','#6D7B8D','#ADA96E','#B1FB17','#79BAEC','#736F6E',
'#6D7B8D','#ADA96E','#B1FB17','#79BAEC','#736F6E','#6D7B8D']
 %}

{% include 'ApplicationChangementsBundle:templates:flash.html.twig' %}

    <table class="table-mybordered">

        <thead>
           <tr><td class="calendar" colspan="8">
                 <form action="{{ path('changements_calendar') }}" method="post" {{ form_enctype(form) }}>
  <div class="controls">
          {{ form_widget(form.idStatus,{'attr': { 'style': 'font-size:14px;height:30px;' } }) }}   
                  {{ form_widget(form.publishedAt.year,{'attr': { 'style': 'font-size:14px;height:30px;width:100px' } }) }}
                  {{ form_widget(form.publishedAt.month,{'attr': { 'style': 'font-size:14px;height:30px;width:100px' } }) }}
               
                       {{ form_widget(form.publishedAt.day,{'attr': { 'style': 'display:none' } }) }}
                 {#    {{ form_row(form.publishedAt) }}#}
                     {{ form_rest(form) }}
                        {#
{{ form_widget(form) }}#}
    <button type="submit" class="btn btn-medium btn-primary">Valider</button>
              </div>                           
          </form>  
                 
                </td></tr>
            <tr class="title">
              
                <th width="150px">Semaine <i class="icon-white icon-arrow-down"></i> /Jour <i class="icon-white  icon-arrow-right"></i></th> 
                <th> Lundi</th>
                <th> Mardi</span></th>
                <th> Mercredi</span></th>
                <th> Jeudi</span></th>
                <th> Vendredi</span></th>
                <th> Samedi</span></th>
                <th> Dimanche</span></th>
            </tr>  
        </thead>
        <tbody>
            <tr class="single">
    {% for week in month %}
        <td class="title"> Semaine-{{ week }}</td>
        {% for day in week %}
            <td class="datas">
            {#% if month.includes(day) %#}
            {% if month.contains(day.begin) %}
                <span class="label label-warning"> {{ day.begin.format('d') }} </span>
                {% for event in evenement.find(month) %}
                    {# {% for event in evenement.find(day) %}#}
                    {% if day.containsEvent(event) %}
                
                
                        {% set mycolor=foo[loop.index0] %}
                {% if event.dateFin is null %}  {% set  eventclass = "eventrun" %} 
                {% else %}{% set  eventclass = "event run" %} 
                {% endif %}
                
                        <div class="{{ eventclass }}" style="background-color: {{ mycolor }}">
                           {% set  toto = event.nom %} 
                           {% if toto|length > 25 %}
                               {% set  toto = toto|slice(0, 25) ~ '..' %} 
                            {% endif %}
                               <a class="calendar editme" title="Opération: {{ event.nom }} - Demandeur: {{ event.demandeur }}" href="{{ path('changements_showXhtml', { 'id': event.uid }) }}">
                        {{ toto }}
                        </a>
                        </div>
   
                   {% elseif week.containsEvent(event) %}
                      <div class="noevent">&nbsp;   </div>
                  {#{% else %}#}
                  {% endif %}
                {% endfor %}
           {% else %}
                &nbsp;
           {% endif %}
           </td>
        {% endfor %}
</tr>
{% endfor %}
</table>
 
{% endblock %}
    
    
    

               