{% extends "ApplicationChangementsBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/sliding.css') }}" type="text/css" media="all"/>
<style>
        a.calendar {
        color:whitesmoke;}
    tr.title {
        background-color: #757575;
        font-size: 14px;
    }
     td {
        background-color: red;
        font-size: 12px;
    }
    td.calendar{
        margin-top:5px;
         padding-top:5px;
        background-color:gainsboro;
        font-size: 12px;
        text-align:center;
    }
    .table-bordered {
        border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: black;
  
    border-collapse: collapse;
width:98%;
   
    }
  .table-condensed td {
    padding: 0px 0px;
  
}

     /*color1 { */
    </style>
 {% endblock %}


{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
          
$(document).ready(function() {
//$(function() {
  $( "#grid_certificatsgrid__dateDebut__query__from" ).datepicker({
maxDate: "+3M +10D",
changeMonth: true,
changeYeat: true,
numberOfMonths: 1,
dateFormat: "yy-mm-dd",
onClose: function( selectedDate ) {
$( "#form_bis" ).datepicker( "option", "minDate", selectedDate );
}
});
 
$(function() {
$( "#datepicker" ).datepicker();
});
});
</script>

{% endblock %}
{% block content_header '' %}

{% block title %}
Changements Calendrier
{% endblock %}


{% block content %}
  {% set foo = ['#C9BE62',
        '#ADA96E',
        '#B1FB17',
        '#79BAEC',
        '#736F6E',
        '#6D7B8D',
'#ADA96E',
        '#B1FB17',
        '#79BAEC',
        '#736F6E',
        '#6D7B8D','#ADA96E',
        '#B1FB17',
        '#79BAEC',
        '#736F6E',
        '#6D7B8D','#ADA96E',
        '#B1FB17',
        '#79BAEC',
        '#736F6E',
        '#6D7B8D']
 %}
{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
<div class="alert alert-{{ type }}">
            {{ flashMessage|trans }}
    </div>
    {% endfor %}
{% endfor %}

{#Date: <div id="datepicker"></div>#}
{#% set events = calendr_events(week) %#}
{# outputs $5,500.00 }
{{ '5500'|price }}

{{ 'Highlight this sentence'|highlight('i')|raw }}
{{ 'Highlight this sentence'|highlightme|raw }#}
  {#  <a href="{{ path('changements_newflow') }}" class="btn btn-medium btn-primary">Ajouter Changement</a>
     #}
    {#<table class="table small table-striped table-condensed table-hover">#}
<table class="table small table-striped table-condensed table-bordered table-hover">
        <thead>
           <tr><td class="calendar" colspan="8">
                 <form action="{{ path('changements_calendar') }}" method="post" {{ form_enctype(form) }}>
  
                 {#   {{ form_widget(form.month) }}
                         {{ form_widget(form.year) }}#}
                     {{ form_row(form.publishedAt) }}
                        {#
{{ form_widget(form) }}#}
    <button type="submit" class="btn btn-small btn-warning">Valider</button>
                                         
          </form>  
                </td></tr>
            <tr class="title">
              
                <th width="150px">Semaine <i class="icon-white icon-arrow-down"></i> /Jour <i class="icon-white  icon-arrow-right"></i></th> 
                <th> <span class="label label-warning">  Lundi</span></th>
                <th> <span class="label label-warning">  Mardi</span></th>
                <th> <span class="label label-warning">  Mercredi</span></th>
                <th> <span class="label label-warning">  Jeudi</span></th>
                <th> <span class="label label-warning">  Vendredi</span></th>
                <th> <span class="label label-warning">  Samedi</span></th>
                <th> <span class="label label-warning">  Diamche</span></th>
            </tr>  
        </thead>
        <tbody>
            <tr class="single">
    {% for week in month %}
                    <td><p class="text-warning"> S-{{ week }} </p></td>
            {% for day in week %}
                    <td>
                         {#% if month.includes(day) %#}
                    {% if month.contains(day.begin) %}
      <span class="label label-warning"> {{ day.begin.format('d') }} </span><br>
         {% for event in evenement.find(month) %}
        {# {% for event in evenement.find(day) %}#}
      {% if day.containsEvent(event) %}
     
      {% set mycolor=foo[loop.index0] %}
       <div style="width:100%;padding-left:4px;margin-bottom:2px;border-bottom:1px solid;border-top:1px solid;background-color: {{ mycolor }};">
      
 {#<div style="width:100%;border:1px solid;margin-bottom:2px;padding-top:1px;padding-bottom:1px;margin:0px;background-color: {{ mycolor }};">
   #}  
       
                            <a class="calendar" href="{{ path('changements_show', { 'id': event.uid }) }}">
            {{ event }}</a>
            </div>
                  
     
      {% elseif week.containsEvent(event) %}
      
          <div style="width:100%;padding-left:4px;margin-bottom:4px;margin-top:1px">&nbsp;
    </div>
                                {% else %}
          {#<div style="width:100%;padding-left:4px;margin-bottom:2px;border-bottom:1px hidden;border-top:1px hidden;"> &nbsp;
    </div>#}
                  
                                {% endif %}
        {% endfor %}
                    {% else %}
                                &nbsp;
                    {% endif %}
                            </td>
            {% endfor %}
                        </tr>
    {% endfor %}

                </table>
{% endblock %}
    
    
    

               