{% extends "ApplicationChangementsBundle::layout.html.twig" %}

{% form_theme edit_form with 'ApplicationChangementsBundle:Form:tpl_form.html.twig' %}

{% block stylesheets %}

 {{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/ccpchangements.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.fileupload-ui.css') }}" type="text/css" media="all"/>    
  <link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.pnotify.default.css') }}" type="text/css" />
<style>
        .monlabel {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-weight: bold;
        }

        .boxlist {border: 1px solid #D4E0EE;background-color: #f1f1f1;
                  padding-left:10px;
                  width:300px;
        }
        .leserreurs {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size:12px;
            color:red;
        }
        .hrsep {color: blue;background-color: blue;height: 2px; }
        a.add_tag_link { color:whitesmoke;}
        a.myleft{float:right;margin-right:10px;margin-bottom:20px;}
        .ui-autocomplete-category {
            font-weight: bold;
            padding: .2em .4em;
            margin: .8em 0 .2em;
            line-height: 1.5;
        }

        .mytiny {width:30%;}
        .tinymce {height:300px;}
        td.description {text-align:center;vertical-align:middle;}
        .lastcol {max-width:200px}
        /*select#changements_idapplis,select#changements_idusers{height:200px;}*/
        
        
          select option:hover {
                background-color: #b6d1fd;
            }
            
            div#s2id_changements_idEnvironnement,
             div#s2id_changements_idapplis, div#s2id_changements_idusers,
             div#s2id_changements_searchfilter_idProjet,
             div#s2id_changements_searchfilter_idusers,ul.select2-choice {
           width:210px;
           
           /* min-width:200px;max-width:220px;*/
            }
         
            label,.mondiv { color:#02195e; font-size: 12px;
                            font-weight: normal;
                            line-height: 20px;}

            /* select#changements_searchfilter_idStatus{
               }*/
             .select2-choice {
     width:167px;
}
div.testa{background-color: red;width:100px;position: absolute;left:100px;}
.select2-container {
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: top;
}
#myform label.error {
	margin-left: 10px;
	width: auto;
	display: inline;
        color:red;
/*
.trseparation{border:2px;
              border-color:black;}.table-mybordered {
    border-spacing: 1px;
    border-collapse: collapse;
    text-align: left;
}*/

    </style>
{#  {{ form_stylesheet(edit_form) }}#}
<link rel="stylesheet" href="{{ asset('select2/select2.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('select2/select2-bootstrap.css') }}" type="text/css" media="all"/>


{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ tinymce_init() }}
  {# <script type="text/javascript" src="{{ asset('select2/select2.js') }}"></script>
   <script type="text/javascript" src="{{ asset('select2/select2_locale_fr.js') }}"></script>#}


    <script>

        /*
         $(document).ready(function() {
        
         });*/
 // Récupère le div qui contient la collection de tags
        var collectionHolder = $('ul.tags');
        var mybutton_add = '<button class="btn btn-small btn-primary"><i class="icon-plus-sign"></i> Ajouter Fichier</button>';
        var mybutton_del = '<button class="btn btn-small btn-danger"><i class="icon-remove-sign"></i> Supprimer Fichier</button>';
 // ajoute un lien « add a tag »

 //var $addTagLink = $('<hr class="hrsep"><a href="#" class="add_tag_link">' + mybutton_add + '</a>');
        var $addTagLink = $('<a href="#" class="add_tag_link">' + mybutton_add + '</a>');
 //var $addTagLink = $('<hr><a href="#" class="add_tag_link"><button id="show" type="submit" name="submit-filter" class="btn btn-small btn-primary"><i class="icon-plus-sign"></i>Ajouter Fichier</button></a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);

                   
        jQuery(document).ready(function() {
            // ajoute l'ancre « ajouter un tag » et li à la balise ul

            collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });
            collectionHolder.append($newLinkLi);
            $addTagLink.on('click', function(e) {
                // empêche le lien de créer un « # » dans l'URL
                e.preventDefault();

                // ajoute un nouveau formulaire tag (voir le prochain bloc de code)
                addTagForm(collectionHolder, $newLinkLi);
            });
        });
        function addTagForm(collectionHolder, $newLinkLi) {
            // Récupère l'élément ayant l'attribut data-prototype comme expliqué plus tôt
            var prototype = collectionHolder.attr('data-prototype');

            // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
            // la longueur de la collection courante
            var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);

            // Affiche le formulaire dans la page dans un li, avant le lien "ajouter un tag"
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
            // ajoute un lien de suppression au nouveau formulaire
            addTagFormDeleteLink($newFormLi);
        }
        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#">' + mybutton_del + '</a><hr class="hrsep">');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // empêche le lien de créer un « # » dans l'URL
                e.preventDefault();

                // supprime l'élément li pour le formulaire de tag
                $tagFormLi.remove();
            });
        }
         
       
           

        </script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/datenew.js') }}"></script>
       

         <script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/listprojetapplis.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bootstrap/js/jquery.pnotify.min.js') }}"></script>
           <script type="text/javascript" src="{{ asset('jquery/validate/jquery.validate.js') }}"></script>
        <script type="text/javascript" src="{{ asset('select2/select2.js') }}"></script>
        <script type="text/javascript" src="{{ asset('select2/select2_locale_fr.js') }}"></script>        <script>
         
$().ready(function() {
	// validate the comment form when it is submitted
	
        $("#myform").validate();
      
$.each($(".select2-container"), function (i, n) {
            $(n).next().show().fadeTo(0, 0).height("0px").css("left", "auto"); // make the original select visible for validation engine and hidden for us
            $(n).prepend($(n).next());
            $(n).delay(500).queue(function () {
                $(this).removeClass("validate[required]"); //remove the class name from select2 container(div), so that validation engine dose not validate it
                $(this).dequeue();
            });
        });
});

</script>
        {#
<script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
<script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'validators' }) }}"></script>
#}
       {{ form_javascript(edit_form) }}
{#{{ JSFV(edit_form) }}#}
{% endblock %}

{% block content_header '' %}
{% block title %}EDITION OPERATION{% endblock %}
{% block content %}

{% set btnretour = app.session.get('buttonretour') %}
{% if btnretour is not defined or btnretour =="" %}
{% set btnretour = 'changements_fanta' %}
{% endif %}
{% include 'ApplicationChangementsBundle:templates:flash.html.twig' %}
    
  {#------------------------------------------------#}

<div id="divchmgt" style="display: none;">{{ entity.id }}</div>

        <form  id="myform" action="{{ path('changements_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
              {#------------------------------------------------
                   TABLE HTML
                  -------------------------------------------------#}
           
            <table class="table-mybordered">
                <tr>
                    {#------------------------------------------------
                    LIGNE 1 CELL 1
                    -------------------------------------------------#}
                <td class="calendar file">
                        <div> {{ form_row(edit_form.nom) }}</div>
                       <br/> <br/>
                        <div> {{ form_row(edit_form.dateDemande) }} </div>
                        <br/> <br/>
                        <div> {{ form_row(edit_form.dateDebut) }} </div>
                       
          
                     </td>
                    {#------------------------------------------------
                    LIGNE 1 CELL 2
                    -------------------------------------------------#}
             
                    <td class="calendar mytiny">
                        <div>{{ form_row(edit_form.idProjet) }}</div>
                        {{ form_row(edit_form.idStatus) }}
                         {{ form_row(edit_form.idEnvironnement) }}
                      
                       
                    </td>
                    {#------------------------------------------------
                    LIGNE 1 CELL 3
                    -------------------------------------------------#}
            
                   <td class="calendar lastcol">
                     
                   <div>  {{ form_row(edit_form.demandeur) }}</div>
                   <div>  {{ form_row(edit_form.idusers) }}</div>
                   <div>  {{ form_row(edit_form.idapplis) }}</div>
                           
                           
                   </td>
                </tr>
                
{#=====================================================================
                   LIGNE 2 : CHAMPS OPTIONNELS
=====================================================================#}
                <tr class="trseparation">
                      {#------------------------------------------------
                    LIGNE 2 CELL 1
                    -------------------------------------------------#}
                    <td class="calendar file">
                      
                        <div>{{ form_row(edit_form.dateFin) }} </div>
                      
                     <br/> <br/>
                        <div>{{ form_row(edit_form.dateComep) }}</div>
                        <br/> <br/>
                        <div> {{ form_row(edit_form.dateVsr) }}</div></td>
                    
                   {#------------------------------------------------
                   LIGNE 2 CELL 2
                   -------------------------------------------------#}
                 
                     <td class="calendar mytiny">
                           {{ form_row(edit_form.idKind) }}
                         {{ form_row(edit_form.astreinte) }}</td>
                        {#------------------------------------------------
                    LIGNE 2 CELL 3
                    -------------------------------------------------#}
                 
                    <td class="calendar lastcol">
                    {{ form_row(edit_form.ticketExt) }}
                     <br/> <br/>
                     {{ form_row(edit_form.ticketInt) }}</td>
                </tr>
                <tr>
                    <td class="calendar description" colspan="3">
                        {{ form_row(edit_form.description,{ 'attr': {'class': 'tinymce'} }) }}
                        </td>
               </tr>
                {#------------------------------------------------
                   LIGNE 2
                  -------------------------------------------------#}
                <tr>                   
                   <td class="calendar" colspan="3">
                        <ul class="tags" data-prototype="{{ form_widget(edit_form.picture.vars.prototype)|e }}">
                        {% for tag in edit_form.picture %}
                        <li> 
                        {{ form_errors(tag.file) }}
                        {{ form_widget(tag.file) }}
                        {{ form_errors(tag.name) }}
                        {{ form_widget(tag.name) }}
                        {#  {{ form_widget(tag.OriginalFilename) }}#}
                        </li>
                        {% endfor %}
                        </ul>
                 </td>
                </tr>  
                    {#------------------------------------------------
                   LIGNE 3
                  -------------------------------------------------#}
           
                <tr>
                    <td class="calendar" colspan="3"> {{ form_rest(edit_form) }} 
                        <button type="submit" class="btn btn-large btn-warning">Modifier</button>
                        <a href="{{ path(btnretour) }}" class="myleft btn btn-large btn-success">Retour</a>
                </form>

                    
                </td>
                </tr>
                {% if is_granted('ROLE_SUPER_ADMIN')  %}
                <tr>
                 <td class="calendar" colspan="3"> 
                   
                    <form action="{{ path('changements_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_errors(delete_form) }}
                    {{ form_row(delete_form.id) }}
                    {{ form_rest(delete_form) }}
                    <div style="text-align:right;margin-bottom:10px;">
                        <button type="submit" class="btn btn-medium btn-danger" onclick="if (!confirm('Are you sure?')) {
                        return false;
                        }">Supprimer Opération</button>
                    </div>
                            {#
                            <div class="control-group warning">
  <label class="control-label" for="e1">Input with warning</label>
  <div class="controls">
    <select id="e1">
      <option value="AL">Alabama</option>
      ...
      <option value="WY">Wyoming</option>
    </select>
    <span class="help-inline">Something may have gone wrong</span>
  </div>
</div>#}
                    </form>
              
                         </td>
            </tr>
              {% endif %}
</tbody>
</table>

{#=====================================================================
                   LES FICHIERS DE LA DEMANDE
=====================================================================#}
                        

<h3><center>Liste des Fichiers associés</center></h3>
<table class="table table-bordered table-hover">
    <thead>
        <tr class="title"><th>id</th><th>Nom</th><th>Path</th></tr>
    </thead>
   <tbody>
    {% for fic in entity.picture %}
        <tr class="closed">
            <td>{{ fic.id }}</td>
            <td>{{ fic.name }}</td>
            <td><a href="{{ path('docchangements_download', { 'id': fic.id }) }}">{{ fic.path }}</a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
    
{% endblock %}
                                            
                                            
                      
                        
                        
                         