{% extends "ApplicationChangementsBundle::layout.html.twig" %}

{% form_theme edit_form with 'ApplicationChangementsBundle:Form:tpl_form.html.twig' %}

{#
{% use 'form_div_layout.html.twig' with form_label as base_form_label %}

{% block form_label %}
    {{ block('base_form_label') }}

    {% if required %}
        <span class="required" title="This field is required">*</span>
    {% endif %}
{% endblock %}
#}
{% block stylesheets %}
 {{ parent() }}
{#
 <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/sliding.css') }}" type="text/css" media="all"/>
          <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/changements.css') }}" type="text/css" media="all"/>
          <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/colorbox.css') }}" type="text/css" media="all"/>
 #}
<link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/ccpchangements.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('select2/select2.css') }}" type="text/css" media="all"/>

<style>
        .monlabel {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-weight: bold;
        }

        .boxlist {border: 1px solid #D4E0EE;background-color: #f1f1f1;
                  padding-left:10px;
                  width:300px;
        }
        .leserreurs {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size:18px;
            color:red;
        }
        .hrsep {color: blue;background-color: blue;height: 2px; }
        a.add_tag_link { color:whitesmoke;}

        .ui-autocomplete-category {
            font-weight: bold;
            padding: .2em .4em;
            margin: .8em 0 .2em;
            line-height: 1.5;
        }

        .mytiny {width:380px;}
        .tinymce {height:300px;}
        td.description {text-align:center;vertical-align:middle;}
        .lastcol {width:250px;}
        select#changements_idapplis,select#changements_idusers{height:200px;}
    </style>
{#  {{ form_stylesheet(edit_form) }}#}

{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ tinymce_init() }}
  {# <script type="text/javascript" src="{{ asset('select2/select2.js') }}"></script>
   <script type="text/javascript" src="{{ asset('select2/select2_locale_fr.js') }}"></script>#}


    <script>

        /*
         $(document).ready(function() {
        
         });*/
 // Récupère le div qui contient la collection de tags
        var collectionHolder = $('ul.tags');
        var mybutton_add = '<button class="btn btn-small btn-primary"><i class="icon-plus-sign"></i> Ajouter Fichier</button>';
        var mybutton_del = '<button class="btn btn-small btn-danger"><i class="icon-remove-sign"></i> Supprimer Fichier</button>';
 // ajoute un lien « add a tag »

 //var $addTagLink = $('<hr class="hrsep"><a href="#" class="add_tag_link">' + mybutton_add + '</a>');
        var $addTagLink = $('<a href="#" class="add_tag_link">' + mybutton_add + '</a>');
 //var $addTagLink = $('<hr><a href="#" class="add_tag_link"><button id="show" type="submit" name="submit-filter" class="btn btn-small btn-primary"><i class="icon-plus-sign"></i>Ajouter Fichier</button></a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);

        jQuery(document).ready(function() {
            // ajoute l'ancre « ajouter un tag » et li à la balise ul

            collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });
            collectionHolder.append($newLinkLi);
            $addTagLink.on('click', function(e) {
                // empêche le lien de créer un « # » dans l'URL
                e.preventDefault();

                // ajoute un nouveau formulaire tag (voir le prochain bloc de code)
                addTagForm(collectionHolder, $newLinkLi);
            });
        });
        function addTagForm(collectionHolder, $newLinkLi) {
            // Récupère l'élément ayant l'attribut data-prototype comme expliqué plus tôt
            var prototype = collectionHolder.attr('data-prototype');

            // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
            // la longueur de la collection courante
            var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);

            // Affiche le formulaire dans la page dans un li, avant le lien "ajouter un tag"
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
            // ajoute un lien de suppression au nouveau formulaire
            addTagFormDeleteLink($newFormLi);
        }
        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#">' + mybutton_del + '</a><hr class="hrsep">');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // empêche le lien de créer un « # » dans l'URL
                e.preventDefault();

                // supprime l'élément li pour le formulaire de tag
                $tagFormLi.remove();
            });
        }

        </script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/datenew.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/listprojetapplis.js') }}"></script>

       {{ form_javascript(edit_form) }}

{% endblock %}



{% block content_header '' %}
{% block title %}EDITION OPERATION{% endblock %}
{% block content %}


<div id="divchmgt" style="display: none;">{{ entity.id }}</div>

        <form action="{{ path('changements_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            <table class="table-mybordered">

                <tr><td class="calendar file">
                        <div> {{ form_row(edit_form.nom) }}</div>
                        <br/> <br/>
                        <div> {{ form_row(edit_form.dateDebut) }} </div>
                        <br/> <br/>
                        <div>{{ form_row(edit_form.dateFin) }} </div>
                        <br/> <br/>
                        <div>{{ form_row(edit_form.dateComep) }}</div>
                        <br/> <br/>
                        <div> {{ form_row(edit_form.dateVsr) }}</div>
                        
                        <br/> <br/>
                        <div> {{ form_row(edit_form.idKind) }}</div>
                       
                 
             {#    {% do edit_form.picture.setRendered() %} #} 

                    </td>


                    <td class="calendar mytiny">
                        <div>
                            {{ form_row(edit_form.idProjet) }}</div>
                            <div class="boxlist">{{ form_row(edit_form.idEnvironnement) }}</div>
                            <br>
                            <div class="boxlist">{{ form_row(edit_form.astreinte) }}</div>
                            <br>
                            <div class="boxlist">{{ form_row(edit_form.idStatus) }}</div>
                            <br>
                                 {{ form_row(edit_form.ticketExt) }}
                            <br/> <br/>
                        {{ form_row(edit_form.ticketInt) }}
                        </td>

                        <td class="calendar lastcol">
                                      {{ form_row(edit_form.idapplis) }}

                                      {{ form_row(edit_form.demandeur) }}

                                      {{ form_row(edit_form.idusers) }}
                            </td>
                        </tr>
                        <tr>  <td class="calendar description" colspan="3">
       {{ form_row(edit_form.description,{ 'attr': {'class': 'tinymce'} }) }}
                                    </td><tr/>
                                <tr>  <td class="calendar" colspan="3">

                                        <ul class="tags" data-prototype="{{ form_widget(edit_form.picture.vars.prototype)|e }}">

       {% for tag in edit_form.picture %}

                                            <li> 
  {{ form_errors(tag.file) }}
      {{ form_widget(tag.file) }}
        {{ form_errors(tag.name) }}
         {{ form_widget(tag.name) }}
          {#  {{ form_widget(tag.OriginalFilename) }}#}
                                                </li>
    {% endfor %}

                                            </ul>



                                        </td>
                                    </tr>     
                                    <tr>
                                        <td class="calendar" colspan="3"> {{ form_rest(edit_form) }} 
                                            <button type="submit" class="btn btn-large btn-warning">Modifier</button>
                                            <a href="{{ path('changements_posttest') }}" class="btn btn-large btn-success">Retour</a>
                                            </form>


                                            <form action="{{ path('changements_delete', { 'id': entity.id }) }}" method="post">
                                     {{ form_errors(delete_form) }}
                                     {{ form_row(delete_form.id) }}
                                     {{ form_rest(delete_form) }}
                                                    <div style="text-align:right">
                                                        <button type="submit" class="btn btn-medium btn-danger" onclick="if (!confirm('Are you sure?')) {
               return false;
           }">Supprimer Projet</button>
                                                    </div>
                                                </form>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>


                                    <h3><center>Liste des Fichiers associés</center></h3>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr class="title"><th>id</th><th>Nom</th><th>Path</th></tr>
                                        </thead>
                            {% for fic in entity.picture %}
                                        <tr class="closed">
                                            <td>{{ fic.id }}</td>
                                            <td>{{ fic.name }}</td>
                                            <td><a href="{{ path('docchangements_download', { 'id': fic.id }) }}">{{ fic.path }}</a></td>
                                                      <!-- <a href="{#{ asset('bundles/my/Resources/public/pdf/dok.pdf') }#}">Download PDF!</a>-->
                                        </tr>
                            {% endfor %}
                                        </tbody>
                                    </table>
                                {#
<label for="search">Search: </label>
<input id="search" />
<p>
<select id="e1" class="populate" style="width:300px"></select>
</p>#}
{% endblock %}