{% extends "ApplicationChangementsBundle::layout.html.twig" %}
{% macro icon_class( type ) %}
  {% set type_class_map = {
    like: 'icon-user'
  } %}
  {{ type_class_map[type] }}
{% endmacro %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 
    '@ApplicationChangementsBundle/Resources/public/js/jquery.cookie.js'
    '@ApplicationChangementsBundle/Resources/public/js/changementsown.js'
    '@ApplicationChangementsBundle/Resources/public/js/jquery.colorbox.js'
    '@ApplicationChangementsBundle/Resources/public/js/editme.js'

      output='js/compiled/changementsown.js' filter='?yui_js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{#
<script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/jquery.colorbox.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/editme.js') }}"></script>
#}

    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/changementsicons.js') }}"></script>
{% endif %}
   {{ form_javascript(search_form) }}
{% endblock %}


  {% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/ccpchangements.css') }}" type="text/css" media="all"/>
   <style>

            .table {
                font-size: 11px;
                /* border-collapse: separate;*/
                /*  font-family: 'Times New Roman',Times,serif;*/
            }
            label {
                color:#02195e;
              /*  text-align: left;*/
    
}


        </style>
         {{ form_stylesheet(search_form) }}
{% endblock %}

{% block content_header '' %}

{% block title %}
        PLANNING DES OPERATIONS
{% endblock %}

{% block content %}
 
{% set dateright = '30' %}
{% set date_right_warning= '+' ~  dateright ~ 'days' %}
{#{% set date_right_warning= '+15days' %}#}
{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ flashMessage|trans }}
        </div>

    {% endfor %}
{% endfor %}

{% include 'ApplicationChangementsBundle:Changements:indexpostamoi_part1.html.twig' %}

{% include 'ApplicationChangementsBundle:Changements:indexpostamoi_part2.html.twig' %}


{% endblock %}