{% extends "ApplicationChangementsBundle::layout.html.twig" %}
{% form_theme search_form with 'ApplicationChangementsBundle:Form:tpl_searchform.html.twig' %}


{% macro icon_class( type ) %}
  {% set type_class_map = {
    like: 'icon-user'
  } %}
  {{ type_class_map[type] }}
{% endmacro %}

{% block javascripts %}
    {{ parent() }}
<script type="text/javascript" src="{{ asset('js/compiled/changementsown.js') }}"></script>
{#{% if is_granted("IS_AUTHENTICATED_FULLY") %}#}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/changementsfanta.js') }}"></script>
  <script type="text/javascript" src="{{ asset('select2/select2.js') }}"></script>
   <script type="text/javascript" src="{{ asset('select2/select2_locale_fr.js') }}"></script>

<script>
    $(function() {
        if ($.cookie('Boxchangementown') == 1) {
            $(document).scrollTop($("#matable").offset().top - 100);
        }
    });
    </script>
{#{% endif %}#}
  {{ form_javascript(search_form) }}
{% endblock %}


  {% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/ccpchangements.css') }}" type="text/css" media="all"/>
       <link rel="stylesheet" href="{{ asset('select2/select2.css') }}" type="text/css" media="all"/>
       <style>
 /*div#second{ float:left;}*/
  div.txtfirst{ width:170px;float:left;}
    div.txtsecond{ float:left;}
    td.central {min-width:350px;}
  
             div#showHideBoxown{width:100%;min-height:300px;}
            th.sorted{color: rgb(0, 136, 204);
                      text-decoration: none;}
            .ui-autocomplete { max-height: 200px; overflow-y: scroll; overflow-x: hidden;}
            
            td{
                font-size: 12px;
               /* font-family: 'Times New Roman',Times,serif;*/
                /* border-collapse: separate;*/
                  font-family: 'Times New Roman',Times,serif;
            }
            select option:hover {
                background-color: #b6d1fd;
            }
            
            /* #s2id_autogen2.select2-input.select2-default {*/
            div#s2id_changements_searchfilter_idEnvironnement,
             div#s2id_changements_searchfilter_idProjet,div#s2id_changements_searchfilter_idStatus,
             id#s2id_autogen1,
             div#s2id_changements_searchfilter_idusers {
           
            min-width:167px;
            }
            select#changements_searchfilter_idusers{
                height:150px;}
            label,.mondiv { color:#02195e; font-size: 12px;
                            font-weight: normal;
                            line-height: 20px;}

            /* select#changements_searchfilter_idStatus{
               }*/
            .select2-choice {
                    width:167px;
            }
            div#mybutton {

                padding-top: 130px; 
                margin-left: 5px;
            }
            div.pagerfanta nav{ margin:auto;width:auto;}
            div.toto label input, div.toto label {
                float: left;
            }

            div.toto label input {
                clear: left;
            }
            th i{
                color: #333333;
                font-size:14px; }
            .montext {
                /*   color: #fff;*/
                /* text-shadow: 5px 5px 1px red;*/
                padding-bottom:4px;
                padding-top:4px;
                padding-left:5px;
                font-size: 1.5em;
                float: right;
            }
            div#myform  {
              padding-left: 0px;
               margin-left:1px;
                width:100%;
                position:relative;
                /*float:left;*/
                background-color: gray;
            }
            form.form {
             width:500px;
            margin-left:0px;
            float:left;
            }
            
               div#minidatepicker {
                 font-size: 110%;
                 /* margin-left:5px;*/
                  padding-right:30px;
                  margin-bottom:20px;
                  width:250px;
                  height:250px;float:right;
                
         /*  border: 1px solid #000000;*/
            }
            /* override free days background in jquery ui datepicker */
          
        /* override free days background in jquery ui datepicker */
    
      /* td.ui-datepicker-today:after{
    content: "Today"
}*/
   
          .free-day {
                background: #2e9500;
            }
        /* div#minidatepicker {
             
                font-size: 120%;
                width:300px;
                height:200px;
                  float:left;
                  }
                  */
            .free-day a {
                opacity: 0.7;
            }

            .clear { clear:both; }
            a.btn.btn-medium.btn-info {
            width:80px;}
           
            i.icon-info-sign icon-2x {
              padding-left:1px;}
        </style>
        
           {{ form_stylesheet(search_form) }}
{% endblock %}

{% block content_header '' %}

{% block title %}
       
        <span class="icon-stack">
            <i class="icon-check-empty icon-stack-base"></i>
            <i class="icon-table"></i>
        </span>    PLANNING DES OPERATIONS 
        <a class="btn btn-medium btn-info" href="#">
            <i class="icon-info-sign icon-2x"></i> <div class="montext">{{ nbResults }}</div></a> 
{% endblock %}

{% block content %}

{% set dateright = '30' %}
{% set date_right_warning= '+' ~  dateright ~ 'days' %}
{#{% set date_right_warning= '+15days' %}#}

{% include 'ApplicationChangementsBundle:templates:flash.html.twig' %}
    
<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- dialog body -->
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        Hello world!
      </div>
      <!-- dialog buttons -->
      <div class="modal-footer"><button type="button" class="btn btn-primary">OK</button></div>
    </div>
  </div>
</div>    {#
<div id="dialog" title="Basic dialog">
    <p>This is an animated dialog which is useful for displaying information. 
        The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>#}

{% include 'ApplicationChangementsBundle:templates:container_search.html.twig' 
        with {
            'form_path': 'changements_fanta',
'status_form':status_form,
            'search_form': search_form,'box':"ShowHideBoxown",
             'new_flow_path': 'changements_newflowstart',
            'new_path': 'changements_newchangement',
            'new_text':"Ajouter une Opération",
              'include_html_search':  'ApplicationChangementsBundle:Changements:indexsearchsimple_form.html.twig'
}
%}


{#{% set mabar = {'foo': 'bar'} %}#}
{% set itemsa = { 'a.id': ['50px','icon-time','ID'],'a.nom':['80px','icon-user','Nom'],
'g.id':['40px','icon-star','Fav.'],
'a.dateDebut': ['80px','icon-time','Debut'],'a.dateFin': ['80px','icon-time','Fin'],
'b.nomprojet': ['80px','icon-tag','Projet'],'a.demandeur': ['30px','icon-user','D'],
 } %}

{% set itemsb = { 'e.nomUser': ['80px','icon-group','Users'],'d.nom':['30px','icon-flag','F'],
'a.ticketExt': ['80px','icon-tag','T_Ext'],'a.ticketInt': ['70px','icon-tag',' T_Int'],
'g.nom': ['40px','icon-tag','Env'],
 } %}      

        <div id="matable">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr class="title">
                <script>var menuDownUrl = "{{ asset('bundles/applicationcertificats/images/') }}";</script>



         {% for key, value in itemsa %}

                <th style="min-width:{{ value[0] }}"  class="sorted">
                    <a href="{{ path('changements_fanta', {'sort':key,'dir':next_dir}) }}">
            {{ value[2] }} </a> <i class=" {{ value[1] }}"></i>
            {% if arrow[key] is defined %}
                        <i class={{ arrow[key] }}></i>
            {% endif %}
                    </th>
        {% endfor %}
                    <th style="min-width:30px" class="sorted">      <i class=" icon-book"></i></th>
                    <th class="sorted">     <i class=" icon-pencil"></i></th>

                                    {% for key, value in itemsb %}

                    <th style="min-width:{{ value[0] }}"  class="sorted">
                        <a href="{{ path('changements_fanta', {'sort':key,'dir':next_dir}) }}">
                            {{ value[2] }} </a> <i class=" {{ value[1] }}"></i>
                             {% if arrow[key] is defined %}
                            <i class={{ arrow[key] }}></i>
                                     {% endif %}
                        </th>
                             {% endfor %}


                        <th colspan="4">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
    {% for entity in  pagerfanta.currentPageResults %}
                                 {% if entity.idStatus.description == 'closed' %} 
                            {# <tr class="closed">#}
                                <tr class="myclosed">
                                 {# sinon: open prepare ou wait #}
                            {% else %}
                                   {% if entity.idStatus.description == 'prepare' or  entity.idStatus.description == 'wait'%} 
                                    <tr class="prepare">
                                         {# encours==open#}
                                       {% else %}
                                        <tr class="success">
                                     {% endif %}
                              {% endif %}

                                                <td>{{ entity.id }}</td>
                                                <td><a href="{{ path('changements_show', { 'id': entity.id }) }}">{{ entity.nom }}</a></td>
                              {#<td>{% if entity.dateDebut %}{{ entity.dateDebut|date('Y-m-d H') ~ 'h' }}{% endif %}</td>#}
             
                                           <td>         
            {% if not is_granted("ROLE_USER") %}   
      <img src="{{ asset('bundles/applicationchangements/images/star-off.png') }}" alt="show" width="15px" height="15px" />
    {% else %}                                           
    {#  {% if user_id in entity.idfavoris|keys %}
      ok
<ul>
    {% for user in users if user.active %}
        <li>{{ user.username }}</li>
    {% endfor %}
</ul>             
  #}
      {% set myfavori = 0 %}
  {% for favoris in entity.idfavoris  if myfavori==0 %}
     {% if favoris.id ==  user_id %}
       {% set myfavori = 1 %}
     {# {{ loop.last }}#}
    {#  {% set loop.index0 = loop.last %}#}
      {% endif %}
              
                    {% endfor %}
                
                {% if myfavori == 0 %}
                      <a class="favoris" data-id="{{entity.id}}" data-name="{{entity.nom}}" data-status="{{ myfavori }}" href="#here">
                 <img src="{{ asset('bundles/applicationchangements/images/star-off.png') }}" alt="show" width="15px" height="15px" />
                        </a>
   
                {% else %}
                        <a class="favoris"  data-id="{{entity.id}}" data-name="{{entity.nom}}" data-status="{{ myfavori }}" href="#here">
                 <img src="{{ asset('bundles/applicationchangements/images/star-on.png') }}" alt="show" width="15px" height="15px" />
                        </a>
   
                {% endif %}
              {#  
                {% for key, user in entity.idfavoris %}
        <li>{{ key }}: {{ user.username|e }}  {{ user.id|e }}</li>
    {% endfor %}
#}
       {#   {% set myarr = entity.idfavoris['id'] %}#}

                {#
{% for favoris in entity.idfavoris %}    
    {% if favoris.id is in_array(array_keys(someOtherArray)) %}
       {{ myVar }} exists within someOtherArray.
    {% else %}
       {{ myVar }} doesn't exist within someOtherArray.
    {% endif %}
{% endfor %}
#}
           {% endif %}
    {#
                {% endif %}
                 {% for myVar in someArray %}    
    {% if myVar is in_array(array_keys(someOtherArray)) %}
       {{ myVar }} exists within someOtherArray.
    {% else %}
       {{ myVar }} doesn't exist within someOtherArray.
    {% endif %}
{% endfor %}
#}
                                               </td>
                                                    
                                                    <td>{{ entity.dateDebut|date('Y-m-d') }}</td>
                                                    <td>
                                {% if entity.dateFin  %}
                                      {{ entity.dateFin|date('Y-m-d') }}
                                      {% else %}
                                                            ---
                                    {% endif %}
                                                        </td>

                                                        <td>{{ entity.idProjet.nomprojet }}</td>
                                                        <td>{{ entity.demandeur.nomUser }}</td>
                                                        <td>
                                {% if entity.picture|length > 0  %}
                                                                <img src="{{ asset('bundles/applicationchangements/images/wordx.gif') }}" alt="show" width="12px" height="12px"/>x {{  entity.picture|length }}
                                    {% else %}
                                                                -
                                      {% endif %}
                                   {# {{ entity.picture|length }}#}
                                                            </td>
                                                            <td>{{ entity.comments|length }}</td>
                                                            <td>
                                  {{ entity.idusers|join(', ') }}   
                                                                </td>
                                                                 <td style="min-width:45px"> 
                                {% if entity.idStatus.description == 'open' %}
                                                       <a class="open" data-name="{{entity.nom}}" data-id="{{entity.id}}"  href="#{{ entity.id }}">
                                                       <img src="{{ asset('bundles/applicationchangements/images/cadenas-souvert.png') }}" alt="show" width="15px" height="15px"/>
                                                       </a>
                                {% elseif   entity.idStatus.description == 'closed' %}
                                                            <a class="closed" data-name="{{entity.nom}}" data-id="{{entity.id}}"  href="#{{ entity.id }}">
                                                                            <img src="{{ asset('bundles/applicationchangements/images/cadenas-sferme.png') }}" alt="show" width="15px" height="15px" />
                                                                        </a>
                              {% elseif   entity.idStatus.description == 'REPORTE' %}
                                                                        <a class="open" data-name="{{entity.nom}}" data-id="{{entity.id}}"  href="#{{ entity.id }}">
                                                                           <img src="{{ asset('bundles/applicationchangements/images/cadenas-sreport.png') }}" alt="show" width="15px" height="15px" />
                                                                         </a>
                                                                         
                                                                         {% else %}
                                                                        <a class="open" data-name="{{entity.nom}}" data-id="{{entity.id}}"  href="#{{ entity.id }}">
                                                                           <img src="{{ asset('bundles/applicationchangements/images/cadenas-sbleu.png') }}" alt="show" width="15px" height="15px" />
                                                                         </a>
                                                                         
                               {% endif %}
                                                                    </td> 
                                                                    <td> {{ entity.ticketExt }}   </td>
                                                                    <td> {{ entity.ticketInt }}   </td>


                                                                    <td> 
                                {% for envir in entity.idEnvironnement %}
                                    {{ envir }} <br>
                                    {% endfor %}
                                                                        </td>
                                                                        
                                                                               
                                                                              <td style="min-width:18px"> 
                                                                            <a class="editme" title="Opération: {{ entity.nom }}" href="{{ path('changements_showXhtml', { 'id': entity.id }) }}">
                                                                                <img src="{{ asset('bundles/applicationchangements/images/detail.png') }}" alt="show" width="15px" height="15px" />
                                                                            </a>
                                                                        </td>

                        {% if is_granted("ROLE_USER") %}
                                                                        <td style="min-width:18px"> <a href="{{ path('changements_edit', { 'id': entity.id }) }}">
                                                                                <img src="{{ asset('bundles/applicationchangements/images/edit.png') }}" alt="edit" width="15px" height="15px" />
                                                                            </a>
                                                                        </td>

                        {% endif %}

                                                                        <td>
                                                                            <a href="{{ path('changements_comment_show', { 'id': entity.id }) }}">
                                                                                <i class="icon-pencil" style="color:black"></i>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
    {% endfor %}
                                                                </tbody>
                                                            </table>    
                                                        </div>
                                                        <div class="pagination" align="center">
                        {#<div class="pagerfanta">#}
{#{{ pagerfanta(pagerfanta, 'default') }}#}
  {{ pagerfanta(pagerfanta, 'twitter_bootstrap') }}
                                                            </div>



                                                            <br>
{% endblock %}