{% extends "ApplicationChangementsBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/datagrid.css') }}" type="text/css" media="all" /> 
<style>/*
table {
    max-width: 98%;*/
   /* background-color: red;*/
   /* border-color: black;*/
/*border-style: solid;
border-width: 1px;*/
/* border-collapse:separate;*/
/* 
}*/
/*
table tr {
    max-width: 98%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0px;
}*/
.executer {
padding:5px;
margin:5px;
}
.mass-actions {
background-color: whitesmoke;
margin-bottom:15px;
padding:10px;
/*
border-color: black;
border-style: solid;
border-width: 1px;*/

}
tr:hover td {
    
    background-color:#a6a6a6;
  color:whitesmoke;
}
td {
    
    font-size:12px;
}

.grid table {
    width:100%;
}

.grid-search {
  background-color:whitesmoke;
/*height:300px;width:auto;*/
}

inout { width:150px;}

 .mysearch{ float:left;text-align: left;
         
}
div.mysearch {width:405px;}
div.mysearch span {width:150px;}
.grid-search label {
width: 80px;
display: inline-block;
text-align: right;
}

.mgrid-search-action {margin-left:20px;margin-top:10px;padding-left:10px;padding-top:10px;width: 300px;}
.grid_header {
    margin: 0 0px;
}
/*  .mgrid-search-action button{position:relative;}*/  </style>
{% endblock %}


{% block javascripts %}
{{ parent() }}
<script type="text/javascript">

$(document).ready(function() {

var mesdates=[
    "#grid_changementsgrid__dateDebut__query__from",
    "#grid_changementsgrid__dateDebut__query__to",
    "#grid_changementsgrid__dateFin__query__from",
    "#grid_changementsgrid__dateFin__query__to"
];

 mesdates.forEach(function(entry) {    

      $( entry ).datepicker({
    yearRange: '2010:2030',
    changeMonth: true,
    changeYear: true,
    numberOfMonths: 1,
    dateFormat: "yy-mm-dd",
    onClose: function( selectedDate ) {
    $( "#form_bis" ).datepicker( "option", "minDate", selectedDate );
    }
    });
});
});
</script>

{% endblock %}
{% block content_header '' %}

{% block title %}
        <span class="icon-stack">
            <i class="icon-check-empty icon-stack-base"></i>
            <i class="icon-table"></i>
        </span>    PLANNING DES OPERATIONS 
       
{% endblock %}
{% block content %}
 
{% include 'ApplicationChangementsBundle:templates:flash.html.twig' %}
{#
{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
<div class="alert alert-{{ type }}">
            {{ flashMessage|trans }}
    </div>
    {% endfor %}
{% endfor %}
#}
 {#{ date('-30days')|date('Y-m-d') }#}
  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('changements_newflowstart') }}" class=" ajoutchange btn btn-medium btn-primary">
                <i class=" icon-plus"></i> Ajouter un Changement
            </a>
        {% endif %}
<br> <br> 

{#
{% if not ajax_request %}
{{ grid_search(grid,'APYDataGridBundle::blocks_js.jquery.html.twig') }}
{% endif %}
{{ grid(grid,'APYDataGridBundle::blocks_js.jquery.html.twig') }}
#}

{{ grid_search(grid, _self) }}
{{ grid(grid, _self) }}


{#
{{ grid(grid, 'ApplicationChangementsBundle:Changements:blocks.html.twig') }} 
#}
{% endblock %}


{% block footer %}
{% endblock %}
        
{# -------------------------------------------------- grid_filters -------------------------------------------------- #}
{% block grid_filters %}
    
{% endblock grid_filters %}
{# -------------------------------------------------- grid_search -------------------------------------------------- #}
{% block grid_search %}
{% if grid.isFilterSectionVisible %}
    <div class="grid-search">
        <form id="{{ grid.hash }}_search" action="{{ grid.routeUrl }}" method="post">
       {# {% set long=floor(grid.columns/2) %}
                 {% for column in grid.columns %}#}
                
       <div>
            
         {% for column in grid.columns %}
          {# {{ dump(column) }}#}
            {% if column.visible(true) and column.isFilterable %}
               
                {% set columnTitle = grid.prefixTitle ~ column.title %}
                {% if column.filterable %}
                     <div class="mysearch"><label>{{ columnTitle|trans }}</label>
                       {{ grid_filter(column, grid, false)|raw }}

                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
          </div>          
                        
            <div class="mgrid-search-action">
                <button type="submit" class="btn btn-medium btn-primary" value="{{ 'Search'|trans }}">
                <i class="icon-plus-sign"></i> Filtrer</button>
                
                  <button type="button" class="btn btn-medium btn-danger" value="{{ 'Reset'|trans }}" onclick="return {{ grid.hash }}_reset();"/>
                <i class="icon-minus-sign"></i> Reset</button>
           </div>
        </form>
    </div>
<br>
{% endif %}
{% endblock grid_search %}
    
    
    
    
  
        {#============ADMIN ONLY======================#}
       
{% block grid_actions %}
 
         
 {% if is_granted('ROLE_SUPER_ADMIN')  %}
<div class="mass-actions">
<span class="grid_massactions_helper">
        <a href="#" onclick="return {{ grid.hash }}_markVisible(true);">{{ 'Select visible'|trans }}</a> |
        <a href="#" onclick="return {{ grid.hash }}_markVisible(false);">{{ 'Deselect visible'|trans }}</a> |
        <a href="#" onclick="return {{ grid.hash }}_markAll(true);">{{ 'Select all'|trans }}</a> |
        <a href="#" onclick="return {{ grid.hash }}_markAll(false);">{{ 'Deselect all'|trans }}</a>
        <span class="mass-actions-selected" id="{{ grid.hash }}_mass_action_selected"></span>
    </span>
    {% spaceless %}
      
    <div style="float:right;" class="grid_massactions">
        {{ 'Action'|trans }}
        <input type="hidden" id="{{ grid.hash }}_mass_action_all" name="{{ grid.hash }}[{{ constant('APY\\DataGridBundle\\Grid\\Grid::REQUEST_QUERY_MASS_ACTION_ALL_KEYS_SELECTED') }}]" value="0"/>
        <select name="{{ grid.hash }}[{{ constant('APY\\DataGridBundle\\Grid\\Grid::REQUEST_QUERY_MASS_ACTION') }}]">
            <option value="-1"></option>
            {% for key, massAction in grid.massActions %}
            <option value="{{ key }}">{{ massAction.title|trans }}</option>
            {% endfor %}
        </select>
        <button type="submit"  class="btn btn-small btn-danger executer" value="{{ 'Submit Action'|trans }}">
            <i class="icon-plus"></i> Executer Action(s) </button>
    </div>
      
    {% endspaceless %}
        <br><br>
</div>
  {% endif %}
{% endblock grid_actions %}
            
                        
   {% block grid_column_actions_cell %}  
<center>


     {% for action in column.rowActions %}
 {% set confirm = action.confirm ? " onclick=\"return confirm('" ~ action.confirmMessage ~ "')\"" : '' %}
      
  {% if action.title == 'Edit' and  is_granted('ROLE_SUPER_ADMIN') %}
   <a href="{{ url(action.route, column.routeParameters(row, action), true) }}" target="{{ action.target }}">
                         <img src="{{ asset('bundles/applicationchangements/images/edit.png') }}" alt="edit" width="15" height="15" />
                    </a>
&nbsp;&nbsp;

     {% else %}   
{% if is_granted('ROLE_SUPER_ADMIN')  %}
<a href="{{ url(action.route, column.routeParameters(row, action), false) }}"{{ confirm }} target="{{ action.target }}">
                  <img src="{{ asset('bundles/applicationchangements/images/delete.png') }}" alt="delete" width="15" height="15" />
     </a>              
  {% endif %}
     {% endif %}
        
     
    {% endfor %}

  
&nbsp;&nbsp;
<a href="{{ path('changements_show',{ 'id': row.getPrimaryFieldValue() }) }}" class=" icon-search"></a>

</center>
{% endblock %}



{#% block grid_column_endTime_cell %}
{% set toto=800 %}

  {% if date(value) < date('-30days') %}
<font color="red">{{ value }}</font>
{% else %}
{{ value }}
{% endif %}
{% endblock grid_column_endTime_cell %#}
{#
{% block grid_column_endTime_cell %}
{% set {{ row.field('endTime') }} = "1999-01-01" %}
{% endblock grid_column_endTime_cell %}
#}
{#
{% block grid_column_endTime_cell %}
{% if row.field('dateDebut') < date('-5days') %}
{{ row.field('endTime') }} = "1999-01-01" 

{% endif %}
{% endblock grid_column_endTime_cell %}
#}

{% block grid_column_idStatus_nom_cell %}
{% if row.field('idStatus.nom') == 'open' or row.field('idStatus.nom') == 'en attente' %}
  <img src="{{ asset('bundles/applicationchangements/images/cadenas-souvert.png') }}" alt="show" width="15" height="15" />
 {% elseif  row.field('idStatus.nom') == 'en preparation' %}
  <img src="{{ asset('bundles/applicationchangements/images/cadenas-sbleu.png') }}" alt="show" width="15" height="15" />
  {% else %}
 <img src="{{ asset('bundles/applicationchangements/images/cadenas-sferme.png') }}" alt="show" width="15" height="15" />
{% endif %}

{% endblock grid_column_idStatus_nom_cell %}

{% block grid_column_type_filter %}

{% endblock grid_column_type_filter %}
  
{# -------------------------------------------- grid_column_filter_type_massaction --------------------------------------- #}
{% block grid_column_filter_type_massaction %}
   <!-- <input type="button" class="grid-search-reset" value="R" title="{{ 'Reset'|trans }}" onclick="return {{ grid.hash }}_reset();"/>-->
     <button type="button" class="btn btn-small btn-primary" value="Reset" title="{{ 'Reset'|trans }}" onclick="return {{ grid.hash }}_reset();">
     <i class="icon-minus-sign"></i> Reset</button>
         
{% endblock grid_column_filter_type_massaction %}
{# -------------------------------------------- grid_column_filter_type_massaction_filter --------------------------------------- #}
{% block grid_column_filter_type_actions %}
 <a href="{{ grid_url('reset', grid) }}">
        <button type="submit" name="submit-filter" class="btn btn-medium btn-warning" value="show" >
            <i class="icon-minus-sign"></i> Reset Actions</button>
    </a>
     {#
    <a class="btn btn-small btn-primary" href="{{ grid_url('reset', grid) }}">{{ 'Reset Actions'|trans }}</a>
#}
{% endblock grid_column_filter_type_actions %}
