{% extends "ApplicationChangementsBundle::layout.html.twig" %}
{% macro icon_class( type ) %}
  {% set type_class_map = {
    like: 'icon-user'
  } %}
  {{ type_class_map[type] }}
{% endmacro %}

  {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/sliding.css') }}" type="text/css" media="all"/>
 <style>
      tr.single {
         background-color: #000000;
        } 
        .free-day {
  background: #2e9500;
}
 
.free-day a {
  opacity: 0.7;
}
        div.ui-datepicker {
            font-size: 90%;
        }
 </style>
{% endblock %}


{% block content_header '' %}

 
{% block title %}
        <span class="icon-stack">
            <i class="icon-check-empty icon-stack-base"></i>
            <i class="icon-instagram"></i>
        </span>   Opérations {{ year }} 
       
{% endblock %}



{% block content %}

{% include 'ApplicationChangementsBundle:templates:flash.html.twig' %}
<form  class="form" action="{{ path('changements_charts') }}" method="POST" {{ form_enctype(form) }}>
    {{ form_rest(form) }}
  <button id="filter" type="submit" name="submit-filter" class="btn btn-medium btn-warning" value="filter" >
   <i class="icon-search"></i> Valider</button>
                           
   </form>        
 
 <div id="linechart1" style="min-width:380px;width:370px;height:380px; padding:5px;margin: 10px auto;float:left;"></div>
 <div id="linechart2" style="min-width:380px;width:370px;height:380px; padding:5px;margin: 10px auto;float:left;"></div>
 <div id="linechart5" style="min-width:380px;width:370px;height:380px; padding:5px;margin: 10px auto;float:left;"></div>
 <div id="linechart4" style="min-width: 600px;width:60px;height: 600px; padding:5px;margin: 10px auto;float:left"></div>
 
{% endblock %}

 
 {% block javascripts %}
{{ parent() }}
 <script src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.js') }}"></script>
<script src="{{ asset('bundles/obhighcharts/js/highcharts/modules/exporting.js') }}"></script>
<script type="text/javascript">
    {{ chart(chart1) }}
    {{ chart(chart2) }}
    {{ chart(chart5) }}
    {{ chart(chart4) }}
</script>
{% endblock %}      