{% extends "ApplicationChangementsBundle::layout.html.twig" %}
{% macro icon_class( type ) %}
  {% set type_class_map = {
    like: 'icon-user'
  } %}
  {{ type_class_map[type] }}
{% endmacro %}

  {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/sliding.css') }}" type="text/css" media="all"/>
 <style>
      tr.single {
         background-color: #000000;
        } 
        .free-day {
  background: #2e9500;
}
 
.free-day a {
  opacity: 0.7;
}
        div.ui-datepicker {
            font-size: 90%;
        }
        .myico {padding-right:10px;}
 </style>
{% endblock %}


{% block content_header '' %}

 
{% block title %}
        <span class="icon-stack">
            <i class="icon-check-empty icon-stack-base"></i>
            <i class="icon-instagram"></i>
        </span>   Opérations {{ year }} 
       
{% endblock %}



{% block content %}

{% include 'ApplicationChangementsBundle:templates:flash.html.twig' %}
         <div class="container">
     <div class="row">
        <div class="span12">
<form  class="form" action="{{ path('changements_charts') }}" method="POST">
   {{ form_rest(form) }} 
  <button id="filter" type="submit" name="submit-filter" class="btn btn-medium btn-warning" value="filter" >
   <i class="icon-search"></i> Valider</button>
    
        </form>                      
        </div>
             </div>
 </div>
 <div class="container">
     <div class="row"> <div class="span12">
           
        <div class="well">
            <i class="icon-arrow-right icon-2x myico"></i> Demandes sur l'année - Par Projet - Par Demandeur
</div></div></div>
     <div class="row">
      
        <div class="span4"><div id="linechart1" style="width:100%;height:auto; padding:5px;margin: 10px auto;float:left;"></div></div>
  <div class="span4"><div id="linechart2" style="width:100%;height:auto; padding:5px;margin: 10px auto;float:left;"></div></div>
 <div class="span4"><div id="linechart5" style="width:100%;height:auto;padding:5px;margin: 10px auto;float:left;"></div></div>
     </div>
      <div class="row"> <div class="span12">
           
        <div class="well">
            <i class="icon-arrow-right icon-2x myico"></i> Demandes par service - Par mois
</div></div></div>
     <div class="row">
         <div class="span6"><div id="linechart6" style="width:100%;height:auto; padding:5px;margin: 10px auto;float:left"></div></div>
         
         <div class="span6"><div id="linechart4" style="width:100%;height:auto; padding:5px;margin: 10px auto;float:left"></div></div>
     </div>
 </div>
 
 
{% endblock %}

 
 {% block javascripts %}
{{ parent() }}
 <script src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.js') }}"></script>
<script src="{{ asset('bundles/obhighcharts/js/highcharts/modules/exporting.js') }}"></script>
<script type="text/javascript">
    {{ chart(chart1) }}
    {{ chart(chart2) }}
    {{ chart(chart5) }}
   {{ chart(chart6) }}
    {{ chart(chart4) }}
</script>
{% endblock %}      