{% extends "ApplicationChangementsBundle::layout.html.twig" %}
{% macro icon_class( type ) %}
  {% set type_class_map = {
    like: 'icon-user'
  } %}
  {{ type_class_map[type] }}
{% endmacro %}


{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/jquery.cookie.js') }}"></script>
   
<script type="text/javascript">
          
$(document).ready(function() {
/*    
$('table tr').on('click', function () {
    $(this).find('td').addClass('highlightBG');
    // potentially even .toggleClass('highlightBG'); to alternate it
});

*/
 var mesdates=["#changements_filter_dateDebut","#changements_filter_dateFin"];
 mesdates.forEach(function(entry) {
   /* console.log(entry);*/
$( entry + "_left_date").datepicker({
minDate: "-1Y",
maxDate: "+10Y",
changeMonth: true,
changeYear: true,
numberOfMonths: 1,
dateFormat: "yy-mm-dd",
onClose: function( selectedDate ) {
$( "#form_bis" ).datepicker( "option", "minDate", selectedDate );
}
});  
$( entry + "_right_date").datepicker({
maxDate: "+10Y",
minDate: "-1Y",
changeMonth: true,
changeYear: true,
numberOfMonths: 1,
dateFormat: "yy-mm-dd",
onClose: function( selectedDate ) {
$( "#form_bis" ).datepicker( "option", "minDate", selectedDate );
}
})  
   
   
});

function runEffect() {
// get effect type from
var selectedEffect = 'slide';
//var selectedEffect = $( "#effectTypes" ).val();
// most effect types need no options passed by default
var options = {};
// run the effect
$( "#effect" ).toggle( selectedEffect, options, 800 );
};
// set effect from select menu value
$( "#button" ).click(function() {
runEffect();
return false;
});
//$( "#effect" ).hide();

 var ShowHideBox = $('#ShowHideBox');
 //var  ShowHideButton = $('#ShowHideButton');
initBox();
//ShowHideBox.hide();
//var ShowHideBox = $('#ShowHideBox').hide();
$('#target').submit(function() {
 /* alert('Handler for .submit() called.');*/
   if ( $.cookie('Boxfilter')==1){
           $.cookie('Boxfilter', 0, {expires: 365});
   }
    else {
         $.cookie('Boxfilter', 1, {expires: 365});
    }


  return true;
});
    $('#ShowHideButton').click(function(event) {
        event.preventDefault();
      if (boxVisible())
        {
             console.log("hidebox? box=1 status status="+boxVisible());
             hideBox();
             $(this).children().first().html('<i class="icon-search"></i>  Afficher Filtres');
             
        }
        else
        {
             console.log("box=1 status status="+boxVisible());
            showBox();
              $(this).children().first().html('<i class="icon-search"></i>  Masquer Filtres');
        }
    });

    function initBox()
    {
        
        console.log("initbox: box=1 status status="+boxVisible());
        if ( $.cookie('Boxchangement')==1)
   {
        if (!boxVisible()){
      /* console.log("initbox box=1 doit montrer la box");*/
            showBox();
             $('#ShowHideButton').children().first().html('<i class="icon-search"></i>  Masquer Filtres');
        }
        }
        else if ( $.cookie('Boxchangement')==0)
         {
            /*  console.log("initbox box=0 doit pas montrer la box");*/
             if (boxVisible()){
             
             hideBox();
              $('#ShowHideButton').children().first().html('<i class="icon-search"></i>  Afficher Filtres');
             }
        }
         if ( $.cookie('Boxfilter')==1){
               console.log("filtre actif 1");
               
           
           $.cookie('Boxfilter', 0, {expires: 365});
   }
    else {
          console.log("filtre inactif 0");
         $.cookie('Boxfilter', 1, {expires: 365});
    }
    }  

    function boxVisible()
    {
         return ShowHideBox.hasClass('hidden')? false : true;
    }
  function showBox()
    {
         var effet="slide";
           var options = { };
     ShowHideBox.show(effet,options, 800).removeClass('hidden');
      $.cookie('Boxchangement', 1, {expires: 365});
       
    }
  function hideBox()
    {
        var options = { };
      /*var options = { percent: 0 };*/
      var effet="explode";
       ShowHideBox.hide(effet, options, 800).addClass('hidden');
  $.cookie('Boxchangement', 0, {expires: 365});
    }
     // callback function to bring a hidden box back
function callbackboxshow() {
setTimeout(function() {
ShowHideBox.removeAttr( "style" ).hide().fadeIn();
}, 1000 );
};

}); //Eof:: ready
    </script>

{% endblock %}

    
  {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/sliding.css') }}" type="text/css" media="all"/>
 <style>
      tr.single {
         background-color: #000000;
        } 
        tr.warningdate-left {
         background-color: #2e9500;
       /*  font-size:14px;*/
        } 
       .highlightBG { background:#5279a4; }
        .free-day {
  background: #2e9500;
}
 
.free-day a {
  opacity: 0.7;
}
        div.ui-datepicker {
            font-size: 90%;
        }


tr.single {
         background-color: #f1f1f1;
        } 
        
#ShowHideContainer {
padding-top:10px;}

 .ajoutchange { float:right;margin-right:30px;}
.toggler { width: 500px; height: 200px; }
#button { padding: .5em 1em; text-decoration: none; }
#ShowHideBox { width: auto; height: auto; padding: 0.4em; position: relative; }
#effect h3 { margin: 0; padding: 0.4em; text-align: center; }
 /*h1 {
                font-family: Helvetica;
                font-size: 2.8em;
                padding: 0.1em 0 0;
                line-height: 1.4em;
                width: 620px;
        }
                #title h1 a {
                        color: #cc5042;
                        text-shadow: 1px 1px 2px #bbb;
                }
                #title h1 a:hover {
                        text-decoration: none;
                }*/
        </style>
 {% endblock %}

{% block content_header '' %}

{% block title %}
Changements
{% endblock %}

{% block content %}

{% set dateright = '30' %}
{% set date_right_warning= '+' ~  dateright ~ 'days' %}
{#{% set date_right_warning= '+15days' %}#}
{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
<div class="alert alert-{{ type }}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ flashMessage|trans }}
    </div>
 
    {% endfor %}
{% endfor %}
{#  <div id="datepicker"></div>#}
 {#{% if is_granted("ROLE_USER") %}#}

{#<h3>test</h3>#}



{#POST DATAS#}

 <div id="ShowHideContainer">
  
        
<form id="target" class="form-horizontal" action="{{ path('changements_post') }}" method="POST" {{ form_enctype(search_form) }}>
   <a id="ShowHideButton">
            <button id="show" type="submit" name="submit-filter" class="btn btn-medium btn-warning" value="show" >
         <i class="icon-search"></i>  Afficher Filtres</button>
   </a>
 <button type="submit" id="reset" name="submit-filter" class="btn btn-medium btn-warning" value="reset" >
         <i class="icon-minus-sign"></i> Effacer Filtres</button>
  
          <a href="{{ path('changements_newflowstart') }}" class=" ajoutchange btn btn-medium btn-primary">
        <i class="icon-plus"></i> Ajouter un Changement
    </a>
</form>

  
        
      
    <div id="ShowHideBox" class="hidden">
        {% include 'ApplicationChangementsBundle:Changements:indexsearchpost_form.html.twig' %}
        </div>
</div>
         <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr class="title">
                            <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                            <th{% if pagination.isSorted('a.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nom', 'a.nom') }}
                              <i class="icon-pencil"></i></th>
                            <th{% if pagination.isSorted('a.dateDebut') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date Debut', 'a.dateDebut') }}
                              <i class="icon-time"></i></th>
                            <th{% if pagination.isSorted('a.dateFin') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date Fin', 'a.dateFin') }}
                            <i class="icon-time"></i></th>
                            <th{% if pagination.isSorted('b.nomprojet') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Projet', 'b.nomprojet') }}</th>
                            <th{% if pagination.isSorted('c.nomUser') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'D', 'c.nomUser') }}
                             <i class="icon-user"></i></th>
                            <th><i class="icon-book"></i></th>
                             <th><i class="icon-pencil"></i></th>
                            <th{% if pagination.isSorted('e.nomUser') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Users', 'e.nomUser') }}
                             <i class="icon-user"></i><i class="icon-user"></i></th>
                            <th{% if pagination.isSorted('d.idStatus.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'F', 'd.idStatus.nom') }}
                             <i class="icon-flag"></i></th>
                             <th{% if pagination.isSorted('a.ticketExt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'T_Ext', 'a.ticketExt') }}
                              <i class="icon-tag"></i></th>
                         
                                  <th{% if pagination.isSorted('a.ticketInt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'T_Int', 'a.ticketInt') }}
                              <i class="icon-tag"></i></th>
                          <th{% if pagination.isSorted('g.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Env', 'g.nom') }}
                            <i class="icon-wrench"></i></th>
                            <!--<th>Avatar</th>-->
                            <th colspan="3">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
    {% for entity in pagination %}
                     {# si datedebut existe #}   
             {% if entity.dateDebut %}
                            {# Pas commencé mais approche #}
                {% if date(entity.dateDebut) > date() and date(entity.dateDebut) < date(date_right_warning) %}
                        <tr class="error">
                            {# operation terminée avec succes #}
                {% elseif date(entity.dateFin) < date() and entity.idStatus.description == 'closed' %} 
                        <tr>
                {% else %}  
                        <tr  class="success"> 
                {% endif %}
             {% else %}
                       <tr>
             {% endif %}   
                                
                                <td>{{ entity.id }}</td>
                                <td><a href="{{ path('changements_show', { 'id': entity.id }) }}">{{ entity.nom }}</a></td>
                                <td>{% if entity.dateDebut %}{{ entity.dateDebut|date('Y-m-d H') ~ 'h' }}{% endif %}</td>
                                <td>{% if entity.dateFin %}{{ entity.dateFin|date('Y-m-d') }}{% endif %}</td>
                                 <td>{{ entity.idProjet.nomprojet }}</td>
                                <td>{{ entity.demandeur.nomUser }}</td>
                                <td>{{ entity.picture|length }}</td>
                                <td>{{ entity.comments|length }}</td>
                                <td>
                 {{ entity.idusers|join(', ') }}   
               {#% for user in entity.idusers %} {{ user.nomUser }}
                {% endfor %#}
                                    </td>
                                    <td>
                               {% if entity.idStatus.description == 'open' %}

                                             <a class="open" data-id="{{entity.id}}" href="#">
                                            <img src="{{ asset('bundles/applicationcertificats/images/cadenas-souvert.png') }}" alt="show" width="15" height="15"/>
                                            </a>
 {% elseif   entity.idStatus.description == 'closed' %}
                                            <a class="closed" data-id="{{entity.id}}" href="#">
                                            <img src="{{ asset('bundles/applicationcertificats/images/cadenas-sferme.png') }}" alt="show" width="15" height="15" />
                                            </a>
                                            {% else %}
                                            <a class="open" data-id="{{entity.id}}" href="#">
                                             <img src="{{ asset('bundles/applicationcertificats/images/cadenas-sbleu.png') }}" alt="show" width="15" height="15" />
                                            </a>
        {% endif %}   </td> 
                                        <td> {{ entity.ticketExt }}   </td>
                                        <td> {{ entity.ticketInt }}   </td>
                                    <td>{{ entity.idEnvironnement|join(', ') }}</td>
      <td><a href="{{ path('changements_show', { 'id': entity.id }) }}">
         <img src="{{ asset('bundles/applicationcertificats/images/detail.png') }}" alt="show" width="15" height="15" />
       </a></td>
      {% if is_granted("ROLE_USER") %}
       <td><a href="{{ path('changements_edit', { 'id': entity.id }) }}">
        <img src="{{ asset('bundles/applicationcertificats/images/edit.png') }}" alt="edit" width="15" height="15" />
             </a>
           </td>
     {% endif %}
      <td>
       <a href="{{ path('changements_comment_show', { 'id': entity.id }) }}">
       <i class="icon-pencil"></i>
      </a>
          </td>
  </tr>
    {% endfor %}
 </tbody>
 </table>

   {{ knp_pagination_render(pagination, 'ApplicationChangementsBundle:pagination:twitter_bootstrap_pagination.html.twig') }}

 
 
{% endblock %}
