{% extends "ApplicationChangementsBundle::layout.html.twig" %}
{% macro icon_class( type ) %}
  {% set type_class_map = {
    like: 'icon-user'
  } %}
  {{ type_class_map[type] }}
{% endmacro %}

  {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/sliding.css') }}" type="text/css" media="all"/>
 <style>
      tr.single {
         background-color: #000000;
        } 
        .free-day {
  background: #2e9500;
}
 
.free-day a {
  opacity: 0.7;
}
        div.ui-datepicker {
            font-size: 90%;
        }
 </style>
{% endblock %}

 {% block javascripts %}
{{ parent() }}
 <script src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.js') }}"></script>
<script src="{{ asset('bundles/obhighcharts/js/highcharts/modules/exporting.js') }}"></script>
<script type="text/javascript">
    {{ chart(chart1) }}
         {{ chart(chart2) }}
            {#  {{ chart(chart4) }}#}
</script>


<script>
$(function () {
        $('#linechart3').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Stacked column chart'
            },
            xAxis: {
                categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Total fruit consumption'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'right',
                x: -100,
                verticalAlign: 'top',
                y: 20,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.x +'</b><br/>'+
                        this.series.name +': '+ this.y +'<br/>'+
                        'Total: '+ this.point.stackTotal;
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    }
                }
            },
            series: [{
                name: 'John',
                data: [5, 3, 4, 7, 2]
            }, {
                name: 'Jane',
                data: [2, 2, 3, 2, 1]
            }, {
                name: 'Joe',
                data: [3, 4, 4, 2, 5]
            }]
        });
    });
    </script>
{% endblock %}      

{% block content_header '' %}

{% block title %}
Changements 2013
{% endblock %}


{% block content %}

{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
<div class="alert alert-{{ type }}">
          
    <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ flashMessage|trans }}
    </div>
 
    {% endfor %}
{% endfor %}
{#  <div id="datepicker"></div>#}
 
 <div id="linechart1" style="min-width: 400px;width:400px;height: 400px; padding:5px;margin: 10px auto;float:left;"></div>
 <div id="linechart2" style="min-width: 400px;width:400px;height: 400px; padding:5px;margin: 10px auto;float:left;"></div>
 <div id="linechart4" style="min-width: 400px;width:400px;height: 400px; padding:5px;margin: 10px auto;float:left;"></div>
{% endblock %}
