{% extends "ApplicationChangementsBundle::layout.html.twig" %}


{# import "_self" as the form theme
{% form_theme search_form _self %}
 #}

{% form_theme search_form with 'ApplicationChangementsBundle:Form:tpl_searchform.html.twig' %}


{% macro icon_class( type ) %}
  {% set type_class_map = {
    like: 'icon-user'
  } %}
  {{ type_class_map[type] }}
{% endmacro %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/compiled/changementsown.js') }}"></script>

    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/changementsicons.js') }}"></script>
<script>
    $(function() {
         if ( $.cookie('Boxchangementown')==1){
    $(document).scrollTop( $("#matable").offset().top -100 );  
         }
});
 </script>
{% endif %}
   {{ form_javascript(search_form) }}
{% endblock %}

 

  {% block stylesheets %}
{{ parent() }}
 <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/ccpchangements.css') }}" type="text/css" media="all"/>
 <style>

        th.sorted{color: rgb(0, 136, 204);
    text-decoration: none;}
.ui-autocomplete { max-height: 200px; overflow-y: scroll; overflow-x: hidden;}
            .table {
                font-size: 11px;
                /* border-collapse: separate;*/
                /*  font-family: 'Times New Roman',Times,serif;*/
            }
            select option:hover {
                background-color: #b6d1fd;
}
            select#changements_searchfilter_idusers{
            height:150px;}
            label,.mondiv { color:#02195e; font-size: 12px;
    font-weight: normal;
    line-height: 20px;}
            
 div#mybutton {

	padding-top: 130px; 
	margin-left: 5px;
       }
    .montext {
      /*   color: #fff;*/
       /* text-shadow: 5px 5px 1px red;*/
       padding-bottom:4px;
       padding-top:4px;
       padding-left:5px;
    font-size: 1.5em;
    float: right;
      }
        </style>
         {{ form_stylesheet(search_form) }}
{% endblock %}

{% block content_header '' %}

{% block title %}
    <span class="icon-stack">
  <i class="icon-check-empty icon-stack-base"></i>
  <i class="icon-table"></i>
</span>
    PLANNING DES OPERATIONS  
    <a class="btn btn-medium btn-info" href="#">
  <i class="icon-info-sign icon-2x"></i> <div class="montext">{{ total }}</div></a> 
{% endblock %}

{% block content %}

{% set dateright = '30' %}
{% set date_right_warning= '+' ~  dateright ~ 'days' %}
{#{% set date_right_warning= '+15days' %}#}

{% include 'ApplicationChangementsBundle:templates:flash.html.twig' %}
  
        {#
 {{ debug_page }}
        #}
{% include 'ApplicationChangementsBundle:templates:container_search.html.twig' 
        with {
            'form_path': 'changements_posttest',
            'search_form': search_form,'box':"showhideboxown",
              'new_flow_path': 'changements_newflowstart',
            'new_path': 'changements_newchangement',
            'new_text':"Ajouter une Opération",
              'include_html_search':  'ApplicationChangementsBundle:Changements:indexsearchsimple_form.html.twig'
}
%}


{% include 'ApplicationChangementsBundle:Changements:tp_table.html.twig' %}
{{ knp_pagination_render(pagination, 'ApplicationChangementsBundle:pagination:twitter_bootstrap_pagination.html.twig') }}

  

{% endblock %}