  <form  class="form" action="{{ path('changements_post') }}" method="POST" {{ form_enctype(search_form) }}>
          <table class="table table-bordered">
            <tbody>
                <tr class="single">
                    <td>
                             
    {{ form_errors(search_form.nom) }}
    {{ form_label(search_form.nom, 'Nom'|trans) }}
    {{ form_widget(search_form.nom) }}
                        
                        
    {{ form_errors(search_form.ticketExt) }}
    {{ form_label(search_form.ticketExt, 'Ticket Externe'|trans) }}
    {{ form_widget(search_form.ticketExt) }}
                        
                        
    {{ form_errors(search_form.dateDebut) }}
    {{ form_label(search_form.dateDebut, 'Date De Début'|trans) }}
    {{ form_widget(search_form.dateDebut) }}
    {{ form_errors(search_form.dateFin) }}
    {{ form_label(search_form.dateFin, 'Date De Fin'|trans) }}
    {{ form_widget(search_form.dateFin) }}
  
   {{ form_errors(search_form.idStatus) }}
    {{ form_label(search_form.idStatus) }}
    {{ form_widget(search_form.idStatus) }}
    
    
                        
    </td>
  <td>
    
                                        
{{ form_rest(search_form) }}</td>
   </tr>
    <tr class="single"><td colspan="2">
     <input type="submit" name="submit-filter" class="btn btn-medium btn-warning" value="filter" />
    <input type="submit" name="submit-filter" class="btn btn-medium btn-danger" value="reset" />
         </tr></tbody></table>
 </form>

 