{% extends "ApplicationChangementsBundle::layout.html.twig" %}
{% form_theme search_form with 'ApplicationChangementsBundle:Form:tpl_searchform.html.twig' %}


{% macro icon_class( type ) %}
  {% set type_class_map = {
    like: 'icon-user'
  } %}
  {{ type_class_map[type] }}
{% endmacro %}

{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

<script type="text/javascript" src="{{ asset('js/compiled/changementsown.js') }}"></script>
<script type="text/javascript" src="{{ asset('select2/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('select2/select2_locale_fr.js') }}"></script>
<script type="text/javascript" src="{{ asset('bootstrap/js/jquery.pnotify.min.js') }}"></script>
{#<script>
    $(function() {
        if ($.cookie('Boxchangementown') == 1) {
            $(document).scrollTop($("#matable").offset().top - 100);
        }
    });
    </script>#}
{#{% endif %}#}
  {{ form_javascript(search_form) }}
   
   <script type="text/javascript">
    /* $(document).onload(function() { $("div#matable").hide();});*/
      $(document).ready(function() {
           $('select#changements_searchfilter_idStatus').removeClass('hidden');
        /* $("select#changements_searchfilter_idStatus").show("fade");*/
       $(".first").show("fade");
     
      $("div#contain-matable").show("fade");
      $("div#footer").show("fade");
       $("a.mytooltip-header").popover(
            {html: true, delay: {show: 300, hide: 300}, placement: 'bottom', trigger: 'hover'}
    );
      /*  $(".second").show("fade",800);*/
      /* $("#matable").show();*/
       // Stuff to do as soon as the DOM is ready
      });  
    </script>  
{% endblock %}


  {% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/ccpchangements.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('select2/select2.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.pnotify.default.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/indexfanta.css') }}" type="text/css" media="all"/>
{{ form_stylesheet(search_form) }}
<style>
            a.firstbutton{ margin-left:20px;}
   .popover {
	max-width: 300px;
        min-width:150px;
	width: auto;
}
div.etat { position:relative;float:right;margin-right:10px;}
    .show_favoris  {float:right;margin-right: 20px;}
   .my-star>i { color: yellow; }
   .my-nice-button>i { color: blue; }
    *.icon-silver {color: silver}
     *.icon-blue {color: blue}
     .js #flash {display: none;}
     *.icon-yellow {color: #FDD017;}
    
        </style>  
{% endblock %}

{% block content_header '' %}

{% block title %}
       
        <span class="icon-stack">
            <i class="icon-check-empty icon-stack-base"></i>
            <i class="icon-table"></i>
        </span>    OPERATIONS: FAVORIS 
            
               
<a id="mytitleb" class="firstbutton mytitleb btn btn-medium btn-info color-yellow" href="#">
   
   <i class="icon-yellow icon-star icon-2x"></i> <div class="montext">{{ nbResults }}</div>
</a> 
<a class="mytooltip-header btn btn-small btn-info" href="{{ path('wdcalendar_indexadesignchangement') }}" rel="tooltip" data-content="Calendrier" data-original-title="Information" data-toggle="tooltip">
    <i class="icon-calendar icon-2x"></i>
</a> 
 
        <a class="mytooltip-header btn btn-small btn-info" href="{{ path('docchangements') }}" rel="tooltip" data-content="Fichiers" data-original-title="Information" data-toggle="tooltip">
    <i class="icon-file-text-alt icon-2x"></i>
</a> 
        
<a class="mytooltip-header btn btn-small btn-info" href="{{ path('changements_charts') }}" rel="tooltip" data-content="Graphiques" data-original-title="Information" data-toggle="tooltip">
    <i class="icon-bar-chart icon-2x"></i>
</a> 
        
<div id="popover-content" class="hide mycontent" > 
    <h4>
        Demandes en favoris<br>
      {% for key, value in nb_status %}

        <img src="{{ asset('bundles/applicationchangements/images/') }}{{ key }}.png" alt="show" width="20px" height="20px"/><div class="etat">{{ value }}</div>
        <br/>{% endfor %}</h4>
</div>  
{% endblock %}

{% block content %}

{% set dateright = '30' %}
{% set date_right_warning= '+' ~  dateright ~ 'days' %}
{#{% set date_right_warning= '+15days' %}#}

{% include 'ApplicationChangementsBundle:templates:flash.html.twig' %}
        
       
{% include 'ApplicationChangementsBundle:templates:container_search.html.twig' 
        with {
            'form_path': 'changements_myfanta',
            'status_form':status_form,
            'search_form': search_form,'box':"showhideboxown",
            'new_flow_path': 'changements_newflowstart',
            'new_path': 'changements_newchangement',
            'new_text':"Ajouter une Opération",
            'fav':"f_fanta",
            'include_html_search':  'ApplicationChangementsBundle:Changements:indexsearchsimple_form.html.twig'
        }
%}

   <div id="matable">           
{% include 'ApplicationChangementsBundle:templates:table_fanta.html.twig' with 
{ 'isfavoris':'yes', 'index_path': 'changements_myfanta' }%}
            </div>
            <div class="pagination" align="center">
            {{ pagerfanta(pagerfanta, 'twitter_bootstrap') }}
            </div>
         <br>
{% endblock %}
         
       