{% extends "ApplicationChangementsBundle::layout.html.twig" %}
{% macro icon_class( type ) %}
  {% set type_class_map = {
    like: 'icon-user'
  } %}
  {{ type_class_map[type] }}
{% endmacro %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 
    '@ApplicationChangementsBundle/Resources/public/js/jquery.cookie.js'
    '@ApplicationChangementsBundle/Resources/public/js/changementsown.js'
    '@ApplicationChangementsBundle/Resources/public/js/jquery.colorbox.js'
    '@ApplicationChangementsBundle/Resources/public/js/editme.js'

      output='js/compiled/changementsown.js' filter='?yui_js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{#
<script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/jquery.colorbox.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/editme.js') }}"></script>
#}

    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/changementsicons.js') }}"></script>
<script>
    $(function() {
         if ( $.cookie('Boxchangementown')==1){
    $(document).scrollTop( $("#matable").offset().top -100 );  
         }
});
 </script>
{% endif %}
   {{ form_javascript(search_form) }}
{% endblock %}


  {% block stylesheets %}
{{ parent() }}
 <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/ccpchangements.css') }}" type="text/css" media="all"/>
 <style>
.ui-autocomplete { max-height: 200px; overflow-y: scroll; overflow-x: hidden;}
            .table {
                font-size: 11px;
                /* border-collapse: separate;*/
                /*  font-family: 'Times New Roman',Times,serif;*/
            }
            select option:hover {
                background-color: #b6d1fd;
}
            select#changements_searchfilter_idusers{
            height:150px;}
            label,.mondiv { color:#02195e; font-size: 12px;
    font-weight: normal;
    line-height: 20px;}
            
 div#mybutton {

	padding-top: 130px; 
	margin-left: 5px;
       }
        </style>
         {{ form_stylesheet(search_form) }}
{% endblock %}

{% block content_header '' %}

{% block title %}
        PLANNING DES OPERATIONS  ({{ total }})
{% endblock %}

{% block content %}

{% set dateright = '30' %}
{% set date_right_warning= '+' ~  dateright ~ 'days' %}
{#{% set date_right_warning= '+15days' %}#}

{% include 'ApplicationChangementsBundle:templates:flash.html.twig' %}
        
{% include 'ApplicationChangementsBundle:templates:container_search.html.twig' 
        with {
            'form_path': 'changements_posttest',
            'search_form': search_form,'box':"ShowHideBoxown",
             'new_path': 'changements_newflowstart',
            'new_text':"Ajouter une Opération",
              'include_html_search':  'ApplicationChangementsBundle:Changements:indexsearchsimple_form.html.twig'
}
%}


{% include 'ApplicationChangementsBundle:Changements:tp_table.html.twig' %}
{{ knp_pagination_render(pagination, 'ApplicationChangementsBundle:pagination:twitter_bootstrap_pagination.html.twig') }}

     {#   
  {% for entity in ent %}
   
            <li>{{ entity.id }}</li>
        {% endfor %}
#}
{% endblock %}