{% extends "ApplicationChangementsBundle::layout.html.twig" %}


{% form_theme form with 'ApplicationChangementsBundle:Form:tpl_searchform.html.twig' %}


{% block stylesheets %}
{{ parent() }}
{{ form_stylesheet(form) }}
<link rel="stylesheet" href="{{ asset('select2/select2.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/sliding.css') }}" type="text/css" media="all"/>
<style>
        .monlabel {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
        
        .valider {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size: 14px;
            color: red;
            font-weight: bold;
        }
            .tinymce {
                     border: 1px solid #D4E0EE;
            background-color: #f1f1f1;
            width:350px; height:250px;
            /*min-height: 200px;*/
             }
           .mytextarea {
            border: 1px solid #D4E0EE;
            background-color: #f1f1f1;
            width:330px; height:150px;

        }
         textarea {
            height:300px;
            width:98%;  
        }
        .boxlist {
            border: 1px solid #D4E0EE;
            background-color: #f1f1f1;

            
        }
        select#changements_idapplis,select#changements_idusers {
        height:150px;
        }
     .table-mybordered  {background-color:whitesmoke;width:95%;padding:5px;}
     .table-mybordered td {padding:15px;}
      /* #s2id_autogen2.select2-input.select2-default {*/
            div#s2id_changements_idapplis, div#s2id_changements_idusers,
             div#s2id_changements_searchfilter_idProjet,
             div#s2id_changements_searchfilter_idusers {
           
            min-width:167px;
            }
            select#changements_searchfilter_idusers{
                height:150px;}
            label,.mondiv { color:#02195e; font-size: 12px;
                            font-weight: normal;
                            line-height: 20px;}

            /* select#changements_searchfilter_idStatus{
               }*/
            select option:hover {
                background-color: #b6d1fd;
            }
             .select2-choice {
     width:200px;
}
      /*  .boxlist {
            border: 1px solid #D4E0EE;
            background-color: #f1f1f1;

        }*/
    </style> 
{% endblock %}


    
{% block javascripts %}
    
{{ parent() }}
    {{ tinymce_init() }}
      {{ form_javascript(form) }}      
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

<script type="text/javascript" src="{{ asset('select2/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('select2/select2_locale_fr.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/datenew.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/listprojetapplis.js') }}"></script>

{% endblock %}

{% block content_header '' %}
{% block title %}NOUVEAU CHANGEMENT{% endblock %}
{% block content %}

<div id="divchmgt" style="display: none;"></div>

  <form method="post" {{ form_enctype(form) }}>
            <table class="table-mybordered">
           <tbody>
           <tr>
                   <td style="vertical-align: top;"><div>
            ETAPES:
    {% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
   {# {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}#}
                   </div>
            </td>
        
   
 {% if flow.getCurrentStepNumber() == 1 %}
            <td> {{ form_errors(form) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.ticketInt) }}
                {{ form_row(form.ticketPbm) }}
                {{ form_row(form.ticketExt) }}
                 
             </td>
             <td>
                {{ form_row(form.idKind) }}
                {{ form_row(form.dateDemande) }}
                {{ form_row(form.dateDebut) }}
                {{ form_row(form.dateFin) }}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td style="align: center;" colspan="2">
                {{ form_row(form.description,{ 'attr': {'class': 'tinymce'} }) }}
                {{ form_errors(form.nom) }}
                {{ form_rest(form) }}
                
            </td>
        </tr>
        <tr>
            <td>
                        
                                
 {% endif %}
{% if flow.getCurrentStepNumber() > 1 and flow.getCurrentStepNumber() < 6  %}
                
                   <td style="align: left;width:60%;"{{ form(form) }}</td>
 {% endif %}
                   
 {% if flow.getCurrentStepNumber() == 6 %}
                              <td>  <div>
                                   
                     
                                    {#{ dump form.vars }#}
            <p class="valider">Vérifier Les paramètres de la demande et cliquer sur Valider.</p>
                                  
       <table class="table table-striped table-bordered table-hover">
        <tbody>
           <tr> <th>Nom</th><td>{{ entity.nom }}</td> </tr>
           <tr> <th>Demandeur</th> <td>{{ entity.demandeur }}</td> </tr>
           <tr> <th>Datedebut</th> <td>{{ entity.dateDebut|date('Y-m-d H:i:s') }}</td>   </tr>
           <tr><th>Datefin</th><td>{{ entity.dateFin|date('Y-m-d H:i:s') }}</td></tr>
           <tr><th>Datecomep</th> <td>
            {% if entity.dateComep is not null %}
               {{ entity.dateComep|date('Y-m-d H:i:s') }}
            {% else %}
               Aucune
           {% endif %}
           </td></tr>
           <tr><th>Datevsr</th><td>
            {% if entity.dateVsr is not null %}
               {{ entity.dateVsr|date('Y-m-d H:i:s') }}
            {% else %}
               Aucune
            {% endif %}
           </td></tr>
           <tr><th>Description</th>   <td>{{ entity.description|raw }}</td> </tr>
           <tr> <th>Projet</th> <td>{{ entity.idProjet }}</td>  </tr>
           <tr><th>Status</th><td>{{ entity.idStatus }}</td></tr>
            <tr><th>Ticket CF</th><td>{{ entity.ticketInt }}</td></tr>
             <tr><th>Ticket Samy</th><td>{{ entity.ticketExt }}</td></tr>
           <tr><th>Applications</th>
           <td>  {{ entity.idapplis|join(', ') }}      </td>  </tr>     
           <tr><th>Environnements</th>
           <td>{{ entity.idEnvironnement|join(', ') }}</td>  </tr>
           <tr><th>Utilisateurs</th> <td> {{ entity.idusers|join(', ') }}</td>  </tr>
              <tr><th>Contact Client</th> <td> {{ entity.contact }}</td>  </tr>
            </tbody>
           </table>
{{ form_rest(form) }}

{#{ form_row(form.termsOfService) }#}
    </div></td>
    
  
{% endif %}
    
     </tr><tr><td colspan="2">
                                            <!-- ======================= CRAUE SURCHARGE =================== -->

 {% set renderBackButton = flow.getCurrentStepNumber() in (flow.getFirstStepNumber() + 1) .. flow.getLastStepNumber() %}
{# {% set renderBackButton = flow.getCurrentStep() in (flow.getFirstStep() + 1) .. flow.getLastStep() %}#}
        <div class="craue_formflow_buttons craue_formflow_button_count_{% if renderBackButton %}3{% else %}2{% endif %}">
	{#
		Default button (the one trigged by pressing the enter/return key) must be defined first.
		Thus, all buttons are defined in reverse order and will be reversed again via CSS.
		See http://stackoverflow.com/questions/1963245/multiple-submit-buttons-specifying-default-button
	#}
                                                    <button type="submit" class="btn btn-small btn-primary">
		{%- if flow.getCurrentStepNumber() < flow.getLastStepNumber() -%}
			{{- 'Suivant' | trans({}, 'CraueFormFlowBundle') -}}
		{%- else -%}
			{{- 'Valider' | trans({}, 'CraueFormFlowBundle') -}}
		{%- endif -%}
                                                        </button>

	{% if renderBackButton %}
		{# see http://www.html5rocks.com/en/tutorials/forms/html5forms/ #}
                     <button type="submit" class="btn btn-small btn-primary" name="{{ flow.getFormTransitionKey() }}" value="back" formnovalidate="formnovalidate">
			{{- 'Retour' | trans({}, 'CraueFormFlowBundle') -}}
                   </button>
	{% endif %}

        <button type="submit" class="btn btn-small btn-danger" name="{{ flow.getFormTransitionKey() }}" value="reset" formnovalidate="formnovalidate">
	{{- 'RESET' | trans({}, 'CraueFormFlowBundle') -}}
        </button>
       </div>

     <!-- ======================= FIN CRAUE SURCHARGE =================== -->        
   
    </td></tr></tbody></table>
           </form>
{% endblock %}