<!DOCTYPE html>
<html>
    <head>
        <title>{% block headtitle %}I-CHANGE MROOT{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
          {% block stylesheets %}
           <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-responsive.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" />
     
     
             {% stylesheets 
                '@ApplicationCertificatsBundle/Resources/public/css/certificatscenter.css' 
                output='css/compiled/main.css' filter='yui_css' %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}
   <link rel="stylesheet" href="{{ asset('css/jquery-ui-1.9.2.custom.css') }}" type="text/css" media="all"/>

  <style type="text/css">
   
.main-col { width: 70%; display: inline-block; float: left; border-right: 1px solid #ccc; padding: 20px; margin-bottom: 20px; }
.sidebar {  padding: 10px; display: inline-block; }

body {background-color:#fff3bc;}
h2 {
    font-family: Georgia,"Times New Roman",Times,serif;
    letter-spacing: 0px;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgb(187, 187, 187);
}

th{
    background: none repeat scroll 0% 0% rgb(0, 0, 0);
    font-size: 12px;
    padding: 5px;
    color: rgb(255, 255, 255);
}

 
 
.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0px;
    padding: 1em 1.4em;
    background: #fff3bc;
}
     

  table.view {
    font-size: 12px;
    color: rgb(1, 1, 1);
    border-spacing: 0px;
       min-width:400px;
}
 table.view {
    font-size: 11px;
   
    border-collapse: separate;
   
    font-family: 'Times New Roman',Times,serif;
}

  .ui-widget-content a {
    color: blue;
      font-size:12px;
}
a.mytab {
}
 .ui-widget-content a.fichier:hover {
    color: red;
    
}
.view td {
    font-size: 14px;
    border-color: rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    padding:5px;
    background-color: #d6d6d6;
}

.view td:hover {
    background-color: rgb(204, 204, 204);
}

.view td.viewlabel  {
    font-size: 14px;
    color: rgb(254, 254, 254);
    background-color: rgb(87, 87, 87);
    border-color: rgb(255, 255, 255);
}
  </style>

        {% endblock %}
    </head>
    <body>
      
        
   {% block javascripts %}
  
<script src="{{ asset('jquery/jquery-1.9.1.js') }}" type="text/javascript"></script>
               <script type="text/javascript" src="{{ asset('jquery/jquery-ui-1.10.3.custom.min.js') }}"></script>
  
   <script>
  
$(document).ready(function() {

    $( "#tabs" ).tabs();

  
});
</script>  
    
 {% endblock %}

    {% block content %}
        
         <center><h2>OPERATION: {{ entity.nom }} </h2></center>

<div id="tabs">
    

  
  <ul>
    <li><a href="#tabs-1" class="mytab"> <i class="icon-pencil"></i>  Données Principales</a></li>
    <li><a href="#tabs-2" class="mytab" ><i class="icon-book"></i>  Fichiers</a></li>
{#
 
      
    <li><a href="#tabs-1" class="mytab">   Données Principales</a></li>
    <li><a href="#tabs-2" class="mytab" >  Fichiers</a></li>
#}
  </ul>
      
  <div id="tabs-1">
   
<table class="view table-bordered">

 <thead>
                        <tr class="title">
                            <th>Paramètres</th>
                            <th>Valeurs</th>
                        </tr>
                    </thead>
    <tbody>
        
       
        <tr>
            <td class="viewlabel">Id</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td class="viewlabel">Nom</td>
            <td>{{ entity.nom }}</td>
        </tr>
        <tr>
            <td class="viewlabel">Demandeur</td>
            <td>{{ entity.demandeur }}</td>
        </tr>
        <tr>
            <td class="viewlabel">Datedebut</td>

            <td>{{ entity.dateDebut|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <td class="viewlabel">Datefin</td>
            <td class="single">{{ entity.dateFin|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <td class="viewlabel">Datecomep</td>
            <td>
            {% if entity.dateComep is not null %}
               {{ entity.dateComep|date('Y-m-d H:i:s') }}
                    {% else %}
                    Aucune
            {% endif %}
            </td>
            </tr>
            <tr>
                 <td class="viewlabel">Datevsr</td>
            <td>
            {% if entity.dateVsr is not null %}
               {{ entity.dateVsr|date('Y-m-d H:i:s') }}
                      {% else %}
                    Aucune
            {% endif %}
            </td>
               
             
            </tr>
            <tr>
                <td class="viewlabel">Description</td>
                
                <td>{{ entity.description|raw }}</td>
            </tr>

            <tr>
                <td class="viewlabel">Projet</td>
                <td>{{ entity.idProjet }}</td>
            </tr>
            <tr>
                <td class="viewlabel">Status</td>
                <td>{{ entity.idStatus }}</td>
            </tr>
            <tr>
                <!--<td class="viewlabel">Avatar</td>
                <td>{#{ entity.avatar }#}</td>-->
            </tr>

            <!--  <tr>
                  <td class="viewlabel">Fichier Principal</td>
                  <td>{#{ entity.picture.name }#}
                  
              
                  </td>
              </tr>-->

            <tr><td class="viewlabel">Applications</td>
                <td>
           {{ entity.idapplis|join(', ') }}   
             {#% for appli in entity.idapplis %} {{ appli.nomapplis }}
       {% endfor %#}
                    </td>
                </tr>

                <tr><td class="viewlabel">Environnements</td>
                    <td>

           {{ entity.idEnvironnement|join(', ') }}   
             {#% for envi in entity.idEnvironnement %} {{ envi.nom }}
       {% endfor %#}
                    </td>
                </tr>



                <tr>
                    <td class="viewlabel">Utilisateurs</td>
                    <td>
           {{ entity.idusers|join(', ') }}   
{#% for user in entity.idusers %} {{ user.nomUser }}

       {% endfor %#}
                        </td>
                    </tr>
                    
                     <tr>
                <td class="viewlabel">Ticket Externe</td>
                <td>{{ entity.ticketExt }}</td>
            </tr>
             <tr>
                <td class="viewlabel">Ticket Interne</td>
                <td>{{ entity.ticketInt }}</td>
            </tr>


                </tbody>
            </table>

</div>
    
  <div id="tabs-2">


            <h3><center>Fichiers de la demande</center></h3>
        <table class="view table-bordered">

 <thead>
                        <tr class="title">
                        
                <tr class="title"><th>id</th><th>Nom</th>
                    <th>Nom Original</th>
                    <th>Date Maj</th><th>Lien</th></tr>
                </thead>
                
               <tbody>
          
               {% for fic in entity.picture %}
                <tr> 
                    <td>{{ fic.id }}</td>
                    <td>{{ fic.name }}</td>
                    <td>{{ fic.OriginalFilename }}</td>
                    <td>{{ fic.updatedAt|date('Y-m-d H') ~ 'h' }}</td>
                    <td><a class="fichier" href="{{ path('download_route', { 'filename': fic.path }) }}">{{ fic.path }}</a></td>

                       <!-- <a href="{#{ asset('bundles/my/Resources/public/pdf/dok.pdf') }#}">Download PDF!</a>-->

                </tr>
       {% endfor %}
            </tbody>
        </table>

   
  </div>
 
 
      </div>        
         
      
                {% endblock %}
     
        
                <!-- Le javascript ================================================== -->
                <!-- Placed at the end of the document so the pages load faster -->

    
    
           
        </body>

    </html>
    
    
    