 <div id="matable">
     <table class="table table-striped table-bordered table-hover">
   <thead>
   <tr class="title">
       <script>var menuDownUrl = "{{ asset('bundles/applicationcertificats/images/') }}";</script>
       
                            <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                            <th style="min-width:150px" {% if pagination.isSorted('a.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nom', 'a.nom') }}
                              <i class=" icon-pencil"></i></th>
                            <th{% if pagination.isSorted('a.dateDebut') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Debut', 'a.dateDebut') }}
                                <i class=" icon-time"></i></th>
                            <th{% if pagination.isSorted('a.dateFin') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Fin', 'a.dateFin') }}
                                <i class=" icon-time"></i></th>
                            <th{% if pagination.isSorted('b.nomprojet') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Projet', 'b.nomprojet') }}</th>
                            <th{% if pagination.isSorted('c.nomUser') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'D', 'c.nomUser') }}
                                <i class=" icon-user"></i></th>
                            <th><i class=" icon-book"></i></th>
                            <th><i class=" icon-pencil"></i></th>
                            <th style="min-width:100px" {% if pagination.isSorted('e.nomUser') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Users', 'e.nomUser') }}
                                <i class=" icon-user"></i><i class=" icon-user"></i></th>
                            <th style="min-width:30px" {% if pagination.isSorted('d.idStatus.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'F', 'd.idStatus.nom') }}
                                <i class=" icon-flag"></i></th>
                             <th style="min-width:50px" {% if pagination.isSorted('a.ticketExt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'T_Ext', 'a.ticketExt') }}
                                <i class=" icon-tag"></i></th>
                             <th style="min-width:50px" {% if pagination.isSorted('a.ticketInt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'T_Int', 'a.ticketInt') }}
                                 <i class=" icon-tag"></i></th>
                            <th {% if pagination.isSorted('g.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Env', 'g.nom') }}
                                <i class=" icon-wrench"></i></th>
                            <th colspan="4">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
    {% for entity in pagination %}
                     {# si datedebut existe #}   
          {#   {% if entity.dateDebut %}#}
                            
                            {% if entity.idStatus.description == 'closed' %} 
                            {# <tr class="closed">#}
                            <tr>
                                 {# sinon: open prepare ou wait #}
                            {% else %}
                                   {% if entity.idStatus.description == 'prepare' or  entity.idStatus.description == 'wait'%} 
                                     <tr class="warning">
                                         {# encours==open#}
                                       {% else %}
                                             <tr class="success">
                                     {% endif %}
                              {% endif %}
                           <td>{{ entity.id }}</td>
                            <td><a href="{{ path('changements_show', { 'id': entity.id }) }}">{{ entity.nom }}</a></td>
                              {#<td>{% if entity.dateDebut %}{{ entity.dateDebut|date('Y-m-d H') ~ 'h' }}{% endif %}</td>#}
                              <td>{% if entity.dateDebut %}{{ entity.dateDebut|date('Y-m-d') }}{% endif %}</td>
                            <td>{% if entity.dateFin %}{{ entity.dateFin|date('Y-m-d') }}{% endif %}</td>
                            <td>{{ entity.idProjet.nomprojet }}</td>
                            <td>{{ entity.demandeur.nomUser }}</td>
                            <td>{{ entity.picture|length }}</td>
                            <td>{{ entity.comments|length }}</td>
                            <td>
                                {{ entity.idusers|join(', ') }}   
                                {#% for user in entity.idusers %} {{ user.nomUser }}
                                {% endfor %#}
                            </td>
                            <td>
                                {% if entity.idStatus.description == 'open' %}
                                    <a class="open" data-id="{{entity.id}}"  href="#{{ entity.id }}">
                                        <img src="{{ asset('bundles/applicationchangements/images/cadenas-souvert.png') }}" alt="show" width="15" height="15"/>
                                    </a>
                                {% elseif   entity.idStatus.description == 'closed' %}
                                    <a class="closed" data-id="{{entity.id}}"  href="#{{ entity.id }}">
                                        <img src="{{ asset('bundles/applicationchangements/images/cadenas-sferme.png') }}" alt="show" width="15" height="15" />
                                    </a>
                               {% else %}
                                    <a class="open" data-id="{{entity.id}}"  href="#{{ entity.id }}">
                                        <img src="{{ asset('bundles/applicationchangements/images/cadenas-sbleu.png') }}" alt="show" width="15" height="15" />
                                    </a>
                               {% endif %}
                            </td> 
                            <td> {{ entity.ticketExt }}   </td>
                            <td> {{ entity.ticketInt }}   </td>
                            <td>{{ entity.idEnvironnement|join(', ') }}</td>
                            <td>
                                <a class="editme" title="Opération: {{ entity.nom }}" href="{{ path('changements_showXhtml', { 'id': entity.id }) }}">
                                    <img src="{{ asset('bundles/applicationchangements/images/detail.png') }}" alt="show" width="15" height="15" />
                                </a>
                            </td>
                            
                        {% if is_granted("ROLE_USER") %}
                               <td><a href="{{ path('changements_edit', { 'id': entity.id }) }}">
                                <img src="{{ asset('bundles/applicationchangements/images/edit.png') }}" alt="edit" width="15" height="15" />
                                </a>
                            </td>
                             <td><a href="{{ path('changements_newfichier', { 'id': entity.id }) }}">
                                <img src="{{ asset('bundles/applicationchangements/images/add.png') }}" alt="fichier" width="15" height="15" />
                                </a>
                            </td>
                        {% endif %}
                            
                        <td>
                            <a href="{{ path('changements_comment_show', { 'id': entity.id }) }}">
                                <i class="icon-pencil"></i>
                            </a>
                        </td>
                </tr>
    {% endfor %}
 </tbody>
 </table>
         </div>