<!DOCTYPE html>
<html>
    <head>
        <title>{% block headtitle %}I-CHANGE MROOT{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
          {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-responsive.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/jquery-ui-1.9.2.custom.css') }}" type="text/css" media="all"/>
        <link rel="stylesheet" href="{{ asset('bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}" type="text/css" media="all" />

     
<link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" type="text/css" />
        <!--[if IE 7]>
        <link rel="stylesheet" href="{{ asset('css/font-awesome-ie7.css') }}">
        <![endif]--> 

        <style type="text/css">
                #content{ position:relative;}
            </style>
            {% stylesheets 
                  '@ApplicationCentralBundle/Resources/public/css/main.css' 
                output='css/compiled/main.css' filter='?yui_css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}

{# filter='?yui_css' en dev #}
        {% endblock %}

        </head>
        <body>
            <div class="container">
                <div class="page-header">
                      {{ block('NAVIGATION_BAR') }}

                    </div>
                    <div id="content">
                        <center><h1>   {% block title %}CERTIFICATS{% endblock %}
                               </h1></center>
                {% block content %}
                {% endblock %}
                            </div>
                            <div id="footer">
                                <p align="center">{{ 'contact: mroot72000@yahoo.fr'|trans }} © 2013</p>
                            </div>        
                        </div>


                        <!-- Le javascript ================================================== -->
                        <!-- Placed at the end of the document so the pages load faster sans assetic -->

       {% block javascripts %}
                        <script src="{{ asset('jquery/jquery-1.9.1.js') }}" type="text/javascript"></script>
                        <script type="text/javascript" src="{{ asset('jquery/jquery-ui-1.9.2.custom.min.js') }}"></script>
                        <script type="text/javascript" src="{{ asset('jquery/jquery.ui.datepicker.js') }}"></script>
                        <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
                         <script type="text/javascript" src="{{ asset('bootstrap/js/bootbox.min.js') }}"></script>
      {% endblock %}


                    </body>

                </html>


