<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dashboard | Modern Admin</title>
      
  {% block stylesheets %}
        {% stylesheets 
              'bootstrap3/css/bootstrap.css' 
              'css/jquery-ui-1.9.2.custom.css' 
              'bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css' 
              'css/font-awesome-4.0.3/css/font-awesome.min.css' 
              '@ApplicationCentralBundle/Resources/public/css/main.css' 
  output='css/compiled/mainjquerybs3.css' filter='?yui_css , cssrewrite' %}
        
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}
   
        <!--[if IE 7]>
    <link rel="stylesheet" href="{{ asset('css/font-awesome-ie7.css') }}">
    <![endif]--> 
        <style type="text/css">
        
        .panel-content {padding:10px;margin:5px}
        .btn-group-justified {padding:10px;margin:5px}
    
        
        .nav li:nth-child(6n+1) {
background: rgb(208, 101, 3);
}
@media (min-width: 50em){
.nav li {
float: left;
width: 16.66666666666667%;
text-align: center;
-webkit-transition: border .5s;
-moz-transition: border .5s;
-o-transition: border .5s;
-ms-transition: border .5s;
transition: border .5s;
}
}
.fa {
padding-top: 1.4em;
}
a, li {
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a.btn-primary-hover:hover {padding-bottom:30px;}
/*.icon-team, .icon-blog, .icon-home, .icon-portfolio, .icon-services, .icon-contact, .icon-menu {
font-family: 'fa';
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
}*/
        </style>
        {% endblock %}
    
    </head>
 <body>   
     
   <!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-header">
  	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    	<span class="icon-toggle"></span>
  	</button>
  	<a class="navbar-brand" href="#">Dashboard</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav pull-right">
      
      <li class="dropdown">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
          <strong>Admin</strong> <span class="caret"></span></a>
        <ul id="g-account-menu" class="dropdown-menu" role="menu">
          <li><a href="#">My Profile</a></li>
        </ul>
      </li>
      
      <li><a href="#">Log out</a></li>
    </ul>
  </div>
</div>
<!-- /Header -->

<!-- Main -->
<div class="container">
<div class="row">
	<div class="col-md-3">
      <!-- Left -->
      <strong>Tools</strong>
      <hr>
      <ul class="nav nav-pills nav-stacked">
        <li class="nav-header"></li>
        <li class="active"><a href="http://bootply.com" title="The Bootstrap Playground" target="ext">Home</a></li>
        <li><a href="/tagged/bootstrap-3">Bootstrap 3</a></li>
        <li class="divider"></li>
        <li><a href="/61518" title="Bootstrap 3 Panel">Panels</a></li>
        <li><a href="/61521" title="Bootstrap 3 Icons">Glypicons</a></li>
        <li><a href="/61523" title="Bootstrap 3 ListGroup">List Groups</a></li>
        <li><a href="#">GitHub</a></li>
        <li><a href="/61518" title="Bootstrap 3 Slider">Carousel</a></li>
        <li><a href="/62603">Layout</a></li>
      </ul>
  	</div><!-- /span-3 -->
    <div class="col-md-9">
        
        
        
         
        
      	<!-- Right -->
      	
        <a href="#"><strong><span class="glyphicon glyphicon-dashboard"></span> My Dashboard</strong></a>  
             
      	<hr>
      
		<div class="row">
         	<div class="col-md-11">
				<div class="well">Inbox Messages <span class="badge pull-right">3</span></div>
              
              	<div class="panel">
                  	<div class="panel-heading">
                    	<i class="icon icon-chevron-up chevron"></i>
                  		<i class="icon icon-wrench pull-right"></i> Accès Rapide
                	</div>
                  <div class="panel-content">
                    
                      <div class="btn-group btn-group-justified">
                         <a href="{{ path('changements_fanta') }}" class="btn btn-primary btn-primary-hover col-sm-3">
                            <i class="fa fa-th-list fa-2x"></i> 
                          
                          <p>Changements</p>
                        </a>
                           <a href="{{ path('changements_myfanta') }}" class="btn btn-primary col-sm-3">
                          <span class="fa fa-plus-circle fa-2x"></span>
                          <p>Favoris</p>
                        </a>
                          
                        <a href="{{ path('docchangements') }}" class="btn btn-primary col-sm-3">
                               <i class="fa fa-plus-circle fa-2x"></i>
                          <p>Fichiers</p>
                        </a>
                        <a href="{{ path('changements_comment_mesactivites') }}" class="btn btn-primary col-sm-3">
                               <span class="fa fa-cog fa-2x"></span>
                          <p>Commentaires</p>
                        </a>
                        
                      </div>
                  </div><!--/panel content-->
              </div><!--/panel-->
              
              
               	<div class="panel">
                  	<div class="panel-heading">
                    	<i class="icon icon-chevron-up chevron"></i>
                  		<i class="icon icon-wrench pull-right"></i> Autres Options
                	</div>
                  <div class="panel-content">
                    
                      <div class="btn-group btn-group-justified">
                         <a href="{{ path('changements_fanta') }}" class="btn btn-primary col-sm-3">
                            <i class="fa fa-th-list fa-2x"></i> 
                          
                          <p>Calendrier des Changements</p>
                        </a>
                           <a href="{{ path('changements_myfanta') }}" class="btn btn-primary col-sm-3">
                          <i class="fa fa-calendar-o fa-2x"></i>
                          <p>Calendriers des Projets</p>
                        </a>
                          
                        <a href="{{ path('docchangements') }}" class="btn btn-primary col-sm-3">
                          <i class="fa fa-bar-chart-o fa-2x"></i>
                          <p>Graphiques des Changements</p>
                        </a>
                      
                        
                      </div>
                  </div><!--/panel content-->
              </div><!--/panel-->
              
              
              
              
              
              <div class="panel panel-default">
                  <div class="panel-heading">Report</div>
                  <table class="table table-striped">
                  <thead>
                    <tr><th>Col 1</th><th>Col 2</th><th>Col 3</th></tr></thead>
                  <tbody>
                    <tr><td>45</td><td>2.45%</td><td>Direct</td></tr>
                    <tr><td>289</td><td>56.2%</td><td>Referral</td></tr>
                    <tr><td>98</td><td>25%</td><td>Type</td></tr>
                    <tr><td>..</td><td>..</td><td>..</td></tr>
                    <tr><td>..</td><td>..</td><td>..</td></tr>
                  </tbody>
                  </table>
              </div><!--/panel-->
              
              
              <div class="panel panel-default">
                  <div class="panel-heading">Graphiques des Demandes</div>
                  <div class="panel-body"></div>
              </div><!--/panel-->
              
          	</div>
        	<div class="col-md-5">
				<div class="panel panel-default">
                  <div class="panel-heading">Bootstrap 3</div>
                  <div class="panel-body">
                  This is a dashboard-style layout that uses Bootstrap 3 RC. You can follow the ongoing pre-release discussions about Bootstrap 3.0 on this <a href="https://github.com/twitter/bootstrap/pull/6342">GitHub thread</a>.
                  <br><br>
                  This Bootstrap 3 dashboard layout is compliments of <a href="http://bootply.com">Bootply</a>.
                  </div>
              	</div>
              
              	<div class="panel panel-default">
                	<div class="panel-heading">
                      	<div class="panel-title">
                      	<i class="glyphicon glyphicon-chevron-up chevron"></i>
                  		<i class="glyphicon glyphicon-wrench pull-right"></i>
                      	Form
                      	</div>
                	</div>
                	<div class="panel-body">

                      <form class="form form-vertical">
                       
                        <div class="control-group">
                          <label>Name</label>
                          <div class="controls">
                           <input type="text" class="form-control" placeholder="Enter Name">
                          </div>
                        </div>      
                        
                        <div class="control-group">
                          <label>Label</label>
                          <div class="controls">
                           <input type="password" class="form-control" placeholder="Password">
                          
                          </div>
                        </div>   
                        
                        <div class="control-group">
                          <label>Text</label>
                          <div class="controls">
                          	<textarea class="form-control"></textarea>
                          </div>
                        </div> 
                             
                        <div class="control-group">
                          <label>Select</label>
                          <div class="controls">
                             <select class="form-control"><option>options</option></select>
                          </div>
                        </div>    
                        
                        <div class="control-group">
                          	<label></label>
                        	<div class="controls">
                        	<button type="submit" class="btn btn-primary">
                              Post
                            </button>
                        	</div>
                        </div>   
                        
                      </form>
                
                
                  </div><!--/panel content-->
                </div><!--/panel-->
              
              	<div class="panel panel-default">
                  <div class="panel-heading"><div class="panel-title">Engagement</div></div>
                  <div class="panel-body pull-center">	
                   	
                    <img src="http://placehold.it/90X90/CC2222/FFF" class="img-circle">
                    
                    <img src="http://placehold.it/90X90/11CC22/FFF" class="img-circle">
                    
                    <img src="http://placehold.it/90X90/EEEEEE/222" class="img-circle">
                    
                  </div>
               </div><!--/panel-->
              
              
               	<i class="icon-bar-chart icon-3x"></i>
              	<i class="icon-plus icon-3x"></i>
              	<i class="icon-facebook icon-3x"></i>
              	<i class="icon-beaker icon-3x"></i>
              	<i class="icon-twitter icon-3x"></i>
              	
              
			</div><!--/col-span-6-->
     
      </div><!--/row-->
  	</div><!--/col-span-9-->
</div>
    
    <div class="main clearfix">
				<nav id="menu" class="nav"><button type="button" id="menutoggle" class="navtoogle" aria-hidden="true"><i aria-hidden="true" class="icon-menu"> </i> Menu</button>					
					<ul>
						<li>
							<a href="http://plugins.compzets.com">
								<span class="icon">
									<i aria-hidden="true" class="fa fa-home"></i>
								</span>
								<span>Home</span>
							</a>
						</li>
						<li>
							<a href="#" onclick="$('#section-2').animatescroll();">
								<span class="icon"> 
									<i aria-hidden="true" class="fa fa-home"></i>
								</span>
								<span>What is it?</span>
							</a>
						</li>
						<li>
							<a href="#" onclick="$('#section-3').animatescroll();">
								<span class="icon">
									<i aria-hidden="true" class="fa fa-home"></i>
								</span>
								<span>Options</span>
							</a>
						</li>
						<li>
							<a href="#" onclick="$('#section-4').animatescroll();">
								<span class="icon">
									<i aria-hidden="true" class="icon-blog"></i>
								</span>
								<span>Easing Effects</span>
							</a>
						</li>
						<li>
							<a href="#" onclick="$('#section-5').animatescroll();">
								<span class="icon">
									<i aria-hidden="true" class="icon-team"></i>
								</span>
								<span>Usage</span>
							</a>
						</li>
						<li>
							<a href="#" onclick="$('#section-6').animatescroll();">
								<span class="icon">
									<i aria-hidden="true" class="icon-contact"></i>
								</span>
								<span>About Me</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
</div>
<!-- /Main -->

<footer>This Bootstrap 3 dashboard layout is compliments of Bootply.com | <a href="http://www.bootply.com/61526"><strong>Edit on Bootply</strong></a></footer>

<div class="modal" id="addWidgetModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Add Widget</h4>
      </div>
      <div class="modal-body">
        <p>Add a widget stuff here..</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dalog -->
</div><!-- /.modal -->
  
        
                <!-- Le javascript ================================================== -->
                <!-- Placed at the end of the document so the pages load faster -->

       {% block javascripts %}
        <script src="{{ asset('jquery/jquery-1.9.1.js') }}" type="text/javascript"></script>
        <script type="text/javascript" src="{{ asset('jquery/jquery-ui-1.9.2.custom.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jquery/jquery.ui.datepicker.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bootstrap3/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bootstrap3/js/bootbox.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/animatedscroll/animatescroll.js') }}"></script>
     
      {% endblock %}
    
           
        </body>

    </html>
    

