{% extends "ApplicationRelationsBundle::layout.html.twig" %}
{% macro widget_prototype(widget, remove_text) %}
    {% if widget.get('prototype') %}
        {% set form = widget.get('prototype') %}
        {% set name = widget.get('prototype').get('name') %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.get('full_name') %}
    {% endif %}

    <div data-content="{{ name }}">
        <a class="btn-remove" data-related="{{ name }}">{{ remove_text }}</a>
        {{ form_widget(form) }}
    </div>
{% endmacro %}


  {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationrelations/css/sliding.css') }}" type="text/css" media="all"/>


 {% endblock %}
    {% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
  $('.btn-add').click(function(event) {
    var collectionHolder = $('#' + $(this).attr('data-target'));
    var prototype = collectionHolder.attr('data-prototype');
    var form = prototype.replace(/__name__/g, collectionHolder.children().length);

    collectionHolder.append(form);

    return false;
});
$('.btn-remove').live('click', function(event) {
    var name = $(this).attr('data-related');
    $('*[data-content="'+name+'"]').remove();

    return false;
});


</script>

{% endblock %}
{% block content_header '' %}
{% block title %}EDITION PROJET{% endblock %}
{% block content %}


{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
<div class="alert alert-{{ type }}">
            {{ flashMessage|trans }}
    </div>
    {% endfor %}
{% endfor %}


<form   action="{{ path('projets_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <br><br>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    {{ form_errors(edit_form.nomprojet) }}
                    {{ form_label(edit_form.nomprojet) }}
                    {{ form_widget(edit_form.nomprojet) }}
                        </div>
                        <br><br>
                        <div>
                    {{ form_errors(edit_form.description) }}
                    {{ form_label(edit_form.description) }}
                    {{ form_widget(edit_form.description) }}
                            </div>
                </td>
                <td>
                    {{ form_errors(edit_form.idapplis) }}
                    {{ form_label(edit_form.idapplis) }}
                    {#{  form_widget(form.name, { 'attr' : { 'class' : 'yourClass' } })  }#}
                    {{ form_widget(edit_form.idapplis,{ 'attr' : { 'class' : 'myselect' } }) }}
                     </td>
                     <tr>  <td colspan="2">
                        
                              <div id="post_tags" data-prototype="{{ _self.widget_prototype(edit_form.picture, 'Supprimer Fichier')|escape }}">
            {% for widget in edit_form.picture.children %}
                {{ _self.widget_prototype(widget, 'Supprimer Fichier') }}
            {% endfor %}
        </div>

        <a class="btn-add" data-target="post_tags">Ajouter un Fichier</a>
        
        
        
        
                         
                   
               </td>
         </tr>
         <tr>
               <td colspan="2">
                    {{ form_rest(edit_form) }}
                     <button type="submit" class="btn btn-large btn-warning">Modifier</button>
                      <a href="{{ path('projets') }}" class="btn btn-large btn-success">Retour</a>
   </form>


                                <form action="{{ path('projets_delete', { 'id': entity.id }) }}" method="post">
        {{ form_errors(delete_form) }}
           {{ form_row(delete_form.id) }}
           {{ form_rest(delete_form) }}
                                        <div style="text-align:right">
                                            <button type="submit" class="btn btn-small btn-danger" onclick="if(!confirm('Are you sure?')) { return false; }">Supprimer Projet</button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
      {#{ form_widget(delete_form) }#}


                    <h3><center>Liste des Applications associés</center></h3>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="title"><th>Nom</th><th>Description</th></tr>
                        </thead>
               {% for appli in applis %}
                        <tr> <td>{{ appli.nomapplis }}</td>
                            <td>{{ appli.description }}</td>
                        </tr>
       {% endfor %}
                        </tbody>
                    </table>

<h3><center>Liste des Fichiers associés</center></h3>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="title"><th>id</th><th>Nom</th><th>Path</th></tr>
                        </thead>
               {% for fic in entity.picture %}
                        <tr> 
                            <td>{{ fic.id }}</td>
                            <td>{{ fic.name }}</td>
                             <td>{{ fic.path }}</td>
                            
                        </tr>
       {% endfor %}
                        </tbody>
                    </table>



{% endblock %}