{% extends "ApplicationRelationsBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationrelations/css/sliding.css') }}" type="text/css" media="all"/>


 {% endblock %}

{% block content_header '' %}
{% block title %}EDITION PROJET{% endblock %}
{% block content %}





<form  class="form-horizontal" action="{{ path('projets_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
<br><br>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    
 {{ form_errors(edit_form.nomprojet) }}
    {{ form_label(edit_form.nomprojet) }}
    {{ form_widget(edit_form.nomprojet) }}
                        </div>
                        <br><br>
                        <div>
                     {{ form_errors(edit_form.description) }}
    {{ form_label(edit_form.description) }}
    {{ form_widget(edit_form.description) }}
                            </div>

                           
                              
                                </td>
                                <td>
                                
 {{ form_errors(edit_form.idapplis) }}
    {{ form_label(edit_form.idapplis) }}
                                    {#{  form_widget(form.name, { 'attr' : { 'class' : 'yourClass' } })  }#}
                                    
    {{ form_widget(edit_form.idapplis,{ 'attr' : { 'class' : 'myselect' } }) }}
                                          
                                          {{ form_rest(edit_form) }}
                               
                                
                                </td>
                
                </tr><tr>
                                <td colspan="2">
                                    <button type="submit" class="btn btn-large btn-warning">Modifier</button>
                                    <a href="{{ path('projets') }}" class="btn btn-large btn-success">Retour</a>
                                    </p>
                                    </form>


                                    <form action="{{ path('projets_delete', { 'id': entity.id }) }}" method="post">
        {{ form_errors(delete_form) }}
           {{ form_row(delete_form.id) }}
           {{ form_rest(delete_form) }}
                                            <div style="text-align:right">
                                                <button type="submit" class="btn btn-small btn-danger" onclick="if(!confirm('Are you sure?')) { return false; }">Supprimer Projet</button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
      {#{ form_widget(delete_form) }#}


                        <h3><center>Liste des Applications associés</center></h3>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr class="title"><th>Nom</th><th>Description</th></tr>
                            </thead>
               {% for appli in applis %}
                            <tr> <td>{{ appli.nomapplis }}</td>
                                <td>{{ appli.description }}</td>
                            </tr>
       {% endfor %}
                            </tbody>
                        </table>




{% endblock %}