{% extends "ApplicationRelationsBundle::layout.html.twig" %}
{% block stylesheets %}
{{ parent() }} 
<link rel="stylesheet" href="{{ asset('css/sliding.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('css/certifcatssearch.css') }}" type="text/css" media="all"/>
<style>
        
        tr.single {
         background-color: #f1f1f1;
        }

    </style> 
{% endblock %}
    {#
  {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationrelations/css/sliding.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bundles/applicationrelations/css/table.css') }}" type="text/css" media="all"/>
 {% endblock %}
#}

{% block javascripts %}
    {{ parent() }}  
    <script type="text/javascript" src="{{ asset('bundles/applicationrelations/js/collections.js') }}"></script>
{% endblock %}
    
{% block content_header '' %}
    
{% block title %}EDITION PROJET{% endblock %}

{% block content %}

{% if action == 'edit' %}

<form   action="{{ path(path_form, { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
{% else %}
 <form  action="{{ path(path_form)}}" method="post" {{ form_enctype(form) }}>
{% endif %}


    <br><br>
      <table class="table-mybordered">

            <tr><td class="calendar">
    
                    {{ form_errors(form.nomprojet) }}
                    {{ form_label(form.nomprojet) }}
                    {{ form_widget(form.nomprojet) }}
                        </div>
                        <br><br>
                        <div>
                    {{ form_errors(form.description) }}
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                            </div>
                </td>
               <td class="calendar">
                    {{ form_errors(form.idapplis) }}
                    {{ form_label(form.idapplis) }}
                    {{ form_widget(form.idapplis,{ 'attr' : { 'class' : 'myselect' } }) }}
                     </td>
                     <tr>  <td class="calendar" colspan="2">
                             
                               <ul class="tags" data-prototype="{{ form_widget(form.picture.vars.prototype)|e }}">

       {% for tag in form.picture %}
   
 <li> 
  {{ form_errors(tag.file) }}
      {{ form_widget(tag.file) }}
        {{ form_errors(tag.name) }}
         {{ form_widget(tag.name) }}
</li>
    {% endfor %}
    
    </ul>
                             
                 {% do form.picture.setRendered() %}            
                 
               </td>
         </tr>
         <tr>
              <td class="calendar" colspan="2">
                    {{ form_rest(form) }}
                     <button type="submit" class="btn btn-large btn-warning">Modifier</button>
                      <a href="{{ path(tpl_retour) }}" class="btn btn-large btn-success">Retour</a>
   </form>


        
{% if action == 'edit' %}
        <form action="{{ path('projets_delete', { 'id': entity.id }) }}" method="post">
        {{ form_errors(delete_form) }}
           {{ form_row(delete_form.id) }}
           {{ form_rest(delete_form) }}
                                        <div style="text-align:right">
                                            <button type="submit" class="btn btn-small btn-danger" onclick="if(!confirm('Are you sure?')) { return false; }">Supprimer Projet</button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                       
                    </table>
<h3><center>Liste des Fichiers associés</center></h3>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="title"><th>id</th><th>Nom</th><th>Path</th></tr>
                        </thead>
               {% for fic in entity.picture %}
                        <tr> 
                            <td>{{ fic.id }}</td>
                            <td>{{ fic.name }}</td>
                             <td>{{ fic.path }}</td>
                            
                        </tr>
       {% endfor %}
                        </tbody>
                    </table>

{% endif %}  

{% endblock %}