{% extends "::base.html.twig" %}

{% form_theme form with 'ApplicationChangementsBundle:Form:tpl_form.html.twig' %}

{% block stylesheets %}

 {{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/ccpchangements.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.fileupload-ui.css') }}" type="text/css" media="all"/>    
  <link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.pnotify.default.css') }}" type="text/css" />
<style>
        .monlabel {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-weight: bold;
        }

        .boxlist {border: 1px solid #D4E0EE;background-color: #f1f1f1;
                  padding-left:10px;
                  width:300px;
        }
        .leserreurs {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size:12px;
            color:red;
        }
        .hrsep {color: blue;background-color: blue;height: 2px; }
        a.add_tag_link { color:whitesmoke;}
        a.myleft{float:right;margin-right:10px;margin-bottom:20px;}
        .ui-autocomplete-category {
            font-weight: bold;
            padding: .2em .4em;
            margin: .8em 0 .2em;
            line-height: 1.5;
        }

        .mytiny {width:30%;}
        .tinymce {height:300px;}
        td.description {text-align:center;vertical-align:middle;}
        .lastcol {max-width:200px}
        /*select#changements_idapplis,select#changements_idusers{height:200px;}*/
        
        
          select option:hover {
                background-color: #b6d1fd;
            }
            
            /* #s2id_autogen2.select2-input.select2-default {*/
            .select2-container,
             div#s2id_changements_idEnvironnement,div#s2id_changements_idProject,
             div#s2id_changements_demandeur,
             div#s2id_changements_idapplis, div#s2id_changements_idusers,
             div#s2id_changements_searchfilter_idProjet,
             div#s2id_changements_searchfilter_idusers,ul.select2-choice {
           width:210px;
           
           /* min-width:200px;max-width:220px;*/
            }
           
         
            label,.mondiv { color:#02195e; font-size: 12px;
                            font-weight: normal;
                            line-height: 20px;}

            /* select#changements_searchfilter_idStatus{
               }*/
             .select2-choice {
     width:167px;
}
div.testa{background-color: red;width:100px;position: absolute;left:100px;}
.select2-container {
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: top;
}
#myform label.error {
	margin-left: 10px;
	width: auto;
	display: inline;
        color:red;
   }
   textarea {
height:300px;
width:98%;
}
/*
.trseparation{border:2px;
              border-color:black;}.table-mybordered {
    border-spacing: 1px;
    border-collapse: collapse;
    text-align: left;
}*/

    </style>
{#  {{ form_stylesheet(edit_form) }}#}
<link rel="stylesheet" href="{{ asset('select2/select2.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('select2/select2-bootstrap.css') }}" type="text/css" media="all"/>


{% endblock %}

{% block javascripts %}
{{ parent() }}
 
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/datenew.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/jquery.pnotify.min.js') }}"></script>
           <script type="text/javascript" src="{{ asset('jquery/validate/jquery.validate.js') }}"></script>
        <script type="text/javascript" src="{{ asset('select2/select2.js') }}"></script>
        <script type="text/javascript" src="{{ asset('select2/select2_locale_fr.js') }}"></script>        <script>
       

</script>
     
{% endblock %}

{% block content_header '' %}
{% block title %}hjkhjkhjk
{% endblock %}

{% block content %}

{% include 'ApplicationChangementsBundle:templates:flash.html.twig' %}
    
  
<form  id="myform"  action="{{ path('changements_create') }}" method="post" {{ form_enctype(form) }}>

              {#------------------------------------------------
                   TABLE HTML
                  -------------------------------------------------#}
           
            <table class="table-mybordered">
                <tr>
                    {#------------------------------------------------
                    LIGNE 1 CELL 1
                    -------------------------------------------------#}
                <td class="calendar file">
                        <div> {{ form_widget(form.nom) }}</div>
                         <div>{{ form_errors(form.nom) }}</div>
                           <br/> <br/>
                        <div> {{ form_row(form.dateDebut) }} </div>
                         <div> {{ form_row(form.dateFin) }} </div>
                       
          
                     </td>
                   
                  
                </tr>
                
                <tr>
                    <td class="calendar" colspan="3"> {{ form_rest(form) }} 
                        <button type="submit" class="btn btn-large btn-warning">Modifier</button>
                      
                </form>

                    
                </td>
                </tr>    
                           </tbody>
                                    </table>

{% endblock %}
    
     {% block footer %} {% endblock %}



