{% extends "::base.html.twig" %}


{% block stylesheets %}
    
{{ parent() }}
<style type="text/css">
   
 div.btxt{padding-bottom:10px;}   
.mypad {margin-left:4px;
margin-right:4px;}

#description{
    background-color: #eaeaea;padding:10px;
    border:1px solid black;
} 
    
.mywell {
   min-height:100px;
   border:1px solid blue;
   padding:10px;
   margin:5px;
   background-color: #dedede;
    border-style: solid;
    border-color: rgb(0, 0, 0);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 1px 0px rgba(255, 255, 255, 0.1);
 }
</style>
    {% endblock %}
 
{% block title %}OPERATION: {{ entity.nom }} 
{% endblock %}

{% block content %}
<div class="row mypad">
    <div class="span12 mywell">
       <div class="btxt">   <i class="icon-time icon-2x"></i> Nom: {{ entity.nom }}</div>
       <div class="btxt">   <i class="icon-time icon-2x"></i> Date Début: {{ entity.dateDebut|date('Y-m-d H:i:s') }}</div>
       <div class="btxt">    <i class="icon-time icon-2x"></i> Date Fin: {{ entity.dateFin|date('Y-m-d H:i:s') }}</div>
       <div class="btxt">   <i class="icon-time icon-2x"></i> Description: </div>
           <div id="description">{{ entity.description|raw }}</div> 
      </div>
</div>   
{% endblock %}
     {% block footer %} {% endblock %}