
{% extends "::layout.html.twig" %}

  {# <script>var menuDownUrl = "{{ asset('bundles/applicationcertificats/images/') }}";</script>#}
            
  {% block stylesheets %}
    

{{ parent() }}
    <link rel="stylesheet" href="{{ asset('select2/select2.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.pnotify.default.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/indexfanta.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('css/jquery-ui-1.9.2.custom_1.css') }}" />    
    <link rel="stylesheet" href="{{ asset('fullcalendar/fullcalendar.css') }}" />
    <link rel="stylesheet" href="{{ asset('fullcalendar/view_calendar.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/colorbox.css') }}" type="text/css" media="all"/>
    
      {#  <link rel="stylesheet" href="{{ asset('fullcalendar/fullcalendar.print.css') }}" />#}
        
     
  
  <style>
           div.container {width:97%;}
          #wrap {
		width: 100%;
		margin: 0 auto;
		}
  #external-events {
		float: left;
		width: 10%;
                margin-top:50px;
		padding: 0 10px;
		border: 1px solid #ccc;
		background: #eee;
		text-align: left;
		}
		
	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
		}
		
	.external-event { 
		margin: 10px 0;
		padding: 2px 4px;
		background: #3366CC;
		color: #fff;
		font-size: .85em;
		cursor: pointer;
		}
                 .external-event input { 
		float: right;
		}
	#calendar-holder .ui-widget-header{
	font-weight: normal;
	padding: 3px 3px 3px 3px;
}
 
#calendar-holder .fc-header-title{
	font-weight: normal;
}	/*
.fc-event-time { 
  
    -moz-opacity:1;
    padding:0px;
    font-weight: bold;
   filter:alpha(opacity=60); /* IE */
  /*  -moz-opacity:0.6; /* Mozilla */
 
 /*
}*/
/*
.fc-event-inner*/
.fc-agenda .fc-event-time {
  
   /*  border: 1px solid cadetblue;
    background: #ccc;*/
}
 .class1
 {  border: 1px solid cadetblue;
    background: #ccc;
}
	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
		}
		
	#external-events p input {
		margin: 0;
		vertical-align: middle;
		}
  #calendar-holder {
		float: right;
		width: 88%;
		}

.class0 {     border: 1px solid rgb(90, 105, 134);background-color: #94A2BE;}   
.class0 .fc-event-time {background:  rgb(90, 105, 134);}

.class1 {     border: 1px solid rgb(113, 6, 47);background:#993355;}  
.class1 .fc-event-time {background:  rgb(113, 6, 47);}

.class2 {     border: 1px solid rgb(102, 102, 102);;background: #AAAAAA;}
.class2 .fc-event-time {background:rgb(102, 102, 102);}

.class3 {     border: 1px solid rgb(190, 109, 0);;background: #F2A640;}              
.class3 .fc-event-time {background:rgb(190, 109, 0);}

.class4 {     border: 1px solid rgb(122, 54, 122);;background: #B373B3;}
.class4 .fc-event-time {background:   rgb(122, 54, 122);}

.class5 {  border: 1px solid rgb(41, 82, 163);background: #668CD9;}
.class5 .fc-event-time {background:   rgb(41, 82, 163);}
.ui-datepicker{ z-index: 9999 !important;}
INPUT#datepicker{width:100px;height: 15px;
padding: 2px 2px;
margin-top: 5px;
margin-bottom: 1px;
font-size: 10px;
}
/*
.fc-agenda-slots td div {
     height: 10px !important;
}*/
/*
.fc-agenda-slots td div {
         height: px !important;
    }*/
      </style>   
{% endblock %}
        
        
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript" src="{{ asset('select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('select2/select2_locale_fr.js') }}"></script>
 {# <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('fullcalendar/fullcalendar.js') }}"></script>
         <script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/jquery.colorbox.js') }}"></script>
     {#<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
{#<script type="text/javascript" src="{{ asset('fullcalendar/fullcalendar.js') }}"></script>
#}{#<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>#}
<script type="text/javascript">
       $(document).ready(function() {
   var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
              $("#datepicker").datepicker({
            dateFormat: 'yy/mm/dd',
         
   // While using year and month change I prefer to use inline  date picker  like (  <div id="datepicker"></div>   )
                    changeMonth: true,
                        changeYear: true,
                        onChangeMonthYear: function(year, month, inst) {
                        var date = new Date();
                        console.log("month=" + month);
                         $('#calendar-holder').fullCalendar('gotoDate', year, month-1, date.getDate()); 
                         },
                onSelect: function(dateText, inst) {
                        var date = new Date(dateText);
                  
        
         console.log("month=" + date.getMonth());
        $('#calendar-holder').fullCalendar('gotoDate', date.getFullYear(), date.getMonth(), date.getDate()); 
                        /*  $('#calendar-holder').fullCalendar('gotoDate', date);*/
                }
        });
		$('#calendar-holder').fullCalendar({
                    theme: true,
                    firstDay:1,   
                    minTime:7,
                    maxTime:20,
                    slotMinutes: 15,
                    defaultEventMinutes: 120,
                    editable: true,
                    selectable: true,
                    selectHelper: true,
                    eventStartEditable: true,
                    eventDurationEditable: true,
                    droppable: false,
                    disableDragging:false,
                    hiddenDays: [0,6], 
                    defaultView: 'month',
                    header: {
                        left: 'prev, next',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    lazyFetching:true,
                    timeFormat: {
                    agenda: 'H:mm{ - H:mm}'
},
                    eventSources: [
                        {
                            /* default from vendor adesign*/
                 
                        url: Routing.generate('calendar_adesignajax_absences'), 
                        type: 'POST',
                        error: function() {
                        //alert('There was an error while fetching Google Calendar!');
                        }
                        }
                    ],
    
     /*===================================
   * 
   * Deplacer Event
   ====================================*/
    eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
        console.log("drop: move event");
        updateajax('calendar_updateajax_absences',event,function (result) { 
           console.log("event single drop result=" + result);
        });
    },  
      eventResize: function(event,dayDelta,minuteDelta,revertFunc) {
        updateajax('calendar_updateajax_absences',event,function (result) { 
        console.log("resize event");
        });
    },     

      /*==================================
         * 
         * Edit Event 
         ==================================*/
      eventClick: function(calEvent, jsEvent, view) {
    console.log("event click");
      console.log("id after click="+ calEvent.id);
        /* var start = $.fullCalendar.formatDate(calEvent.start, "yyyy-MM-dd HH:mm:ss");
        var end = $.fullCalendar.formatDate(calEvent.end, "yyyy-MM-dd HH:mm:ss");*/
     console.log("start=" + calEvent.start + " end=" + calEvent.end);
  var eventobjet={'start':calEvent.start,
      'end':calEvent.end,
      'allDay':calEvent.allDay, 'description':calEvent.description};
      $("#titreheader").html("Ajouter une Absence");
      var userid=calEvent.userid;
      var title=calEvent.title;
      var absencenom = title.split(": ");
      //var absencenom=calEvent.title;
      console.log("userid=" + userid);
         console.log("description=" + calEvent.description);
          console.log("absencenom=--" + absencenom[0] + "--");
      if (userid)
      $("select#chronoabsences_user > option[value=" + userid + "]").prop("selected",true);
    // $("SELECT#chronoabsences_user[value=" +  d +"]").attr('selected','selected');
     if (absencenom[1])
      $("#chronoabsences_nom option:contains(" + absencenom[1] + ")").attr('selected', 'selected');
    remplirForm(eventobjet);

    $('#createEventModal').modal('show');
    }   
,
  /*==================================
         * 
         * Ajout event 
         ==================================*/
 select: function(start, end, allDay) {
    var eventobjet={'start':start,'end':end,'allDay':allDay};
    $("#titreheader").html("Ajouter une Absence");
    $("#submitButton").unbind('click');
    //remplirForm(eventobjet);
    $('#createEventModal').modal('show');
    $("#titleName").focus();
    $("#submitButton").click(function(event){
        event.preventDefault();
         doSubmit(event);
         initForm();
         
    });
    $("#cancel-button,button.close").click(function(event){
        $("#eventForm").trigger('reset');
       // initForm();
        });
    /*  $('#createEventModal').modal('hide');*/
    },
   /* eventClick: function(calEvent, jsEvent, view) {
      View(calEvent);
   }*/
});

function remplirForm(event){
    console.log("REMPLIR FORMULAIRE");
    var start = $.fullCalendar.formatDate(event.start, "yyyy-MM-dd HH:mm:ss");
    var end = $.fullCalendar.formatDate(event.end, "yyyy-MM-dd HH:mm:ss");
    $("#chronoabsences_dateDebut").val(start);
    $("#chronoabsences_dateFin").val(end);
    $("#chronoabsences_description").val(event.description);
    console.log("start=" + start);
     console.log("description=" + event.description);
    if (event.title)
        $("#titleName").val(event.title);
        if (event.allDay){
           $('#chronoabsences_allDay').val(event.allDay);
        console.log("allday=" + event.allDay);   
       }
       if (event.id)
           $('#apptId').val(event.id);
       //if (event.description)
   

return true;

}
function View(datab)
    {
        var str = "Informations sur l\'evenement<br>";
        var id = datab['id'];
        console.log("edition id=" + id);
         var url = Routing.generate('changements_showXhtml', {id: id});
        console.log("url=" + url);
        /*var dataAjax = {'id': id};*/
        $.colorbox({
         iframe:true,
            transition:	"elastic",
            width:"70%",
            height:"70%",
              fastIframe:false,
            opacity:0.3,
            href: url
       /* onClosed:function(){
              $("#gridcontainer").reload();
         }*/
     });


    }
  
   
function initForm(){
        $('#calendar-holder').fullCalendar('unselect');	 
        $('#createEventModal').modal('hide');
        $("#titleName").val("");
        /*$("h3#titreheader").html("TEST");*/
        $("#descriptionName").val("");
        $('#apptId').val("");
        $('#color').val("");
      //  $("div.colorPicker-picker").css('background-color',getcolorById(0));
      // $('#calendar-holder').fullCalendar('unselect');
}
function doSubmit(event){
  console.log("submit1 button in doSubmit");
  //console.log("dosubmit id?=" +event.id);
  /* event.preventDefault();*/
    $('#createEventModal').hide();
    console.log("submit button");
   // var title=$("#titleName").val();
   // var mallDay= $('#createEventModal #chronoabsences_allDay').val();
       var dataAjax = $('form.ajaxform').serialize();
      //  dataAjax['allDay']=true;
        console.log("CAS 2 NEW");
         console.log("allday??=" + dataAjax['allDay']);
        createajax('calendar_createajax_absences',dataAjax,function (result) { 
              dataAjax['id'] = result['data']['id'];
            $('#calendar-holder').fullCalendar('renderEvent', result['data'], false);
            });  
       
 }
 
 /*========================================================
     *  Fonction: Ajaxs
     ========================================================*/

    function createajax(route,data,callback) {
    var obj = $(this);
    var datareponse;
  console.log("create ajax request");
  /*start=data['start'];
  end=data['end'];*/
     /*  start = $.fullCalendar.formatDate(data['start'], "yyyy-MM-dd HH:mm:ss");
        end = $.fullCalendar.formatDate(data['end'], "yyyy-MM-dd HH:mm:ss");*/
     
        $.ajax({
            async: false,
            url: Routing.generate(route),
            type: "POST",
            dataType: "json",
           /* data: dataAjax,*/
             data: data,
            success: function(reponse) {
                datareponse = reponse;
              /*  var id=reponse['data']['id'];
                console.log("in success id=" + id);*/
               
          
            },
          error: function(e) {
            console.log(e.message);
            datareponse = e.message;
           
        }
        });
        /* $('#calendar-holder').fullCalendar('renderEvent', dataAjax, true);*/
       /* return datareponse;*/
       callback(datareponse);
  
    } //Eof:: fucntion remplirSelect
    /*========================================================
     *  Fonction: Ajaxs
     ========================================================*/
 
    function updateajax(route,event,callback) {
         console.log("update ajax");

          
   start = $.fullCalendar.formatDate(event.start, "yyyy-MM-dd HH:mm:ss");
   end = $.fullCalendar.formatDate(event.end, "yyyy-MM-dd HH:mm:ss");
   
   // Shallow copy
    var newObject = jQuery.extend({}, event);
    newObject.start=start;
    newObject.end=end;
    newObject.className=event.className[0];
    console.log("updateajax start=" + event.start);
    console.log("updateajax end=" + event.end);
    var datareponse;
    //if (!event.id) {var id=null;}else {var id=event.id;}
    $.ajax({
        async: false,
        url: Routing.generate(route),
        type: "POST",
        dataType: "json",
        data: newObject,
        success: function(reponse) {
                datareponse = reponse;
                
        },
        error: function(e) {
            console.log(e.message);
            datareponse = e.message;
           
        }
        });
       /* return datareponse;*/
       callback(datareponse);
  
    } //Eof:: fucntion remplirSelect
    
});
</script>
{% endblock %}

{% block content_header '' %}


{% block title %}
      {#  <span class="icon-stack">
            <i class="icon-check-empty icon-stack-base"></i>
            <i class="icon-calendar"></i>
        </span>    Opérations: Calendrier #}
       
{% endblock %}
        

{% block content %}


<!----------Form Edit Event ----------------->
<div id="createEventModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
   
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="titreheader"></h3>
    </div>
    <div class="modal-body">
    <form id="eventForm" class="form-horizontal ajaxform">
      {{ form(form) }}
          {#  <input type="hidden" id="apptAllDay" />#}
        {#   <div class="control-group">    
             <label class="control-label" for="color">Couleur:</label>
           <div class="controls">
            <input id="color" name="color" type="text" id="color"/></div>
        </div>
        <div class="control-group">
            <label class="control-label" for="when">Date:</label>
            <div class="controls controls-row" id="when" style="margin-top:5px;">
            </div>
        </div>
            <input type="hidden" id="apptStartTime"/>
              <input type="hidden" id="apptEndTime"/>
              <input type="hidden" id="apptAllDay" />
                <input type="hidden" id="apptId" />#}
    </form>
    </div>
    <div class="modal-footer">
        <button class="btn" id="cancel-button" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
    </div>
</div>
<!----------Form Edit Event ----------------->



<div id='wrap'>
<div id='external-events'>
    Date:
     <input type="text" id="datepicker" />
  {#  <h4> <i class="icon-wrench"></i> Evenements:</h4>
     {% for entity in evenements %}
<div class='external-event class{{ entity.id }}' myclass="class{{ entity.id }}">{{ entity.nom|upper }}
<input type="checkbox" class="external-checkbox" name="external-checkbox" id="{{ entity.id }}" checked>
</div>
 {% endfor %}
#}
 </div>

<div id="calendar-holder"></div>

<div style='clear:both'></div>
</div>
{% endblock %}
 {% block footer %}  {% endblock %}