{% extends "ApplicationRelationsBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
      <link rel="stylesheet" href="{{ asset('bundles/applicationrelations/css/sliding.css') }}" type="text/css" media="all"/>
     
 {% endblock %}

{% block content_header '' %}
{% block title %}
        <span class="icon-stack">
            <i class="icon-check-empty icon-stack-base"></i>
            <i class="icon-table"></i>
        </span>   ABSENCES

<a class="btn btn-small btn-info" href="{{ path('absences_calendrier') }}">
            <i class="icon-calendar"></i>
        </a> {% endblock %}

    
{% block content %}


{% include 'ApplicationRelationsBundle:Template:flash.html.twig' %}
 
   {% if is_granted("ROLE_ADMIN") %}
<a href="{{ path('absences_new') }}" class="btn btn-medium btn-primary">Ajouter Absence</a>
{% endif %}
<br> <br>  

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr class="title">

         
                            <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                            <th{% if pagination.isSorted('a.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nom', 'a.nomprojet') }}
                              <i class="icon-pencil"></i></th>
                           <th{% if pagination.isSorted('a.description') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Description', 'a.description') }}
                                 <i class="icon-pencil"></i> </th>
                           
                               <th{% if pagination.isSorted('a.dateDebut') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Debut', 'a.dateDebut') }}
                                <i class=" icon-time"></i></th>
                            <th{% if pagination.isSorted('a.dateFin') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Fin', 'a.dateFin') }}
                                <i class=" icon-time"></i></th>
                    
                           
                         <th><i class=" icon-book"></i></th>
                         {% if is_granted("ROLE_ADMIN") %}
          <th colspan="2" style="width:40px"><i class="icon-wrench"></i></th>
    {% else %}
          <th style="min-width:10px">  <i class="icon-wrench"></i></th>
      {% endif %}
              {#  {% if is_granted("ROLE_ADMIN") %}
                <th colspan="3">Actions</th>
                {% else %}
                <th>Actions</th>
                {% endif %}#}
             </tr>
    </thead>

    <tbody>
    {% for entity in pagination %}
        <tr>
            <td><a href="{{ path('projets_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nom }}</td>
            <td>{{ entity.description }}</td>
            <td>{% if entity.dateDebut %}{{ entity.dateDebut|date('Y-m-d') }}{% endif %}</td>
            <td>
                {% if entity.dateFin  %}
                    {{ entity.dateFin|date('Y-m-d') }}
                {% else %}
                    ---
                {% endif %}
            </td>
            <td>{{ entity.user.nomUser }}</td>
            {% if is_granted("ROLE_ADMIN") %}
            <td>
                <a href="{{ path('absences_edit', { 'id': entity.id }) }}">
                <img src="{{ asset('bundles/applicationrelations/images/edit.png') }}" alt="edit" width="15" height="15" />
                </a>
           </td>
           
           {% else %} <td></td>
           {% endif %}         
    </tr>
    {% endfor %}
    </tbody>
</table>
    {{ knp_pagination_render(pagination, 'ApplicationRelationsBundle:pagination:twitter_bootstrap_pagination.html.twig') }}

{% endblock %}

