{% extends "ApplicationRelationsBundle::layout.html.twig" %}
{% block stylesheets %}
{{ parent() }} 
<link rel="stylesheet" href="{{ asset('css/sliding.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('css/certifcatssearch.css') }}" type="text/css" media="all"/>
<style>
        
        tr.single {
         background-color: #f1f1f1;
        }

    </style> 
{% endblock %}

    
    
{% block content_header '' %}
{% block title %}
EDITION GROUPE
{% endblock %}
{% block content %}

    
<br><br>
 
    <form action="{{ path('egroup_groupes_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
           <input type="hidden" name="_method" value="PUT" />
           <table class="table-mybordered">

          <tr>
              <td class="calendar">      {{ form_widget(edit_form) }}
         </td></tr><tr>
              <td class="calendar" colspan="3">    
    

                                   
  <button type="submit" class="btn btn-small btn-warning">Modifier</button>
     </form>                                   
                                 
               </td></tr>
           
   </table>  
  
    <a href="{{ path('egroup_groupes')  }}" class="btn btn-small btn-success">Retour</a>
  
         
         
{% endblock %}
