{% extends "ApplicationEservicesBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
      <link rel="stylesheet" href="{{ asset('bundles/applicationeservices/css/sliding.css') }}" type="text/css" media="all"/>
  
 {% endblock %}
      
      
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
          
$(function () {
   var activeTab = null;
$('a[data-toggle="tab"]').on('shown', function (e) {
  activeTab = e.target;
})
/*$('#myTab a:last').tab('show');*/
  /*var activeTab = $('[href=' + location.hash + ']');
  activeTab && activeTab.tab('show');*/
});
</script>
{% endblock %}

{% block content_header '' %}
{% block title %}

DASHBOARD - GROUPES
{% endblock %}
{% block content %}

{% if is_granted("ROLE_USER") %}   
<a href="{{ path('egroup_groupes_new') }}" class="btn btn-small btn-primary">Ajouter un groupe</a>
{% endif %}
<br><br>


<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr class="title">
                <th>Id</th>
                <th>Nomgroup</th>
                <th>Nb Membres</th>
                <th>Description</th>
                <th>Email</th>
                {% if is_granted("ROLE_ADMIN") %} 
                 <th colspan="3">Actions</th>
                {% else %}
                 <th colspan="2">Actions</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
         
        {% for entity in entities %}
            {% if entity.id == idgroup %}
            <tr class="success">
            {% else %}
            <tr>
                {% endif %}
                
                <td><a href="{{ path('egroup_groupes_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nomGroup }}</td>
                   <td>{{ entity.users|length }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.email }}</td>
                  <td>
                    <a href="{{ path('egroup_groupes_show', { 'id': entity.id }) }}">
                        <img src="{{ asset('bundles/applicationeservices/images/detail.png') }}" alt="show" width="15" height="15" />
                    </a>
                </td>
               
{% if is_granted("ROLE_ADMIN") %}   
                 <td>
                    <a href="{{ path('egroup_groupes_edit', { 'id': entity.id }) }}">
                        <img src="{{ asset('bundles/applicationeservices/images/edit.png') }}" alt="edit" width="15" height="15" />
                    </a>
                </td>
    {% endif %}
                 
                  
{% if is_granted("ROLE_USER") and  idgroup ==0 %}  
                <td>
                    <a href="{{ path('groupedemande_newdemande', { 'id': entity.id }) }}">++</a>
                </td>
                 
    {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% if is_granted("ROLE_ADMIN") %}   
administrateur uniquement: <br>
  <a href="{{ path('groupedemande_new') }}" class="btn btn-medium btn-primary">Ajouter Demande de groupe</a>
    
     {% endif %}
    <br> <br>  
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr class="title">
                <th>Id</th>
                <th>Demande</th>
                <th>Description</th>
                 <th>Username</th>
                 <th>Groupe</th>
                   
                <th>Status</th>
                    <th>Parrain</th>
                <th>Date de Demande</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities_mongroupe %}
            <tr>
                <td><a href="{{ path('groupedemande_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                   <td>{{ entity.name }}</td>
                <td>{{ entity.description|raw }}</td>
                  <td>{{ entity.iduser.username }}</td>
                       <td>{{ entity.idgroup.nomGroup }}</td>
                     
 
               <td>
                {% if entity.isaccepted ==0 %}
                        En Attente
                {% else %} Acceptée
                {% endif %}</td>
                    <td>
                {% if entity.iduserParrain is not null %}
                     {{ entity.iduserParrain }}
                {% else %} ---
                {% endif %}</td>
                   
                <td>{{ entity.createdAt|created_ago }}</td>
                   <td>
                    <a href="{{ path('groupedemande_show', { 'id': entity.id }) }}">
                        <img src="{{ asset('bundles/applicationrelations/images/detail.png') }}" alt="show" width="15" height="15" />
                    </a>
                </td>
                <td>
                   
                    <a href="{{ path('groupedemande_edit', { 'id': entity.id }) }}">
                       
                        <img src="{{ asset('bundles/applicationrelations/images/edit.png') }}" alt="edit" width="15" height="15" />
                    </a>
                </td>
                <td>
                      {% if entity.isaccepted ==0 %}
             
                    <a href="{{ path('groupedemande_accept', { 'id': entity.id }) }}">
                     <img src="{{ asset('bundles/applicationrelations/images/poignee.gif') }}" alt="edit" width="15" height="15" />
                    </a>
                        {% else %}
                        ---
                        {% endif %}
                </td>
              
            </tr>
        {% endfor %}
        </tbody>
    </table>
{#
    {{ render (controller("ApplicationRelationsBundle:DemandeUsergroup:indexMonGroupe")) }}   
#}
    {% endblock %}
