{% extends "::layout.html.twig" %}

  {# <script>var menuDownUrl = "{{ asset('bundles/applicationcertificats/images/') }}";</script>#}
            
  {% block stylesheets %}
    

{{ parent() }}
{#{% stylesheets 
                'bundles/applicationchangements/css/sliding.css' 
                'bundles/applicationchangements/css/changements.css' 
               'bundles/applicationchangements/css/colorbox.css' 

                output='bundles/applicationchangements/css/ccpchangements.css' filter='?yui_css' debug=true %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}#}

  
    <link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.pnotify.default.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/indexfanta.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('css/jquery-ui-1.9.2.custom_1.css') }}" />    
    <link rel="stylesheet" href="{{ asset('fullcalendar/fullcalendar_1.css') }}" />
    <link rel="stylesheet" href="{{ asset('fullcalendar/view_calendar.css') }}" />
    <link rel="stylesheet" href="{{ asset('fullcalendar/jquery.miniColors.css') }}" />
      {#  <link rel="stylesheet" href="{{ asset('fullcalendar/fullcalendar.print.css') }}" />#}

{% endblock %}
        
        
{% block javascripts %}
   
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
  <script src="{{ asset('jquery/jquery-1.8.3.js') }}" type="text/javascript"></script>
  <script src="{{ asset('fullcalendar/jquery-ui-1.9.2.custom.min.js') }}" type="text/javascript"></script>
  
 {# <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('fullcalendar/fullcalendar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('fullcalendar/view_calendar.js') }}"></script>
      <script type="text/javascript" src="{{ asset('fullcalendar/jquery.miniColors.js') }}"></script>
    {#<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
{#<script type="text/javascript" src="{{ asset('fullcalendar/fullcalendar.js') }}"></script>
#}{#<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>#}

{% endblock %}

{% block content_header '' %}

{% block title %}{% endblock %}

{% block content %}
<div id="content_wrapper">
 
			<!-- Calendar div -->
			<div id="calendar">
			</div>
 
			<!-- Event generation -->
			<div id="event_generation_wrapper">
				<div class='left'>
					<div class='text'>Background:</div><br /> 	
					<div class='text'>Border:</div><br />
					<div class='text'>Text:</div><br />	
				</div>
				<div class='right'>
					<input id="txt_background_color" type='hidden' class='color_picker' value='#2795C3' /><br />
					<input id="txt_border_color" type='hidden' class='color_picker' value='#6AB3D3' /><br />
					<input id="txt_text_color" type='hidden' class='color_picker' value='#ffffff' /><br />
				</div>
				<input id='txt_title' type='text' value='Title' /><br />
				<textarea id='txt_description'>Description</textarea><br />
				<input id='txt_price' type='text' value='5.00' /><br />
				<input id='txt_available' type='text' value='5' /><br />
				<input id="btn_gen_event" type="button" value="New Template" class='btn' />
				<input id="btn_update_event" type="button" value="Update Event" class='btn'/>
				<input id="txt_current_event" type="hidden" value="" />
			</div>
 
			<!-- Booking types list -->
			<div id='external_events'>
				<div id='external_event_template' class='external-event ui-draggable'>One Hour</div>
			</div>
		</div>
 
</html>
{% endblock %}
 {% block footer %}  {% endblock %}