{% extends "::layout.html.twig" %}

  {# <script>var menuDownUrl = "{{ asset('bundles/applicationcertificats/images/') }}";</script>#}
            
  {% block stylesheets %}
    

{{ parent() }}
    <link rel="stylesheet" href="{{ asset('select2/select2.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.pnotify.default.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/indexfanta.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('css/jquery-ui-1.9.2.custom_1.css') }}" />    
    <link rel="stylesheet" href="{{ asset('fullcalendar/fullcalendar.css') }}" />
    <link rel="stylesheet" href="{{ asset('fullcalendar/view_calendar.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/colorbox.css') }}" type="text/css" media="all"/>
    
      {#  <link rel="stylesheet" href="{{ asset('fullcalendar/fullcalendar.print.css') }}" />#}
        
     
  
  <style>
           div.container {width:97%;}
          #wrap {
		width: 100%;
		margin: 0 auto;
		}
  #external-events {
		float: left;
		width: 10%;
                margin-top:50px;
		padding: 0 10px;
		border: 1px solid #ccc;
		background: #eee;
		text-align: left;
		}
		
	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
		}
		
	.external-event { 
		margin: 10px 0;
		padding: 2px 4px;
		background: #3366CC;
		color: #fff;
		font-size: .85em;
		cursor: pointer;
		}
                 .external-event input { 
		float: right;
		}
	#calendar-holder .ui-widget-header{
	font-weight: normal;
	padding: 3px 3px 3px 3px;
}
 
#calendar-holder .fc-header-title{
	font-weight: normal;
}	/*
.fc-event-time { 
  
    -moz-opacity:1;
    padding:0px;
    font-weight: bold;
   filter:alpha(opacity=60); /* IE */
  /*  -moz-opacity:0.6; /* Mozilla */
 
 /*
}*/
/*
.fc-event-inner*/
.fc-agenda .fc-event-time {
  
   /*  border: 1px solid cadetblue;
    background: #ccc;*/
}
 .class1
 {  border: 1px solid cadetblue;
    background: #ccc;
}
	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
		}
		
	#external-events p input {
		margin: 0;
		vertical-align: middle;
		}
  #calendar-holder {
		float: right;
		width: 88%;
		}

.class0 {     border: 1px solid rgb(90, 105, 134);background-color: #94A2BE;}   
.class0 .fc-event-time {background:  rgb(90, 105, 134);}

.class1 {     border: 1px solid rgb(113, 6, 47);background:#993355;}  
.class1 .fc-event-time {background:  rgb(113, 6, 47);}

.class2 {     border: 1px solid rgb(102, 102, 102);;background: #AAAAAA;}
.class2 .fc-event-time {background:rgb(102, 102, 102);}

.class3 {     border: 1px solid rgb(190, 109, 0);;background: #F2A640;}              
.class3 .fc-event-time {background:rgb(190, 109, 0);}

.class4 {     border: 1px solid rgb(122, 54, 122);;background: #B373B3;}
.class4 .fc-event-time {background:   rgb(122, 54, 122);}

.class5 {  border: 1px solid rgb(41, 82, 163);background: #668CD9;}
.class5 .fc-event-time {background:   rgb(41, 82, 163);}

      </style>   
{% endblock %}
        
        
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript" src="{{ asset('select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('select2/select2_locale_fr.js') }}"></script>
 {# <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('fullcalendar/fullcalendar.js') }}"></script>
         <script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/jquery.colorbox.js') }}"></script>
     {#<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
{#<script type="text/javascript" src="{{ asset('fullcalendar/fullcalendar.js') }}"></script>
#}{#<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>#}
<script type="text/javascript">
       $(document).ready(function() {
   var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		$('#calendar-holder').fullCalendar({
                    theme: true,
                    firstDay:1,   
                    minTime:8,
                    maxTime:20,
                    slotMinutes: 30,
                    defaultEventMinutes: 120,
                    editable: true,
                    selectable: true,
                    selectHelper: true,
                    eventStartEditable: true,
                    eventDurationEditable: false,
                    droppable: false,
                    disableDragging:true,
                    hiddenDays: [0,6], 
                    defaultView: 'month',
                    header: {
                        left: 'prev, next',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    lazyFetching:true,
                    timeFormat: {
    agenda: 'H:mm{ - H:mm}'
},
         eventSources: [
                        {
                            /* default from vendor adesign*/
                 
                        url: Routing.generate('calendar_adesignajax_changements'), 
                        type: 'POST',
                        error: function() {
                        //alert('There was an error while fetching Google Calendar!');
                        }
                        }
                    ],
           
 
    eventClick: function(calEvent, jsEvent, view) {
      View(calEvent);
   }
});
function View(datab)
    {
        var str = "Informations sur l\'evenement<br>";
        var id = datab['id'];
        console.log("edition id=" + id);
         var url = Routing.generate('changements_showXhtml', {id: id});
        console.log("url=" + url);
        /*var dataAjax = {'id': id};*/
        $.colorbox({
         iframe:true,
            transition:	"elastic",
            width:"70%",
            height:"70%",
              fastIframe:false,
            opacity:0.3,
            href: url
       /* onClosed:function(){
              $("#gridcontainer").reload();
         }*/
     });


    }
  

});
</script>
{% endblock %}

{% block content_header '' %}


{% block title %}
      {#  <span class="icon-stack">
            <i class="icon-check-empty icon-stack-base"></i>
            <i class="icon-calendar"></i>
        </span>    Opérations: Calendrier #}
       
{% endblock %}
        

{% block content %}
<div id='wrap'>
<div id='external-events'>
    <h4> <i class="icon-wrench"></i> Evenements:</h4>
     {% for entity in evenements %}
<div class='external-event class{{ entity.id }}' myclass="class{{ entity.id }}">{{ entity.nom|upper }}
<input type="checkbox" class="external-checkbox" name="external-checkbox" id="{{ entity.id }}" checked>
</div>
 {% endfor %}
   {#
<div class='external-event class1' myclass="class1">Ouvert</div>
<div class='external-event class2' myclass="class2">Fermé</div>
<div class='external-event class0' myclass="class0">En préparation</div>
<div class='external-event class3' myclass="class3">Reporté</div>
<div class='external-event class4' myclass="class4">Annulé</div>
#}
<p>
<input type='checkbox' id='drop-remove' /> <label for='drop-remove'>remove after drop</label>
</p>
</div>

<div id="calendar-holder"></div>

<div style='clear:both'></div>
</div>
{% endblock %}
 {% block footer %}  {% endblock %}