{% extends "::layout.html.twig" %}
  {# <script>var menuDownUrl = "{{ asset('bundles/applicationcertificats/images/') }}";</script>#}
  {% block stylesheets %}
    
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('select2/select2.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.pnotify.default.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/colorbox.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/indexfanta.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('css/jquery-ui-1.9.2.custom_1.css') }}" />    
    <link rel="stylesheet" href="{{ asset('fullcalendar/fullcalendar.css') }}" />
    <link rel="stylesheet" href="{{ asset('fullcalendar/view_calendar.css') }}" />
     <link rel="stylesheet" href="{{ asset('jquery/simplecolorpicker/colorPicker.css') }}" type="text/css" media="all"/>
      {#  <link rel="stylesheet" href="{{ asset('fullcalendar/fullcalendar.print.css') }}" />#}
  
  <style>
           div.container {width:97%;}
          #wrap {
		width: 100%;
		margin: 0 auto;
		}
  #external-events {
		float: left;
		width: 8%;
                margin-top:50px;
		padding: 0 10px;
		border: 1px solid #ccc;
		background: #eee;
		text-align: left;
		}
		
	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
		}
		
	.external-event { 
		margin: 10px 0;
		padding: 2px 4px;
		background: #3366CC;
		color: #fff;
		font-size: .85em;
		cursor: pointer;
		}
	#calendar-holder .ui-widget-header{
	font-weight: normal;
	padding: 3px 3px 3px 3px;
}
 
#calendar-holder .fc-header-title{
	font-weight: normal;
}	
/*.fc-agenda .fc-event-time {
}*/
 .class1
 {  border: 1px solid cadetblue;
    background: #ccc;
}
	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
		}
		
	#external-events p input {
		margin: 0;
		vertical-align: middle;
		}
  #calendar-holder {
		float: right;
		width: 90%;
		}
                
 
.class0 {     border: 1px solid rgb(90, 105, 134);background-color: #94A2BE;}   
.class0 .fc-event-time {background:  rgb(90, 105, 134);}

.class1 {     border: 1px solid rgb(113, 6, 47);background:#993355;}  
.class1 .fc-event-time {background:  rgb(113, 6, 47);}

.class2 {     border: 1px solid rgb(102, 102, 102);;background: #AAAAAA;}
.class2 .fc-event-time {background:rgb(102, 102, 102);}

.class3 {     border: 1px solid rgb(190, 109, 0);;background: #F2A640;}              
.class3 .fc-event-time {background:rgb(190, 109, 0);}

.class4 {     border: 1px solid rgb(122, 54, 122);;background: #B373B3;}
.class4 .fc-event-time {background:   rgb(122, 54, 122);}

.class5 {  border: 1px solid rgb(41, 82, 163);background: #668CD9;}
.class5 .fc-event-time {background:   rgb(41, 82, 163);}

.description {height:200px;}
.nube{ position: absolute;left:0;top:0}
.popup {
    background-color:ivory; border:1px solid gray;
    position:fixed; top:25%; left:25%; display:none; padding: 0px 20px 10px 10px; z-index:100;
}
.popup form div{float:left; width:80px; text-align:left;}
.popup form input{float:left; text-align:left;}
div.modal-header {background-color: rgb(245, 245, 245);}
      </style>   
{% endblock %}
        
        
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript" src="{{ asset('select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('select2/select2_locale_fr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('fullcalendar/fullcalendar.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/jquery.colorbox.js') }}"></script>
   <script type="text/javascript" src="{{ asset('bootstrap/js/jquery.pnotify.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('jquery/simplecolorpicker/jquery.colorPicker.js') }}"></script>
<script type="text/javascript">
       $(document).ready(function() {
  
        var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();
	/*$(this).find('.fc-event-time').addClass('newclass');*/
         $('#external-events div.external-event').each(function() {
		
			// create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
			// it doesn't need to have a start or end
			var eventObject = {
				title: $.trim($(this).text()), // use the element's text as the event title
                                'backgroundcolor':$( this ).css( "background-color" ),
                                'myclass':$( this ).attr( "myclass" )
			};
                        console.log("class=" + eventObject.myclass);
			
			// store the Event Object in the DOM element so we can get to it later
			$(this).data('eventObject', eventObject);
			
			// make the event draggable using jQuery UI
			$(this).draggable({
				zIndex: 999,
				revert: true,      // will cause the event to go back to its
				revertDuration: 0  //  original position after the drag
			});
			
		});
		$('#calendar-holder').fullCalendar({
                    theme: true,
                    firstDay:1,   
                    minTime:8,
                    maxTime:20,
                    slotMinutes: 30,
                    defaultEventMinutes: 120,
                    editable: true,
                    selectable: true,
                    selectHelper: true,
                    eventStartEditable: true,
                    eventDurationEditable: true,
                    droppable: true,
                    hiddenDays: [], 
                    unselectAuto: false,
                    defaultView: 'agendaWeek',
                    header: {
                        left: 'prev, next',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    lazyFetching:true,
                    timeFormat: {
                        agenda: 'H:mm{ - H:mm}'
                    },
                    eventSources: [
                        {
                        url: Routing.generate('calendar_adesignajax'), 
                        type: 'POST',
                        error: function() {
                        //alert('There was an error while fetching Google Calendar!');
                        }
                        }
                    ],
                    eventRender: function(event, element) {
                    element.attr("description",event.description)
                   // event.description=
                    
                    /* if (event.allDay === 'true') {
        event.allDay = true;
    } else {
        event.allDay = false;
    }*/
        /*element.find(".fc-event-time").after($("<span class=\"fc-event-icons\"></span>").html("Whatever you want the content of the span to be"));*/
      {#  element.find(".fc-event-time").append($("<i class=\"icon-briefcase\"></i>").html());#}
        element.find("div.fc-event-time").prepend(" <a class=\"editme\" href=\"#\"><i class=\"icon-wrench\"></i></a> ");
        
         
        /*.html("Whatever you want the content of the span to be"));*/
      
    },
  
        /*==================================
         * 
         * Ajout event 
         ==================================*/
 select: function(start, end, allDay) {
     var eventobjet={'start':start,'end':end,'allDay':allDay};
      $("#titreheader").html("Ajouter un Evenement");
    remplirForm(eventobjet);

    $('#createEventModal').modal('show');
     $("#titleName").focus();
    $("#submitButton").click(function(event){
         doSubmit(event);
         initForm();
         
        });
    $("#cancel-button,button.close").click(function(event){
        initForm();
        });
        
              /*  $('#createEventModal').modal('hide');*/
    },
   /*===================================
   * 
   * Deplacer Event
   ====================================*/
    eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
        console.log("drop: move event");
        updateajax('calendar_dropajax',event,event['allDay'],function (result) { 
           console.log("event single drop result=" + result);
        });
    },  
    
    eventClick: function(calEvent, jsEvent, view) {
    console.log("event click");
    
    /*
        var title = prompt('Event Title:', calEvent.title, { buttons: { Ok: true, Cancel: false} });
          if (title){
              calEvent.title = title;
              $('#calendar-holder').fullCalendar('updateEvent',calEvent);
          }*/
        console.log("id after click="+ calEvent.id);
    
       var border=$(this).css('border-color');
        $(this).css('border-color', 'red');
        var start = $.fullCalendar.formatDate(calEvent.start, "yyyy-MM-dd HH:mm:ss");
        var end = $.fullCalendar.formatDate(calEvent.end, "yyyy-MM-dd HH:mm:ss");
        var boxContentString = "ID=" + calEvent.id + " infos:<br>TITRE: " + calEvent.title + 
                   "<br>Description:<br>" + calEvent.description + "<br>" +
                   "allday=" + calEvent.allDay + "<br>start=" + start + "<br>end=" + end;
        var color_index=0;
        var cssclasscolor=calEvent.className[0];
        if (cssclasscolor.length == 6 ){
            color_index=cssclasscolor.substring(5,6); 
             console.log("recup index=" + color_index);
              
        }
        
        var color=getcolorById(color_index);
          console.log("color=" + color);
          // picker hexa color associée a la classe css
           $('#color').val(color);
          $("div.colorPicker-picker").css('background-color',color);
         bootbox.dialog(boxContentString,[
        //buttons
        {
        "label" : "Edit",
        "class" : "btn-success",
        "callback": function(e){
             $("#titreheader").html("Editer un Evenement (id=" + calEvent.id + ")");
            remplirForm(calEvent);
            $('#createEventModal').modal('show');
            $("#submitButton").unbind('click');
            $("#submitButton").click(function(e){
                 console.log("SUBMIT BUTTON");
                  console.log("id before dosubmit call="+ calEvent.id);
                 doSubmit(calEvent);
                 console.log("END SUBMIT BUTTON");
               //  $('#submit-event-update').unbind();
                   /*    console.log("id after dosubmit call="+ calEvent.id);*/
 
                initForm();
        });
     $("#cancel-button").click(function(event){
               //   $('#calendar-holder').fullCalendar('unselect');
                  initForm();
        });
    }
     
},
       
    {
        "label" : "Delete",
        "class" : "btn-danger",
        "callback": function(e){
            var dataAjax={'id':calEvent.id};
        
            deleteajax('calendar_dropajax',dataAjax,function (result) { 
        
         console.log("id delete=" + calEvent.id );
             $('#calendar-holder').fullCalendar('removeEvents', calEvent.id );
          
            
            });
            }
    }, 
             {
    "label" : "Cancel",
    "class" : "btn-default",
    "callback": function() {
        // Cancel function
    }
}
]);
 //$('#calendar-holder').fullCalendar('updateEvent',calEvent);
 //  $(this).find("div.fc-event-time").prepend(" <a class=\"editme\" href=\"#\"><i class=\"icon-wrench\"></i></a> ");
  $(this).css('border-color', border);         
},

/*=================================
*  DROP EXTERNAL EVENT
* 
==================================*/

    drop: function(date, allDay) { // this function is called when something is dropped
        var tempDate = new Date(date);  //clone date
	var originalEventObject = $(this).data('eventObject');
	var copiedEventObject = $.extend({}, originalEventObject);
        console.log("drop start=" + date);
        var title = copiedEventObject['title'];
        var bg= copiedEventObject['backgroundcolor'];
        start = $.fullCalendar.formatDate(date, "yyyy-MM-dd HH:mm:ss");
        end = new Date(tempDate.setHours(tempDate.getHours()+2)); 
        end =$.fullCalendar.formatDate(end, "yyyy-MM-dd HH:mm:ss");
  
        console.log("Drop function titre?=" + copiedEventObject['title']);
        if (title) {
            var dataAjax={
                'title': title,'start':start,'backgroundColor': bg,
                'className': copiedEventObject['myclass'],'end': end,
                'allDay': allDay
            }; 
            createajax('calendar_dropajax',dataAjax,allDay,function (result) { 
                console.log("result=" + result['data']['id']);
                dataAjax['id'] = result['data']['id'];
                $('#calendar-holder').fullCalendar('renderEvent', dataAjax, false);
            });
        }
	if ($('#drop-remove').is(':checked')) {
            $(this).remove();
        }
    },
    eventResize: function(event,dayDelta,minuteDelta,revertFunc) {
        updateajax('calendar_dropajax',event,event['allDay'],function (result) { 
        console.log("resize event");
        });
    }      
});
function remplirForm(event){
    console.log("REMPLIR FORMULAIRE");
    var start = $.fullCalendar.formatDate(event.start, "yyyy-MM-dd HH:mm:ss");
    var end = $.fullCalendar.formatDate(event.end, "yyyy-MM-dd HH:mm:ss");
    console.log("start=" + start);
    if (event.title)
        $("#titleName").val(event.title);
        $('#apptStartTime').val(start);
        $('#apptEndTime').val(end);
       //$('#createEventModal').modal('show');
       var mywhen = start + ' - ' + end;
       $('#createEventModal #when').text(mywhen);
       if (event.allDay)
           $('#apptAllDay').val(event.allDay);
       if (event.id)
           $('#apptId').val(event.id);
       if (event.description)
            $("#descriptionName").val(event.description);
        // si class css, recup color hexa
      /* if (event.className)
            $('#color').val(event.className[0]);
        
         console.log("form Color=" + event.className[0]);*/
     //  $("#titleName").focus();

return true;

}
    
function doSubmit(event){
  console.log("submit1 button in doSubmit");
  console.log("dosubmit id?=" +event.id);
  /* event.preventDefault();*/
    $('#createEventModal').hide();
    console.log("submit button");
    var title=$("#titleName").val();
    var description=$("#descriptionName").val();
    var mstart= $('#apptStartTime').val();
    var mend= $('#apptEndTime').val();
    // color en hexa via colorpicker:
    var csscolor=$('#color').val();
    var id= $('#apptId').val();
    //recuperation de la classe associée a la couleur
    var color_index=getcolor(csscolor);
    var cssclass='class0';
    if (color_index != -1){cssclass='class' + color_index;
     console.log("FOUND COLOR INDEX= " + cssclass);
 }
    // console.log("id=" + id + " color=" + csscolor + " class=" + cssclass);
     
    console.log("id=" + id + " color=" + csscolor);
    var mallDay= $('#createEventModal #apptAllDay').val();
    if (title) {
            console.log("allday=" + mallDay + "mstart=" + mstart + " end=" + mend);
           var dataAjax={
                    'title':title,
                    'className':cssclass, 
                    'description':description,
                    'start':mstart,
                    'end':mend,
                    'id':id,
                    'allDay': ($('#apptAllDay').val() == "true"),
                  
                };
        if (id){
                console.log("CAS 1 EDIT");
            //updateajax(route,event,allday,callback) {
                console.log("dosubmit Appel updateAjax id=" + id);
                createajax('calendar_dropajax',dataAjax,mallDay,function (result) { 
                dataAjax['id'] = result['data']['id'];
                $('#calendar-holder').fullCalendar( 'removeEvents', id );
                $('#calendar-holder').fullCalendar('renderEvent', dataAjax, false);
             /* 
              dataAjax['id'] = result['data']['id'];
               $('#calendar-holder').fullCalendar('updateEvent', event, false);*/
     //$('#calendar-holder').fullCalendar('updateEvent', dataAjax, false);
 });  
    }
            else{
                console.log("CAS 2 NEW");
              createajax('calendar_dropajax',dataAjax,mallDay,function (result) { 
              dataAjax['id'] = result['data']['id'];
            $('#calendar-holder').fullCalendar('renderEvent', dataAjax, false);
 });  
            }
             
        }
 }

function initForm(){
        $('#calendar-holder').fullCalendar('unselect');	 
        $('#createEventModal').modal('hide');
        $("#titleName").val("");
        $("h3#titreheader").html("TEST");
        $("#descriptionName").val("");
        $('#apptId').val("");
        $('#color').val("");
        $("div.colorPicker-picker").css('background-color',getcolorById(0));
       $('#calendar-holder').fullCalendar('unselect');
}
   /*========================================================
     *  Fonction: Ajaxs
     ========================================================*/
 
    function updateajax(route,event,allday,callback) {
         console.log("update ajax");

          
   start = $.fullCalendar.formatDate(event.start, "yyyy-MM-dd HH:mm:ss");
   end = $.fullCalendar.formatDate(event.end, "yyyy-MM-dd HH:mm:ss");
   
   // Shallow copy
    var newObject = jQuery.extend({}, event);
    newObject.start=start;
    newObject.end=end;
    newObject.className=event.className[0];
    console.log("updateajax start=" + event.start);
    console.log("updateajax end=" + event.end);
    var datareponse;
    //if (!event.id) {var id=null;}else {var id=event.id;}
    $.ajax({
        async: false,
        url: Routing.generate(route),
        type: "POST",
        dataType: "json",
        data: newObject,
        success: function(reponse) {
                datareponse = reponse;
                
        },
        error: function(e) {
            console.log(e.message);
            datareponse = e.message;
           
        }
        });
       /* return datareponse;*/
       callback(datareponse);
  
    } //Eof:: fucntion remplirSelect
    
   

    /*========================================================
     *  Fonction: Delete AJAX
     ========================================================*/

    function deleteajax(route,event,callback) {
    var obj = $(this);
    var datareponse;
    if (!event.id) {var id=null;}else {var id=event.id;}
    var dataAjax = { 
        'id': id,action:'delete'
    };
    console.log("delete ajax");
    $.ajax({
        async: false,
        url: Routing.generate(route),
        type: "POST",
        dataType: "json",
        data: dataAjax,
        success: function(reponse) {
                datareponse = reponse;
                
        },
        error: function(e) {
            console.log(e.message);
            datareponse = e.message;
           
        }
        });
       callback(datareponse);
  
    } //Eof:: fucntion remplirSelect
    
  function View(datab)
    {
        var str = "Informations sur l\'evenement<br>";
        var id = datab['id'];
        /* console.log("id=" + id);*/
        /*    http://symvideo:92/452/showxhtml*/
        var url = Routing.generate('calendar_showXhtml', {id: id});
        /*var dataAjax = {'id': id};*/
        $.colorbox({
            iframe: true,
            transition: "elastic",
            width: "600px",
            height: "600px",
            fastIframe: false,
            opacity: 0.3,
            href: url
       /* onClosed:function(){
              $("#gridcontainer").reload();
         }*/
     });


    }

  /*------------------------------------------
     * 
     * EDIT WINDOW
     *
     ------------------------------------------*/

    function Edit(data)
    {
        if (data)
        {
        var id = data[0];
          var url = Routing.generate('calendar_edit', {id: id});
       
          /*  var url = Routing.generate('calendar_showXhtml', {id: id});*/
        /*var dataAjax = {'id': id};*/
        $.colorbox({
            iframe: true,
            transition: "elastic",
            width: "80%",
            height: "80%",
            fastIframe: false,
            opacity: 0.3,
            href: url,
         onClosed:function(){
              $("#gridcontainer").reload();
         }
     });
           }
    }

 /*========================================================
     *  Fonction: Ajaxs
     ========================================================*/

    function createajax(route,data,allday,callback) {
    var obj = $(this);
    var datareponse;
  console.log("create ajax request");
  /*start=data['start'];
  end=data['end'];*/
     /*  start = $.fullCalendar.formatDate(data['start'], "yyyy-MM-dd HH:mm:ss");
        end = $.fullCalendar.formatDate(data['end'], "yyyy-MM-dd HH:mm:ss");*/
     
        $.ajax({
            async: false,
            url: Routing.generate(route),
            type: "POST",
            dataType: "json",
           /* data: dataAjax,*/
             data: data,
            success: function(reponse) {
                
                datareponse = reponse;
                var id=reponse['data']['id'];
                console.log("in success id=" + id);
               
          
            },
          error: function(e) {
            console.log(e.message);
            datareponse = e.message;
           
        }
        });
        /* $('#calendar-holder').fullCalendar('renderEvent', dataAjax, true);*/
       /* return datareponse;*/
       callback(datareponse);
  
    } //Eof:: fucntion remplirSelect
    
 
       /*$('#color').colorPicker();*/
    $('#color').colorPicker(
        {colors:  ["#94a2be","#993355","#aaaaaa","#f2a640","#b373b3","#668cd9"],
            pickerDefault: "#94a2be",
   transparency: true,
   onColorChange : function(id, newValue) {
       console.log("ID: " + id + " has been changed to " + newValue);
       var colors=["#94a2be","#993355","#aaaaaa","#f2a640","#b373b3","#668cd9"];
  /*  alert(jQuery.inArray(newValue, colors));*/
   /* alert("value=" + newValue + "array_value=" + getcolor(newValue));*/
    } 
                
        });
        
         function getcolor(value) {
            var colors=["#94a2be","#993355","#aaaaaa","#f2a640","#b373b3","#668cd9"];
        return jQuery.inArray(value, colors);
    }
    function getcolorById(id) {
            var colors=["#94a2be","#993355","#aaaaaa","#f2a640","#b373b3","#668cd9"];
        if (id <= 5 )
            return colors[id];
        else
            return colors[0];
    }
    
    function reloadCal() {
    newSource[0] = '/feeds/calendarjson.ashx?e1=' + $('#e1').is(':checked') + '&e2=' + $('#e2').is(':checked');
    newSource[1] = $('#e3').is(':checked') ? '/feeds/caljson2.ashx' : '';
    $('#calendar-holder')
        .fullCalendar('removeEventSource', source[0])
        .fullCalendar('removeEventSource', source[1])
        .fullCalendar('refetchEvents')
        .fullCalendar('addEventSource', newSource[0])
        .fullCalendar('addEventSource', newSource[1])
        .fullCalendar('refetchEvents');
    source[0] = newSource[0];
    source[1] = newSource[1];
}

});
</script>
{% endblock %}

{% block content_header '' %}


{% block title %}
      {#  <span class="icon-stack">
            <i class="icon-check-empty icon-stack-base"></i>
            <i class="icon-calendar"></i>
        </span>    Opérations: Calendrier #}
      
{% endblock %}
        

{% block content %}

<!----------Form Edit Event ----------------->
<div id="createEventModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="titreheader"></h3>
    </div>
    <div class="modal-body">
    <form id="eventForm" class="form-horizontal">
       <div class="control-group">    
             <label class="control-label" for="inputTitle">Titre:</label>
            <div class="controls">
                 <input type="text" name="title" id="titleName" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="">
            </div>
        </div>
        <div class="control-group">    
             <label class="control-label" for="color">Couleur:</label>
           <div class="controls">
            <input id="color" name="color" type="text" id="color"/></div>
        </div>
   
        
        
             <div class="control-group">
            <label class="control-label" for="inputDescription">Description:</label>
            <div class="controls">
             <textarea name="description" id="descriptionName" style="height:200px;margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="">
            </textarea></div>
        </div>
        <div class="control-group">
            <label class="control-label" for="when">Date:</label>
            <div class="controls controls-row" id="when" style="margin-top:5px;">
            </div>
        </div>
            <input type="hidden" id="apptStartTime"/>
              <input type="hidden" id="apptEndTime"/>
              <input type="hidden" id="apptAllDay" />
                <input type="hidden" id="apptId" />
    </form>
    </div>
    <div class="modal-footer">
        <button class="btn" id="cancel-button" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
    </div>
</div>
<!----------Form Edit Event ----------------->

{#

background-color:rgb(148, 162, 190);
/*#94A2BE*/
background-color:rgb(153, 51, 85);
/*#993355*/
background-color:rgb(170, 170, 170);

background-color:rgb(242, 166, 64);
/*#AAAAAA*/
background-color: rgb(179, 115, 179);

background-color:rgb(102, 140, 217);
  /*#B373B3*/
#}
<div id='wrap'>
<div id='external-events'>
<h4> <i class="icon-wrench"></i> Evenements:</h4>
{#
<div class='external-event class0' myclass="class0">STANDARD</div>
<div class='external-event class1' myclass="class1">IMPORTANT</div>
<div class='external-event class2' myclass="class2">MEETING</div>
<div class='external-event class3' myclass="class3">IDEE</div>
<div class='external-event class4' myclass="class4">RAPPEL</div>
<div class='external-event class5' myclass="class5">TODO</div>
#}
 {% for entity in evenements %}
<div class='external-event {{ entity.cssClass }}' myclass="{{ entity.cssClass }}">{{ entity.nom }}</div>
 {% endfor %}
   
<p>
<input type='checkbox' id='drop-remove' /> <label for='drop-remove'>remove after drop</label>
</p>
</div>
 {#
   <form name="display">
        <input type="checkbox" name="cal_type" id="events" checked>Events</p>
        <input type="checkbox" name="cal_type" id="rto" checked>Vacations and time-off</p>
        <input type="checkbox" name="cal_type" id="goals" checked>Goals</p>
    </form>
#}
<div id="calendar-holder"></div>

<div style='clear:both'></div>
</div>
{% endblock %}
 {% block footer %}  {% endblock %}