{% extends "ApplicationRelationsBundle::layout.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationrelations/css/sliding.css') }}" type="text/css" media="all"/>

 {% endblock %}

{% block content_header '' %}
{% block title %}EDITION {{ h1Nom }}{% endblock %}
{% block content %}


<form  class="form-horizontal" action="{{ path(tpl_update, { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
        <p>
            <button type="submit" class="btn btn-medium btn-warning">Modifier</button>
            <a href="{{ path(tpl_retour) }}" class="btn btn-medium btn-success">Retour</a>
        </p>
    </form>

    <form action="{{ path(tpl_delete, { 'id': entity.id }) }}" method="post">
        {{ form_errors(delete_form) }}
          {{ form_rest(delete_form) }}
            <div style="text-align:right">
                <button type="submit"  class="btn btn-medium btn-danger" onclick="if(!confirm('Are you sure?')) { return false; }">Supprimer Serveur</button>

            </div>
        </form>


            {# form_widget(delete_form) }#}


      

{% endblock %}

     