{% extends "ApplicationRelationsBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
      <link rel="stylesheet" href="{{ asset('bundles/applicationrelations/css/sliding.css') }}" type="text/css" media="all"/>
     
 {% endblock %}

{% block content_header '' %}
{% block title %}AJOUTER {{ h1Nom }}{% endblock %}
{% block content %}
     

<form class="form-horizontal" action="{{ path(tpl_create) }}" method="post" {{ form_enctype(myform) }}>
    {{ form_widget(myform) }}
       <p>
            <button type="submit" class="btn btn-medium btn-warning">Ajouter</button>
            <a href="{{ path(tpl_retour) }}" class="btn btn-medium btn-success">Retour</a>
        </p>
   
</form>
{% endblock %}
     