{% extends "ApplicationRelationsBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationrelations/css/sliding.css') }}" type="text/css" media="all"/>

 {% endblock %}

{% block content_header '' %}
{% block title %}EDITION GROUPE{% endblock %}
{% block content %}



<form action="{{ path('chronogroup_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
  {{ form_widget(edit_form) }}
    <p>
          <button type="submit" class="btn btn-small btn-warning">Modifier</button>
     <a href="{{  path('chronogroup') }}" class="btn btn-small btn-success">Retour</a>
    </p>
</form>


   
     
  
                                    
{% endblock %}