{% extends "ApplicationSonataUserBundle::layout.html.twig" %}
  
  {% block stylesheets %}

{{ parent() }} 


   
    <style type="text/css">
/*body {
  background:url('images/cac.jpg');
  height:100%;width:100%;
    font-size: 14px;
 
}*/

body {
  /*
  height:100%;width:100%;*/
    background:url('images/background11a.png') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    font-size: 14px;
 
}
#content {z-index:20;}
 #footer {
   /* position:absolute;*/
    bottom:0;
    width:50%;
   margin:auto;
    height:30px;  
    background:#eaeaea;
 margin-top:100px;
              padding:5px;
              }
	
	#global
	{
		margin: 0 auto;
		width: 260px;
	}

div.banniere div.btxt{padding-bottom:10px;}   
div.banniere div.btxt:hover {
padding-left:10px;
font-weight: bold;
color: black;
}  
div.connection{

    width: 40%;
    min-width:300px;
  /* z-index:50;*/
     margin:auto;
    margin-top:50px;
          
        margin-left-ltr-source: physical;
        margin-left-rtl-source: physical;
        margin-right-ltr-source: physical;
        margin-right-rtl-source: physical;
       box-shadow: 1px 1px 1px #999; 
    border: 1px solid rgb(221, 221, 221);
        border-top-width: 1px;
        border-right-width-value: 1px;
        border-right-width-ltr-source: physical;
        border-right-width-rtl-source: physical;
        border-bottom-width: 1px;
        border-left-width-value: 1px;
        border-left-width-ltr-source: physical;
        border-left-width-rtl-source: physical;
        border-top-style: solid;
        border-right-style-value: solid;
        border-right-style-ltr-source: physical;
        border-right-style-rtl-source: physical;
        border-bottom-style: solid;
        border-left-style-value: solid;
        border-left-style-ltr-source: physical;
        border-left-style-rtl-source: physical;
        border-top-color: rgb(221, 221, 221);
        border-right-color-value: rgb(221, 221, 221);
        border-right-color-ltr-source: physical;
        border-right-color-rtl-source: physical;
        border-bottom-color: rgb(221, 221, 221);
        border-left-color-value: rgb(221, 221, 221);
        border-left-color-ltr-source: physical;
        border-left-color-rtl-source: physical;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image-source: none;
        border-image-slice: 100% 100% 100% 100%;
        border-image-width: 1 1 1 1;
        border-image-outset: 0 0 0 0;
        border-image-repeat: stretch stretch;
    border-radius: 6px 6px 6px 6px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
          background-color:gainsboro;
          padding:5px;
}
div.banniere  {

    width: 40%;
    min-width:300px;
    max-width:600px;
   z-index:2;
     margin:auto;
    margin-top:100px;
        
       box-shadow: 1px 1px 1px #999; 
    border: 1px solid rgb(221, 221, 221);
    border-radius: 2px 2px 2px 2px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
          
          margin:auto;
    margin-top:30px;
      background-color:whitesmoke;
      padding:10px;
}
.sonata-bc select.sonata-medium, textarea.sonata-medium, input.sonata-medium {
    width: 400px;
}

div.connection div input.big {
    height: 35px;
    font-size: 25px;
}
	</style> 
 {% endblock %}
        
        {% block title %}{% endblock %}

{% block fos_user_content %}
            <br><br>
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
 
    

 
<div class="connection">
    <br>
    
<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div id='global'>
    <div class="input-prepend">
    {#      <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
#}
          
    <span class="add-on"><i class="icon-user"></i></span>
    <input type="text" style="width:80%;" id="username" name="_username" placeholder="Username" value="{{ last_username }}" required="required" />
    
   {# <input class="span3" type="text" placeholder="Username">#}
    </div>
                 </div>
            <br>
              <div id='global'>
   {#
                 <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
#}
    <div class="input-prepend">
    <span class="add-on"><i class="icon-key"></i></span>
     <input type="password" style="width:80%;"  id="password" name="_password" placeholder="Password" required="required" />
    {#<input class="span3" type="password" placeholder="Password">#}
    </div>
                     <div id='global'>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <br>
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
<br>
    <input type="submit" class="btn btn-large btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</div>
    </form>
</div>
            <br><br>
            </div>
<br><br>
{#<div class="bx-overlay"></div>#}
<div class="banniere">
  
  <div class="btxt"><i class="icon-th-list icon-2x"></i> &nbsp; Datagrid des opérations</div>
 <div class="btxt"><i class="icon-calendar icon-2x"></i> &nbsp; Calendrier des opérations</div>
 <div class="btxt"><i class="icon-bar-chart icon-2x"></i> &nbsp; Statistiques/Graphiques des opérations</div>
 {#<div class="btxt">   <i class="icon-group icon-2x"></i> &nbsp; Gestion User/Group </div>#}
<div class="btxt"><i class="icon-wrench icon-2x"></i> &nbsp; Administration Dashboard</div>

</div>

{% endblock fos_user_content %}