{% extends "ApplicationMyNotesBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content_header '' %}

{% block content %}

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Text</th>
            <th>Name</th>
            <th>Xyz</th>
            <th>Dt</th>
            <th>Wh</th>
            <th>Proprio</th>
            <th>Classement</th>
               <th>Color</th>
               <th>Categories</th>
            <th>View</th>          <th>Edit</th> <th>Delete</th>
             
        </tr>
    </thead>
    <tbody>
    {% for entity in  pagerfanta.currentPageResults %}
            {#% debug entities.categories%#}
            <tr>

                <td>{{ entity.id }}</td>
                <td>{{ entity.text }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.xyz }}</td>
                <td>{% if entity.dt %}{{ entity.dt|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.wh }}</td>
                <td>{{ entity.proprio }}</td>
                <td>{{ entity.classement }}</td>
          <td>{{ entity.color.nom }}</td>
             <td>{{ entity.categories.nom }}</td>
                   <td>
                    <a href="{{ path('notes_show', { 'id': entity.id }) }}">
                        <img src="{{ asset('bundles/applicationmynotes/images/detail.png') }}" alt="notes_show" width="15" height="15" />
                    </a>
                </td>
                <td>


                    <a href="{{ path('notes_edit', { 'id': entity.id }) }}">
                        <img src="{{ asset('bundles/applicationmynotes/images/edit.png') }}" alt="notes_edit" width="15" height="15" />
                    </a>
                </td>
                <td>


                    <a href="{{ path('notes_delete', { 'id': entity.id }) }}">
                        <img src="{{ asset('bundles/applicationmynotes/images/delete.png') }}" alt="notes_delete" width="15" height="15" />
                    </a>
                </td>

            </tr>
    {% endfor %}
        </tbody>
    </table>
<div class="pagerfanta">{{ pagerfanta(pagerfanta,'default', pagerfanta_opts) }}    </div>
    <ul>
        <li>
            <a href="{{ path('notes_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>



{% endblock %}