{% extends "ApplicationChangementsBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/ccpchangements.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('select2/select2.css') }}" type="text/css" media="all"/>
<style>select#doc_idchangement{height:300px; width:250px;}
        
        
 div.fichier{
        padding:5px;background-color:whitesmoke;color:#0033cc;margin-bottom:20px;}
    </style>
 {% endblock %}


{% block content_header '' %}
{% block title %}{{ TITRE }} FICHIER{% endblock %}
{% block content %}
{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
<div class="alert alert-{{ type }}">
            {{ flashMessage|trans }}
    </div>
    {% endfor %}
{% endfor %}

{% if action == 'edit' %}
<form   action="{{ path(path_form, { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
{% else %}
 <form  action="{{ path(path_form)}}" method="post" {{ form_enctype(form) }}>
{% endif %}

<table class="table-mybordered">
      <tr><td class="calendar">
              
       {% if action == 'edit' %}       
                <div class="fichier">
                                    {% if entity.name is not null %}                
                                        Actuel: <br>
                                  <strong>  {{ entity.OriginalFilename }} ({{ entity.name }})
                                        <br>
                                        Updated: {{ entity.updatedAt|date('Y-m-d H:i:s') }}
                                        <br>
                                        Created: {{ entity.createdAt|date('Y-m-d H:i:s') }}
                                        </strong>
                                        {% else %}
                                        (Pas de fichier actuellement)
                                        {% endif %}
         
                                        </div>
          {% endif %}    
              
              
              
                {{ form_row(form.name) }}
                {{ form_row(form.file) }}
               {{ form_rest(form) }}
                </td>
           {#     <td class="calendar">
     {{ form_row(form.idchangement) }}
           
                {{ form_rest(form) }}</td>#}
             </tr>
            <tr>
                <td class="calendar" colspan="2">
                {#<td class="calendar" colspan="2">#}
                <p><button type="submit" class="btn btn-medium btn-warning">Ajouter</button>
                <a href="{{  path(tpl_retour) }}" class="btn btn-medium btn-primary">Retour</a>
                </p>
                </td></tr>
</table>
</form>
     
     
     {% if action == 'edit' %} 
        
        <form   action="{{ path('docchangements_delete', { 'id': entity.id }) }}" method="post" {{ form_enctype(delete_form) }}>
        {{ form(delete_form) }}
                 {{ form_rest(delete_form) }}
       <button type="submit" class="btn btn-medium btn-danger">Delete</button>
       </form>
        {% endif %}
{% endblock %}


