{% extends "::layout_bs3.html.twig" %}
 

{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('select2/select2.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.pnotify.default.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/colorbox.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/indexfanta.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('css/jquery_flicker/jquery-ui-1.9.2.custom.css') }}" />    
     <link rel="stylesheet" href="{{ asset('jquery/simplecolorpicker/colorPicker.css') }}" type="text/css" media="all"/>
<style>
 tr{background-color:white;}
 
body {
    margin-left:5px;margin-right:5px;
}
    .container{margin-left:10px;margin-right:10px;}
    .container-fluid{margin-left:10px;margin-right:10px;}
</style>
{% endblock %}
        
        
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content_header '' %}


{% block title %}
 
{% endblock %}
        

{% block content %}


 <div class='row'>    
 <div class='col-lg-12 col-sm-8 col-xs-4'>    
    <h1><span class="glyphicon glyphicon-wrench"> </span> Catégories ({{ root_calendar.nom }})</h1>
 </div></div>

    

    <table class="table  table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                  <th>FontCssclass</th>
                <th>Cssclass</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('calendarcategories_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.description }}</td>
                     <td>{{ entity.fontcssClass }}
                <div style="width:20px;height:20px;background-color:{{ entity.fontcssClass}}"></div> 
                </td>
                
                <td>{{ entity.cssClass }}
                <div style="width:20px;height:20px;background-color:{{ entity.cssClass}}"></div> 
                </td>
                <td> <a href="{{ path('calendarcategories_edit', { 'id': entity.id }) }}">
                                <img src="{{ asset('bundles/applicationchangements/images/edit.png') }}" alt="edit" width="15px" height="15px" />
                                </a>
              </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<a href="{{ path('calendarcategories_new') }}" class="myleft btn btn-small btn-primary">Créer une nouvelle categorie</a>
    
<a href="{{ path('calendar_indexadesign') }}" class="myleft btn btn-small btn-primary">Retour Calendrier</a>    
    
   
{% endblock %}
{#
 {% block footer %}  {% endblock %}
#}
