{% extends "ApplicationRelationsBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
      <link rel="stylesheet" href="{{ asset('bundles/applicationrelations/css/sliding.css') }}" type="text/css" media="all"/>
     
 {% endblock %}

{% block content_header '' %}
{% block title %}DETAILS ZONE:  {{ entity.nom }} {% endblock %}
{% block content %}
      
     <br><br>
      
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr class="title"><th>Id</th><td>{{ entity.id }}</td></tr>
        <tr><th>Nom</th><td>{{ entity.nom }}</td></tr>
        <tr> 
            <td colspan="10"> 
                {% if is_granted("ROLE_ADMIN") %}   
                    <form action="{{ path('serveurs_zones_delete', { 'id': entity.id }) }}" method="post">
                        {{ form_errors(delete_form) }}
                        {{ form_row(delete_form.id) }}
                        {{ form_rest(delete_form) }}
                    </form> 
                    <button type="submit" class="btn btn-small btn-danger">Supprimer Application</button>
                    <a href="{{ path('serveurs_zones_edit', { 'id': entity.id }) }}"  class="btn btn-large btn-warning">Edit</a>
                {% endif %}   
                <a href="{{ path('serveurs_zones') }}" class="btn btn-large btn-success">Retour</a>
           </td>
      </tr>
</table>
{% endblock %}
