{% extends "::layout.html.twig" %}
 

{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('select2/select2.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.pnotify.default.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/colorbox.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/indexfanta.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('css/jquery_flicker/jquery-ui-1.9.2.custom.css') }}" />    
     <link rel="stylesheet" href="{{ asset('jquery/simplecolorpicker/colorPicker.css') }}" type="text/css" media="all"/>
{% endblock %}
        
        
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content_header '' %}


{% block title %}
 
{% endblock %}
        

{% block content %}
    <h1>CalendarRoot edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('calendarroot') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
