{% extends "::layout_bs3.html.twig" %}
 

{% form_theme edit_form with 'ApplicationCalendarBundle:Form:bootstrap3_form.html.twig' %}


{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('select2/select2.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.pnotify.default.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/colorbox.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/indexfanta.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('css/jquery_flicker/jquery-ui-1.9.2.custom.css') }}" />    
     <link rel="stylesheet" href="{{ asset('jquery/simplecolorpicker/colorPicker.css') }}" type="text/css" media="all"/>
     <style>
         .single {
         background-color: #f1f1f1;
         width:auto;
        }
        #form {margin-bottom:10px;}
body {
    margin-left:5px;margin-right:5px;
}
    .container{margin-left:10px;margin-right:10px;}
    .container-fluid{margin-left:10px;margin-right:10px;}


    </style> 
{% endblock %}
    

        
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content_header '' %}


{% block title %}
 
{% endblock %}
        
    
    

{% block content %}
   <h1><center> <span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-calendar-o fa-stack-1x"></i>
</span>
Edition Calendrier ({{entity.nom}})</center></h1>

   
 <form  class="form-horizontal" role="form" action="{{ path('calendarroot_update',{ 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
 
  
<div class="row">
  <div class="col-sm-5 col-sm-offset-1"> 
       {{ form_label(edit_form.nom) }}
       {{ form_widget(edit_form.nom, {'attr': {'class': 'form-control'}}) }}
        {{ form_label(edit_form.isviewable) }}
        {{ form_widget(edit_form.isviewable, {'attr': {'class': 'form-control'}}) }}
        <div class="row-fluid">
  {{ form_label(edit_form.days) }}
         {{ form_widget(edit_form.days, {'attr': {'class': 'form-control'}}) }}
    {{ form_label(edit_form.description) }}
          {{ form_widget(edit_form.description, {'attr': {'class': 'form-control'}}) }}
        </div>  
        
  
   </div>
    <div class="col-sm-2 col-sm-offset-1"> 
    {{ form_label(edit_form.plage) }}
   {{ form_widget(edit_form.plage, {'attr': {'class': 'form-control'}}) }}
    {{ form_label(edit_form.startHour) }}

   {{ form_widget(edit_form.startHour, {'attr': {'class': 'form-control'}}) }}
     {{ form_label(edit_form.endHour) }}
   
       {{ form_widget(edit_form.endHour, {'attr': {'class': 'form-control'}}) }}
     

     

   {{ form_label(edit_form.isshared) }}
          {{ form_widget(edit_form.isshared, {'attr': {'class': 'form-control'}}) }}

   {#{{ form_row(edit_form.rootcalendar) }}#}
 {#  {{ form_row(edit_form.rootcalendar, { 'attr':{'readonly':'readonly'} }) }}#}
          
{{ form_label(edit_form.secondgroupedit) }}
          {{ form_widget(edit_form.secondgroupedit, {'attr': {'class': 'form-control'}}) }}
          
      
          
   {{ form_rest(edit_form) }}

 </div>
    <br>
</div>
     <div class="row">
  <div class="col-sm-5 col-sm-offset-1"> 
        <button type="submit" class="btn btn-large btn-warning form-control">Valider</button>    
          
</div>
  </div>   
</form>
    <br><br>
   <div class="row">
  <div class="col-sm-5 col-sm-offset-1"> 

<a href="{{ path('calendarroot') }}" class="btn btn-medium btn-success form-control">Retour</a>
  <br><br>
    <a href="{{ path('calendar_indexadesign') }}" class="myleft btn btn-small btn-primary form-control">Retour Calendrier</a>    
{#
        
    <li>{{ form(delete_form) }}</li>#}
  </div></div>
    
    
{% endblock %} {% block footer %} {% endblock %}
