{% extends "::layout.html.twig" %}
 

{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('select2/select2.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.pnotify.default.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/colorbox.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/indexfanta.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('css/jquery_flicker/jquery-ui-1.9.2.custom.css') }}" />    
     <link rel="stylesheet" href="{{ asset('jquery/simplecolorpicker/colorPicker.css') }}" type="text/css" media="all"/>
     <style>
         .single {
         background-color: #f1f1f1;
         width:auto;
        }

    </style> 
{% endblock %}
    

        
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content_header '' %}


{% block title %}
 
{% endblock %}
        

{% block content %}
    <h1>CalendarRoot edit</h1>

 <form  id="form" class="single"  action="{{ path('calendarroot_update',{ 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
  
<div class="row-fluid ">
  <div class="span4 offset1"> 
   {{ form_row(edit_form.nom) }}
  
   {{ form_row(edit_form.description) }}
   </div>
    <div class="span4"> 
  
  {{ form_row(edit_form.plage) }} 
        {{ form_row(edit_form.startHour) }} 
        {{ form_row(edit_form.endHour) }} 
   {#{{ form_row(edit_form.rootcalendar) }}#}
 {#  {{ form_row(edit_form.rootcalendar, { 'attr':{'readonly':'readonly'} }) }}#}
   {{ form_rest(edit_form) }}

 </div>
 </div>
 <div class="row-fluid">
    <div class="span6 offset1"> 
        <button type="submit" class="btn btn-large btn-warning">Valider</button>    
    </div>
         <div class="span4 offset1"> 
 <a href="{{ path('calendarroot') }}" class="btn btn-medium btn-success">Retour</a>
         </div>
</div>
</form>

    
{#
        
    <li>{{ form(delete_form) }}</li>#}

{% endblock %}
