{% extends "::base_bs3.html.twig" %}

{% form_theme form with 'ApplicationChangementsBundle:Form:tpl_form.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('select2/select2.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.pnotify.default.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/colorbox.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/indexfanta.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('css/jquery_flicker/jquery-ui-1.9.2.custom.css') }}" />
<link rel="stylesheet" href="{{ asset('fullcalendar/fullcalendar.css') }}" />
<link rel="stylesheet" href="{{ asset('fullcalendar/view_calendar.css') }}" />
<link rel="stylesheet" href="{{ asset('jquery/simplecolorpicker/colorPicker.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('jquery/jqtip2/jquery.qtip.min.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bundles/applicationcalendar/css/calendar.css') }}" type="text/css" media="all"/>


<style type="text/css">

input[id*='picture_'] {float:left;color:red;margin-right:5px; }
    div.btxt{padding-bottom:10px;}   
    .mypad {margin-left:4px;
            margin-right:4px;}
    /* input#startDatetime,input#endDatetime{width:150px;}*/
    #description{
        background-color: #eaeaea;
        /*padding:10px;*/
        border:1px solid black;
    } 

    #submit{ bottom:0px;  margin-bottom:7px;
             vertical-align: bottom;}

    .mywell {
        min-height:100px;
        border:1px solid blue;
        padding:10px;
        margin:5px;
        background-color: #dedede;
        border-style: solid;
        border-color: rgb(0, 0, 0);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 1px 0px rgba(255, 255, 255, 0.1);
    }
    textarea#description {
        width: 95%;
        min-height: 200px;
        background-color: white;
    }
    body {

        margin-left:25px;margin-right:25px;
    }
    .page-header {
        padding-bottom: 1px;
        margin-top: 1px;

    }
</style>
    {% endblock %}




{% block javascripts %}
    {{ parent() }}
    
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript" src="{{ asset('select2/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('select2/select2_locale_fr.js') }}"></script>
<script type="text/javascript" src="{{ asset('fullcalendar/fullcalendar.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/jquery.colorbox.js') }}"></script>
  {# <script type="text/javascript" src="{{ asset('bootstrap/js/jquery.pnotify.min.js') }}"></script>#}
<script type="text/javascript" src="{{ asset('jquery/jquery.xcolor.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/simplecolorpicker/jquery.colorPicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/jqtip2/jquery.qtip.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/applicationcalendar/js/collectionfiles.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.form.js') }}"></script>

<script type="text/javascript">
    /* jQuery.noConflict();*/
    $(document).ready(function() {
        var t = [];
        $("#endDatetime").datepicker({
            minDate: "-5Y",
            maxDate: "+10Y",
            changeMonth: true,
            changeYear: true,
            showWeek: true,
            firstDay: 1,
            numberOfMonths: 1,
            dateFormat: "yy-mm-dd 08:00",
            onClose: function(selectedDate) {
                $("#form_bis").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#startDatetime").datepicker({
            maxDate: "+5Y",
            minDate: "-5Y",
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 1,
            showWeek: true,
            firstDay: 1,
            dateFormat: "yy-mm-dd 17:00",
            onClose: function(selectedDate) {
                $("#form_bis").datepicker("option", "minDate", selectedDate);
            }
        });


        var xcolors = ["#94a2be", "#993355", "#aaaaaa", "#f2a640", "#b373b3", "#668cd9"];

        var t1 = ["#ff000", "#330000", "#660000", "#990000", "#cc0000", "#000000",
            "94A2BE", "993355", "aaaaaa", "f2a640", "b373b3", "668cd9",
            '000000', '993300', '333300', '000080', '333399', '333333',
            '800000', 'FF6600', '808000', '008000', '008080', '0000FF',
            '666699', '808080', 'FF0000', 'FF9900', '99CC00', '339966',
            '33CCCC', '3366FF', '800080', '999999', 'FF00FF', 'FFCC00',
            'FFFF00', '00FF00', '00FFFF', '00CCFF', '993366', 'C0C0C0',
            'FF99CC', 'FFCC99', 'FFFF99', 'CCFFFF', '99CCFF', 'FFFFFF'];

        var a1colors = $.xcolor.analogous('#da0', 16);

        var b = $.xcolor.monochromatic("f00", 6);
        tt = $.xcolor.analogous('#da0', 32, 30);
        tt.push("FFFFFF", "000000");
        // append noir et blanc
        /*
         $.each(b, function(key, value){
         console.log("??" + value);
         });*/
        ////*
        //  var c_tcageories = tcategories.length;
        /* for( i=0; i < c_tcageories; i++){
         //myArray[i];
         $("div.colorPicker-swatch" ).css({"border-color": "red", 
         "border-width":"4px", 
         "border-style":"solid"});
         }*/
        // tt = $.merge(tcategories, tt);
        var myRegExp = /#./;
        for (var i in tt) {
            t[i] = tt[i].toString();
            /*console.log("v="+t[i]);*/
            if (myRegExp.test(t[i])) {
                //console.log("matching #"+t[i]);
                t[i] = t[i].replace("#", "");
            }

        }
        var tfont = ["000000", 'FFFFFF', "ded600", "de2500"];
        $("#fgColor").colorPicker({
            //colors: tfont,
            //   pickerDefault: "FFFFFF",
            transparency: true
        });
        $('#bgColor').colorPicker(
                {
                    /*colors: t,
                     pickerDefault: "#94a2be",*/
                    /*pickerDefault: "#94a2be",*/
                    transparency: true,
                    onColorChange: function(id, newValue) {
                        console.log("ID: " + id + " has been changed to " + newValue);
                    }

                });
        //Callback handler for form submit event
  var options = { 
        target:        '#output2',   // target element(s) to be updated with server response 
        beforeSubmit:  showRequest,  // pre-submit callback 
        success:       showResponse  // post-submit callback 
        // other available options: 
        //url:       url         // override for form's 'action' attribute 
        //type:      type        // 'get' or 'post', override for form's 'method' attribute 
        //dataType:  null        // 'xml', 'script', or 'json' (expected server response type) 
        //clearForm: true        // clear all form fields after successful submit 
        //resetForm: true        // reset the form after successful submit 
 
        // $.ajax options can be used here too, for example: 
        //timeout:   3000 
    }; 
  
    
    // bind to the form's submit event 
    $('#myform').submit(function() { 
        // inside event callbacks 'this' is the DOM element so we first 
        // wrap it in a jQuery object and then invoke ajaxSubmit 
        $(this).ajaxSubmit(options); 
 
        // !!! Important !!! 
        // always return false to prevent standard browser submit and page navigation 
        return false; 
    }); 

 
// pre-submit callback 
function showRequest(formData, jqForm, options) { 
    // formData is an array; here we use $.param to convert it to a string to display it 
    // but the form plugin does this for you automatically when it submits the data 
    var queryString = $.param(formData); 
 
    // jqForm is a jQuery object encapsulating the form element.  To access the 
    // DOM element for the form do this: 
    // var formElement = jqForm[0]; 
 
    alert('About to submit: \n\n' + queryString); 
 
    // here we could return false to prevent the form from being submitted; 
    // returning anything other than false will allow the form submit to continue 
    return true; 
} 
 function processJson(data) { 
    // 'data' is the json object returned from the server 
       console.log("reponse");
    alert(data.message); 
}
// post-submit callback 
function showResponse(responseText, statusText, xhr, $form)  { 
    // for normal html responses, the first argument to the success callback 
    // is the XMLHttpRequest object's responseText property 
 
    // if the ajaxSubmit method was passed an Options Object with the dataType 
    // property set to 'xml' then the first argument to the success callback 
    // is the XMLHttpRequest object's responseXML property 
 
    // if the ajaxSubmit method was passed an Options Object with the dataType 
    // property set to 'json' then the first argument to the success callback 
    // is the json data object returned by the server 
 
    alert('status: ' + statusText + '\n\nresponseText: \n' + responseText + 
        '\n\nThe output div should have already been updated with the responseText.'); 
   parent.jQuery.colorbox.close();
} 


    });
</script>
{% endblock %}


{% block title %}{% endblock %}

{% block content %}

 <div class="row">
    <div class="col-md-6">
        
{% if action == 'edit' %}

<form  id="myform"  class="form-horizontal" role="form" data-id="{{ entity.id }}" action="{{ path('calendar_adesignajax_edit',{ 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
{% else %}

    <form  id="myform" class="form-horizontal" role="form" action="{{ path('calendar_create') }}" method="post" {{ form_enctype(form) }}>




{% endif %}

      <h3>Tabs</h3>
        <!-- tabs -->
        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#one" data-toggle="tab">Principal</a></li>
            <li><a href="#two" data-toggle="tab">Two</a></li>
            <li><a href="#twee" data-toggle="tab">Fichier</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="one">
                   <div class='row'>
                <div class='col-xs-3'>    
                    <div class='form-group'>{{ form_row(form.title) }}</div>
                </div>
                <div class='col-xs-3'>    
                    <div class='form-group'>{{ form_row(form.startDatetime) }}{{ form_row(form.endDatetime) }}</div>
                </div>
                <div class='col-xs-4'>
                    <div class='form-group'>{{ form_row(form.bgColor) }}{{ form_row(form.fgColor) }}</div>
                </div>
            </div>

            <div class='row'>  
                <div class='col-xs-12'>
                    <div class='form-group'>{{ form_row(form.description) }}</div>
                </div>
            </div>
            <div class='row'>  
                <div class='col-xs-4'>
                    <div class='form-group'>
                        <button type="submit" class="btn btn-primary" id="submit">{{ button_submit }}</button>
                    </div>
                </div>

            </div>
            </div>
              
              
           
              
            <div class="tab-pane" id="two">   
              
              
              <h3><center>Liste des Fichiers associés</center></h3>
    <table class=" table-striped table-bordered table-hover">
        <thead>
            <tr class="title"><th>id</th><th>Nom</th><th>Path</th></tr>
        </thead>
        <tbody>
    {% for fic in entity.picture %}
            <tr class="closed">
                <td>{{ fic.id }}</td>
                <td>{{ fic.name }}</td>
                <td><a href="{{ path('docchangements_download', { 'id': fic.id }) }}">{{ fic.path }}</a></td>
            </tr>
    {% endfor %}
        </tbody>
    </table>   
            </div>
            <div class="tab-pane" id="twee">  <ul class="tags" data-prototype="{{ form_widget(form.picture.vars.prototype)|e }}">
                        {% for tag in form.picture %}
            <li> 
                        {{ form_errors(tag.file) }}
                        {{ form_widget(tag.file) }}
                        {{ form_errors(tag.name) }}
                        {{ form_widget(tag.name) }}
                        {% endfor %}
        
                        {#  {{ form_widget(tag.OriginalFilename) }}#}
            </li>
            </ul>
{{ form_rest(form) }}
               </div>
           </div>
        </div>
        <!-- /tabs -->
       
    </form>



{#=====================================================================
                   LES FICHIERS DE LA DEMANDE
=====================================================================#}


    
    <!----------Form Edit Event ----------------->

{% endblock %}
     {% block footer %} {% endblock %}