{% extends "::layout.html.twig" %}
  {# <script>var menuDownUrl = "{{ asset('bundles/applicationcertificats/images/') }}";</script>#}
  {% block stylesheets %}
    
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('select2/select2.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.pnotify.default.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/colorbox.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/indexfanta.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('css/jquery_flicker/jquery-ui-1.9.2.custom.css') }}" />    
    <link rel="stylesheet" href="{{ asset('fullcalendar/fullcalendar.css') }}" />
    <link rel="stylesheet" href="{{ asset('fullcalendar/view_calendar.css') }}" />
     <link rel="stylesheet" href="{{ asset('jquery/simplecolorpicker/colorPicker.css') }}" type="text/css" media="all"/>
        <link rel="stylesheet" href="{{ asset('jquery/jqtip2/jquery.qtip.min.css') }}" type="text/css" media="all"/>
     <link rel="stylesheet" href="{{ asset('bundles/applicationcalendar/css/calendar.css') }}" type="text/css" media="all"/>
{% endblock %}
        
        
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript" src="{{ asset('select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('select2/select2_locale_fr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('fullcalendar/fullcalendar.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/jquery.colorbox.js') }}"></script>
  {# <script type="text/javascript" src="{{ asset('bootstrap/js/jquery.pnotify.min.js') }}"></script>#}
  <script type="text/javascript" src="{{ asset('jquery/jquery.xcolor.js') }}"></script>  
   <script type="text/javascript" src="{{ asset('jquery/simplecolorpicker/jquery.colorPicker.js') }}"></script>
       <script type="text/javascript" src="{{ asset('jquery/jqtip2/jquery.qtip.min.js') }}"></script>
    {#    <script type="text/javascript" src="{{ asset('jquery/tinycolor.js') }}"></script>#}
       
        
<script type="text/javascript">
        var xcolors=["#94a2be","#993355","#aaaaaa","#f2a640","#b373b3","#668cd9"];
        var edit_status = "{{ editstatus|escape('js') }}";
        console.log("edit status="+edit_status);
        var resize_status = edit_status;     
       $(document).ready(function() {
     
      
        var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();
        
       /* if (!$('#events').is(':checked')) { // Note "!" sign here (this indicates that the condition is inverted)
         $(element).removeEvents("rto")          
}
*/
        $("#datepicker").datepicker({
            dateFormat: 'yy/mm/dd',
            // While using year and month change I prefer to use inline  date picker  like (  <div id="datepicker"></div>   )
            changeMonth: true,
            changeYear: true,
            onChangeMonthYear: function(year, month, inst) {
                var date = new Date();
                console.log("month=" + month);
                $('#calendar-holder').fullCalendar('gotoDate', year, month-1, date.getDate()); 
            },
            onSelect: function(dateText, inst) {
                var date = new Date(dateText);
                console.log("month=" + date.getMonth());
                $('#calendar-holder').fullCalendar('gotoDate', date.getFullYear(), date.getMonth(), date.getDate()); 
                /*  $('#calendar-holder').fullCalendar('gotoDate', date);*/
            }
        });
	/*$(this).find('.fc-event-time').addClass('newclass');*/
        $('#external-events div.external-event').each(function() {
            //create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
            // it doesn't need to have a start or end
            var eventObject = {
                title: $.trim($(this).text()), // use the element's text as the event title
                'backgroundcolor':$( this ).css( "background-color" ),
                'myclass':$( this ).attr( "myclass" )
		};
           /* console.log("class=" + eventObject.myclass);*/
            // store the Event Object in the DOM element so we can get to it later
            $(this).data('eventObject', eventObject);
            // make the event draggable using jQuery UI
            $(this).draggable({
                zIndex: 999,
		revert: true,      // will cause the event to go back to its
		revertDuration: 0  //  original position after the drag
            });
	});
	$('#calendar-holder').fullCalendar({
            theme: true,
            firstDay:1,   
            minTime:7,
            maxTime:22,
            slotMinutes: 30,
            defaultEventMinutes: 120,
            editable: edit_status,
            selectable: edit_status,
            selectHelper: true,
            eventStartEditable: edit_status,
            eventDurationEditable: edit_status,
            droppable: edit_status,
            hiddenDays: [], 
            unselectAuto: false,
            defaultView: 'agendaWeek',
            header: {
                left: 'prev, next',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
           },
           /* fetch 1 time pour le mois entier*/
            lazyFetching:true,
            timeFormat: {
                agenda: 'H:mm{ - H:mm}'
            },
                eventSources: [
                    {
                        url: Routing.generate('calendar_adesignajax'), 
                        type: 'POST',
                        eventBorderColor:"red",
                        textColor: 'black' // a non-ajax option*/
                    }
                    
                   /* ,{
                        url: Routing.generate('calendar_adesignajax_absences'), 
                        type: 'POST',
                        error: function() {
                        //alert('There was an error while fetching Google Calendar!');
                        },
                        startEditable: false, 
                        durationEditable :false,
                        editable: false,
                        selectable: false,
                        allDayDefault : true,
                        color: '#668CD9',   // a non-ajax option
                        textColor: 'black' // a non-ajax option
                    }  */
                    ],
            eventRender: function(event, element) {
                element.attr("description",event.description);
                var start = $.fullCalendar.formatDate(event.start, "yyyy-MM-dd HH:mm:ss");
                var end = $.fullCalendar.formatDate(event.end, "yyyy-MM-dd HH:mm:ss");
                 
                 var bg=element.css("background-color");
                  // console.log("render bgcolor="+bg);
    
     // var t="#fffddd";
      // Darken
//var t = LightenDarkenColor(bg, -50);
       // t=t.toRgbString();
     /*  var t = tinycolor.darken(bg).toRgbString();*/
        var t=$.xcolor.darken(bg,3);
        console.log("color="+t);
    
     element.css('border-color', t); 
      element.find("div.fc-event-time").css('background-color', t);
      if (event.origine !=="absence")
                        element.find("div.fc-event-time").prepend(" <a class=\"editme\" href=\"#\"><i class=\"icon-wrench\"></i></a> ");
                /*  var desc="Pas de description";
                if (event.description =="") desc=event.description;*/
                    var text = "<p>"+event.title+'</p><p>Start: '+start+'<br/>End: '+end+'</p>';
                /*    element.qtip({
                        content: {
                            text    : event.description,
                            title   : {
                                text    : text
                   
                            }
                        },
                        position: {
                            my : "top center",
                            at : "bottom center",
                            container : false,
                            viewport : $('#calendar-holder'),
                          
                            adjust: {method: 'shift' 
                         }
                        },
                        style: { 
                            name: 'blue',
                            border: {
                            width: 2,
                            radius: 2,
                            color: '#6699CC'
                            },
                            width: 300
                        },
                        hide: {
                        fixed: true
                        
                        }
                    }); 
                    */
         
        /*.html("Whatever you want the content of the span to be"));*/
        },
  
        /*==================================
         * 
         * Ajout event 
         ==================================*/
    select: function(start, end, allDay) {
        var eventobjet={'start':start,'end':end,'allDay':allDay};
        $("#titreheader").html("Ajouter un Evenement");
        console.log("select function: allday=--"+allDay+'--');
        remplirForm(eventobjet);
        $('#createEventModal').modal('show');
        $("#titleName").focus();
        $("#submitButton").click(function(event){
            doSubmit(event);
            initForm();
         });
        $("#cancel-button,button.close").click(function(event){
            initForm();
        });
        /*  $('#createEventModal').modal('hide');*/
    },
   /*===================================
   * 
   * Deplacer Event
   ====================================*/
    eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
        console.log("drop: move event");
        updateajax('calendar_dropajax',event,event['allDay'],function (result) { 
        console.log("event single drop result=" + result);
        });
    },
            
    /*===================================
    * 
    * CLiker/Editer Event
    ====================================*/

    eventClick: function(calEvent, jsEvent, view) {
        console.log("event click");
        if (edit_status === false) 
            return;
        if (calEvent.origine ==="absence")
            return;
        console.log("id after click="+ calEvent.id);
        var border=$(this).css('border-color');
        $(this).css('border-color', 'red');
        var start = $.fullCalendar.formatDate(calEvent.start, "yyyy-MM-dd HH:mm:ss");
        var end = $.fullCalendar.formatDate(calEvent.end, "yyyy-MM-dd HH:mm:ss");
        /*var boxContentString=$("div#createEventModal").html();*/
        var boxContentString = "ID=" + calEvent.id + " infos:<br>TITRE: " + calEvent.title + 
                   "<br>Description:<br>" + calEvent.description + "<br>" +
                   "allday=" + calEvent.allDay + "<br>start=" + start + "<br>end=" + end;
       // plus passer par css
      // var color_index=0;
        var cssclasscolor=calEvent.className[0];
        
       var bgcolor=calEvent.backgroundColor;
        console.log("recup color=" + bgcolor);
          $('#color').val(bgcolor);
        // color en cours
        $("div.colorPicker-picker").css('background-color',bgcolor);
         bootbox.dialog(boxContentString,[
        //buttons
        {
        "label" : "Edit",
        "class" : "btn-success",
        "callback": function(e){
             $("#titreheader").html("Editer un Evenement (id=" + calEvent.id + ")");
            remplirForm(calEvent);
            $('#createEventModal').modal('show');
            $("#submitButton").unbind('click');
            $("#submitButton").click(function(e){
                 console.log("SUBMIT BUTTON");
                  console.log("id before dosubmit call="+ calEvent.id);
                 doSubmit(calEvent);
                 console.log("END SUBMIT BUTTON");
               //  $('#submit-event-update').unbind();
                   /*    console.log("id after dosubmit call="+ calEvent.id);*/
 
                initForm();
        });
     $("#cancel-button").click(function(event){
               //   $('#calendar-holder').fullCalendar('unselect');
                  initForm();
        });
    }
     
},
       
    {
        "label" : "Delete",
        "class" : "btn-danger",
        "callback": function(e){
            var dataAjax={'id':calEvent.id};
        
            deleteajax('calendar_dropajax',dataAjax,function (result) { 
        
         console.log("id delete=" + calEvent.id );
             $('#calendar-holder').fullCalendar('removeEvents', calEvent.id );
          
            
            });
            }
    }, 
             {
    "label" : "Cancel",
    "class" : "btn-default",
    "callback": function() {
        // Cancel function
    }
}
]);
 //$('#calendar-holder').fullCalendar('updateEvent',calEvent);
 //  $(this).find("div.fc-event-time").prepend(" <a class=\"editme\" href=\"#\"><i class=\"icon-wrench\"></i></a> ");
  $(this).css('border-color', border);         
},

/*=================================
*  DROP EXTERNAL EVENT
* 
==================================*/

    drop: function(date, allDay) { // this function is called when something is dropped
        var tempDate = new Date(date);  //clone date
	var originalEventObject = $(this).data('eventObject');
	var copiedEventObject = $.extend({}, originalEventObject);
        console.log("drop start=" + date);
        var title = copiedEventObject['title'];
        var bg= copiedEventObject['backgroundcolor'];
        start = $.fullCalendar.formatDate(date, "yyyy-MM-dd HH:mm:ss");
        end = new Date(tempDate.setHours(tempDate.getHours()+2)); 
        end =$.fullCalendar.formatDate(end, "yyyy-MM-dd HH:mm:ss");
        console.log("Drop function titre?=" + copiedEventObject['title']);
        if (title) {
            var dataAjax={
                'title': title,
                'start':start,
                'end': end,
                'backgroundColor': bg,
                'className': copiedEventObject['myclass'],
                'allDay': allDay
            }; 
            createajax('calendar_dropajax',dataAjax,allDay,function (result) { 
                console.log("result=" + result['data']['id']);
                dataAjax['id'] = result['data']['id'];
                $('#calendar-holder').fullCalendar('renderEvent', dataAjax, false);
            });
        }
	if ($('#drop-remove').is(':checked')) {
            $(this).remove();
        }
    },
        
/*=================================
*  EVENT RESIZE
* 
==================================*/
    eventResize: function(event,dayDelta,minuteDelta,revertFunc) {
        updateajax('calendar_dropajax',event,event['allDay'],function (result) { 
        console.log("resize event");
        });
    }      
});

/*=================================
*  REMPLIR FORM
* 
==================================*/

function remplirForm(event){
    console.log("REMPLIR FORMULAIRE");
    var start = $.fullCalendar.formatDate(event.start, "yyyy-MM-dd HH:mm:ss");
    var end = $.fullCalendar.formatDate(event.end, "yyyy-MM-dd HH:mm:ss");
    console.log("start=" + start);
    if (event.title)
        $("#titleName").val(event.title);
    $('#apptStartTime').val(start);
    $('#apptEndTime').val(end);
    //$('#createEventModal').modal('show');
    var mywhen = start + ' - ' + end;
    $('#createEventModal #when').text(mywhen);
    console.log("ok allDay="+event.allDay);
    $('#apptAllDay').val(event.allDay);
    if (event.id)
        $('#apptId').val(event.id);
    if (event.description)
        $("#descriptionName").val(event.description);
return true;
}
    
/*=================================
*  SUBMIT FORM
* 
==================================*/
    
function doSubmit(event){
  console.log("submit1 button in doSubmit");
  console.log("dosubmit id?=" +event.id);
  /* event.preventDefault();*/
    $('#createEventModal').hide();
    console.log("submit button");
    var title=$("#titleName").val();
    var description=$("#descriptionName").val();
    var mstart= $('#apptStartTime').val();
    var mend= $('#apptEndTime').val();
    // color en hexa via colorpicker:
    var csscolor=$('#color').val();
    var id= $('#apptId').val();
    //recuperation de la classe associée a la couleur
   // var color_index=getcolor(csscolor);
    var cssclass='class0';
  //  if (color_index != -1){cssclass='class' + color_index;
    // console.log("FOUND COLOR INDEX= " + cssclass);
  //  }
    // console.log("id=" + id + " color=" + csscolor + " class=" + cssclass);
     
    console.log("id=" + id + " color=" + csscolor);
    var mallDay= $('#createEventModal #apptAllDay').val();
    if (title) {
            console.log("allday=" + mallDay + " mstart=" + mstart + " end=" + mend);
           var dataAjax={
                    'title':title,
                    'className':cssclass, 
                    'backgroundColor':csscolor,
                    'description':description,
                    'start':mstart,
                    'end':mend,
                    'id':id,
                    'allDay': ($('#apptAllDay').val() == "true"),
                  
                };
    if (id){
        console.log("CAS 1 EDIT");
        //updateajax(route,event,allday,callback) {
        console.log("dosubmit Appel updateAjax id=" + id);
        createajax('calendar_dropajax',dataAjax,mallDay,function (result) { 
            dataAjax['id'] = result['data']['id'];
            $('#calendar-holder').fullCalendar( 'removeEvents', id );
            $('#calendar-holder').fullCalendar('renderEvent', dataAjax, false);
        });  
        }
        else{
            console.log("CAS 2 NEW");
            createajax('calendar_dropajax',dataAjax,mallDay,function (result) { 
                dataAjax['id'] = result['data']['id'];
                $('#calendar-holder').fullCalendar('renderEvent', dataAjax, false);
            });  
        }
    }
 }

function initForm(){
        $('#calendar-holder').fullCalendar('unselect');	 
        $('#createEventModal').modal('hide');
        $("#titleName").val("");
        $("#descriptionName").val("");
        $('#apptId').val("");
        $('#color').val("");
        $("div.colorPicker-picker").css('background-color',getcolorById(0));
        $('#calendar-holder').fullCalendar('unselect');
}
   /*========================================================
     *  Fonction: Ajaxs
     ========================================================*/
 
    function updateajax(route,event,allday,callback) {
         console.log("update ajax");

          
   start = $.fullCalendar.formatDate(event.start, "yyyy-MM-dd HH:mm:ss");
   end = $.fullCalendar.formatDate(event.end, "yyyy-MM-dd HH:mm:ss");
   
   // Shallow copy
    var newObject = jQuery.extend({}, event);
    newObject.start=start;
    newObject.end=end;
    newObject.className=event.className[0];
    console.log("updateajax start=" + event.start);
    console.log("updateajax end=" + event.end);
    var datareponse;
    //if (!event.id) {var id=null;}else {var id=event.id;}
    $.ajax({
        async: false,
        url: Routing.generate(route),
        type: "POST",
        dataType: "json",
        data: newObject,
        success: function(reponse) {
                datareponse = reponse;
                
        },
        error: function(e) {
            console.log(e.message);
            datareponse = e.message;
           
        }
        });
       /* return datareponse;*/
       callback(datareponse);
  
    } //Eof:: fucntion remplirSelect
    
   

    /*========================================================
     *  Fonction: Delete AJAX
     ========================================================*/

    function deleteajax(route,event,callback) {
    var obj = $(this);
    var datareponse;
    if (!event.id) {var id=null;}else {var id=event.id;}
    var dataAjax = { 
        'id': id,action:'delete'
    };
    console.log("delete ajax");
    $.ajax({
        async: false,
        url: Routing.generate(route),
        type: "POST",
        dataType: "json",
        data: dataAjax,
        success: function(reponse) {
                datareponse = reponse;
                
        },
        error: function(e) {
            console.log(e.message);
            datareponse = e.message;
           
        }
        });
       callback(datareponse);
  
    } //Eof:: fucntion remplirSelect
    
  function View(datab)
    {
        var str = "Informations sur l\'evenement<br>";
        var id = datab['id'];
        /* console.log("id=" + id);*/
        /*    http://symvideo:92/452/showxhtml*/
        var url = Routing.generate('calendar_showXhtml', {id: id});
        /*var dataAjax = {'id': id};*/
        $.colorbox({
            iframe: true,
            transition: "elastic",
            width: "600px",
            height: "600px",
            fastIframe: false,
            opacity: 0.3,
            href: url
       /* onClosed:function(){
              $("#gridcontainer").reload();
         }*/
     });


    }

  /*------------------------------------------
     * 
     * EDIT WINDOW
     *
     ------------------------------------------*/

    function Edit(data)
    {
        if (data)
        {
        var id = data[0];
          var url = Routing.generate('calendar_edit', {id: id});
       
          /*  var url = Routing.generate('calendar_showXhtml', {id: id});*/
        /*var dataAjax = {'id': id};*/
        $.colorbox({
            iframe: true,
            transition: "elastic",
            width: "80%",
            height: "80%",
            fastIframe: false,
            opacity: 0.3,
            href: url,
         onClosed:function(){
              $("#gridcontainer").reload();
         }
     });
           }
    }

 /*========================================================
     *  Fonction: Ajaxs
     ========================================================*/

    function createajax(route,data,allday,callback) {
    var obj = $(this);
    var datareponse;
  console.log("create ajax request");
  /*start=data['start'];
  end=data['end'];*/
     /*  start = $.fullCalendar.formatDate(data['start'], "yyyy-MM-dd HH:mm:ss");
        end = $.fullCalendar.formatDate(data['end'], "yyyy-MM-dd HH:mm:ss");*/
     
        $.ajax({
            async: false,
            url: Routing.generate(route),
            type: "POST",
            dataType: "json",
           /* data: dataAjax,*/
             data: data,
            success: function(reponse) {
                
                datareponse = reponse;
                var id=reponse['data']['id'];
                console.log("in success id=" + id);
               
          
            },
          error: function(e) {
            console.log(e.message);
            datareponse = e.message;
           
        }
        });
        /* $('#calendar-holder').fullCalendar('renderEvent', dataAjax, true);*/
       /* return datareponse;*/
       callback(datareponse);
  
    } //Eof:: fucntion remplirSelect
    
  
    /* $('#color1').colorPicker(
{
       pickerDefault : "FFFFFF",

        // Default color set.
        colors : [
            '000000', '993300', '333300', '000080', '333399', '333333', '800000', 'FF6600',
            '808000', '008000', '008080', '0000FF', '666699', '808080', 'FF0000', 'FF9900'
            
        ]
     });
 colors:  ["94A2BE","993355","aaaaaa","f2a640","b373b3","668cd9",
      '000000', '993300', '333300', '000080', '333399', '333333', 
      '800000', 'FF6600', '808000', '008000', '008080', '0000FF',
      '666699', '808080', 'FF0000', 'FF9900', '99CC00', '339966', 
      '33CCCC', '3366FF', '800080', '999999', 'FF00FF', 'FFCC00',
      'FFFF00', '00FF00', '00FFFF', '00CCFF', '993366', 'C0C0C0',
      'FF99CC', 'FFCC99', 'FFFF99', 'CCFFFF', '99CCFF', 'FFFFFF'],*/
      /* $.fn.colorPicker.defaults.colors = ['151337', '111111'];*/
    $('#color').colorPicker(
         {
   
      colors:  $.xcolor.monochromatic('#0066FF'),
   /*  ["94A2BE","aaaaaa",'C0C0C0','808080','999999','333333',
          
     'CCFFFF', '99CCFF', "668cd9",'0000FF','333399','33CCCC', '3366FF',  
    
       'FF6600','FF0000', '666699',"f2a640",'800000',  '808000', 
     
       '008000', '008080',  'FF9900', '99CC00', '339966', "993355",
       '800080', 'FF00FF', 'FFCC00',"b373b3",
      'FFFF00', '00FF00', '00FFFF', '00CCFF', '993366', 'FF99CC',
      'FFCC99',    'FFFF99', 'FFFFFF', '993300', '333300', '000080','000000'],*/
             pickerDefault: "#94a2be",
             /*pickerDefault: "#94a2be",*/
   transparency: true,
   onColorChange : function(id, newValue) {
       console.log("ID: " + id + " has been changed to " + newValue);
   /*   var colors=["#94a2be","#993355","#aaaaaa","#f2a640","#b373b3","#668cd9"];
    alert(jQuery.inArray(newValue, colors));*/
  /* alert("value=" + newValue + "array_value=" + getcolor(newValue));*/
    } 
                
        });
        
         function getcolor(value) {
          /*  var colors=["#94a2be","#993355","#aaaaaa","#f2a640","#b373b3","#668cd9"];*/
        return jQuery.inArray(value, xcolors);
    }
    function getcolorById(id) {
          //  var colors=["#94a2be","#993355","#aaaaaa","#f2a640","#b373b3","#668cd9"];
        if (id <= 5 )
            return xcolors[id];
        else
            return xcolors[0];
    }
    
    function reloadCal() {
    newSource[0] = '/feeds/calendarjson.ashx?e1=' + $('#e1').is(':checked') + '&e2=' + $('#e2').is(':checked');
    newSource[1] = $('#e3').is(':checked') ? '/feeds/caljson2.ashx' : '';
    $('#calendar-holder')
        .fullCalendar('removeEventSource', source[0])
        .fullCalendar('removeEventSource', source[1])
        .fullCalendar('refetchEvents')
        .fullCalendar('addEventSource', newSource[0])
        .fullCalendar('addEventSource', newSource[1])
        .fullCalendar('refetchEvents');
    source[0] = newSource[0];
    source[1] = newSource[1];
}
function LightenDarkenColor(col, amt) {
  
    var usePound = false;
  
    if (col[0] == "#") {
        col = col.slice(1);
        usePound = true;
    }
 
    var num = parseInt(col,16);
 
    var r = (num >> 16) + amt;
 
    if (r > 255) r = 255;
    else if  (r < 0) r = 0;
 
    var b = ((num >> 8) & 0x00FF) + amt;
 
    if (b > 255) b = 255;
    else if  (b < 0) b = 0;
 
    var g = (num & 0x0000FF) + amt;
 
    if (g > 255) g = 255;
    else if (g < 0) g = 0;
 
    return (usePound?"#":"") + (g | (b << 8) | (r << 16)).toString(16);
  
}
});
</script>
{% endblock %}

{% block content_header '' %}


{% block title %}
      {#  <span class="icon-stack">
            <i class="icon-check-empty icon-stack-base"></i>
            <i class="icon-calendar"></i>
        </span>    Opérations: Calendrier #}
      
{% endblock %}
        
{% if is_granted("IS_AUTHENTICATED_FULLY") %}
   {% set editstatus = true %}
{% else %}
{% set editstatus = false %}
    {% endif %}  
{% block content %}

   
                   

<!----------Form Edit Event ----------------->
<div id="createEventModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="titreheader"></h3>
    </div>
    <div class="modal-body">
    <form id="eventForm" class="form-horizontal">
       <div class="control-group">    
             <label class="control-label" for="inputTitle">Titre:</label>
            <div class="controls">
                 <input type="text" name="title" id="titleName" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="">
            </div>
        </div>
     {#   <div class="control-group">    
             <label class="control-label" for="color1">Couleur:</label>
           <div class="controls">
            <input id="color1" name="color1" type="text" id="color1"/></div>
        </div>#}
             <div class="control-group">    
             <label class="control-label" for="color">Couleur:</label>
           <div class="controls">
            <input id="color" name="color" type="text" id="color"/></div>
        </div>
         
         <div class="control-group">
            <label class="control-label" for="inputDescription">Description:</label>
            <div class="controls">
             <textarea name="description" id="descriptionName" style="height:200px;margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="">
            </textarea></div>
        </div>
        <div class="control-group">
            <label class="control-label" for="when">Date:</label>
            <div class="controls controls-row" id="when" style="margin-top:5px;">
            </div>
        </div>
            <input type="hidden" id="apptStartTime"/>
              <input type="hidden" id="apptEndTime"/>
              <input type="hidden" id="apptAllDay" />
                <input type="hidden" id="apptId" />
    </form>
    </div>
    <div class="modal-footer">
        <button class="btn" id="cancel-button" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
    </div>
</div>
<!----------Form Edit Event ----------------->

<div id='wrap'>
<div id='external-events'>
    <div class="input-prepend date-chooser">
    <span class="add-on" id="dateaddon"><i class="icon-time"></i></span>
    <input type="text" id="datepicker" /></div>
<h4> <i class="icon-wrench"></i> Catégories:</h4>

 {% for entity in evenements %}
<div class='external-event' style="background-color:{{ entity.cssClass }}">{{ entity.nom }}
<input type="checkbox" class="external-checkbox" name="external-checkbox" id="{{ entity.id }}" checked>
</div>
{% endfor %}
<br/><br/>
<div id='external-conges class0'>Congés
<input type="checkbox" class="external-checkbox" name="external-conges" checked>

</div>


{#  
<p>
<input type='checkbox' id='drop-remove' /> <label for='drop-remove'>remove after drop</label>
</p>
#}
<br/>
<a href="{{ path('calendarcategories') }}" class="myleft btn btn-small btn-primary">Gestion Categories</a>
<br/><br/>
<a href="{{ path('calendarroot') }}" class="myleft btn btn-small btn-primary">Gestion Calendriers</a>


</div>
 {#
   <form name="display">
        <input type="checkbox" name="cal_type" id="events" checked>Events</p>
        <input type="checkbox" name="cal_type" id="rto" checked>Vacations and time-off</p>
        <input type="checkbox" name="cal_type" id="goals" checked>Goals</p>
    </form>
#}
<div id="calendar-holder"></div>

<div style='clear:both'></div>
</div>
{% endblock %}
 {% block footer %}  {% endblock %}