{% extends "::layout.html.twig" %}
  {# <script>var menuDownUrl = "{{ asset('bundles/applicationcertificats/images/') }}";</script>#}
  {% block stylesheets %}

{{ parent() }}
<link rel="stylesheet" href="{{ asset('select2/select2.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.pnotify.default.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/colorbox.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/indexfanta.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('css/jquery_flicker/jquery-ui-1.9.2.custom.css') }}" />    
<link rel="stylesheet" href="{{ asset('fullcalendar/fullcalendar.css') }}" />
<link rel="stylesheet" href="{{ asset('fullcalendar/view_calendar.css') }}" />
<link rel="stylesheet" href="{{ asset('jquery/simplecolorpicker/colorPicker.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('jquery/jqtip2/jquery.qtip.min.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bundles/applicationcalendar/css/calendar.css') }}" type="text/css" media="all"/>
<style>

    @media screen and (min-width: 1600px) {
        .container {
            max-width: (1600px - @grid-gutter-width);
        }
        .span11 {width:1400px;}
    }
    @media screen and (min-width: 1900px) {
        .container {
            max-width: (1900px - @grid-gutter-width);
        }
        .span11 {width:1600px;}
    }


</style>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript" src="{{ asset('select2/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('select2/select2_locale_fr.js') }}"></script>
<script type="text/javascript" src="{{ asset('fullcalendar/fullcalendar.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/applicationchangements/js/jquery.colorbox.js') }}"></script>
  {# <script type="text/javascript" src="{{ asset('bootstrap/js/jquery.pnotify.min.js') }}"></script>#}
<script type="text/javascript" src="{{ asset('jquery/jquery.xcolor.js') }}"></script>  
<script type="text/javascript" src="{{ asset('jquery/simplecolorpicker/jquery.colorPicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/jqtip2/jquery.qtip.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/jquerysimplecolor/jquery.simple-color.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/applicationcalendar/js/calendar.js') }}"></script>
    {#    <script type="text/javascript" src="{{ asset('jquery/tinycolor.js') }}"></script>#}

{% endblock %}

{% block content_header '' %}


{% block title %}
      {#  <span class="icon-stack">
            <i class="icon-check-empty icon-stack-base"></i>
            <i class="icon-calendar"></i>
        </span>    Opérations: Calendrier #}

{% endblock %}

{% if is_granted("IS_AUTHENTICATED_FULLY") %}
   {% set editstatus = true %}
{% else %}
{% set editstatus = false %}
    {% endif %} 


{% set plage=rootcal.plage %}
{% set starthour=rootcal.startHour %}
{% set endhour=rootcal.endHour %}



{% block content %}



<!----------Form Edit Event ----------------->
<div id="createEventModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="titreheader"></h3>
    </div>
    <div class="modal-body">
        <form id="eventForm" class="form-horizontal">
            <div class="control-group">    
                <label class="control-label" for="inputTitle">Titre:</label>
                <div class="controls">
                    <input type="text" name="title" id="titleName" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="">
                </div>
            </div>
     {#   <div class="control-group">    
             <label class="control-label" for="color1">Couleur:</label>
           <div class="controls">
            <input id="color1" name="color1" type="text" id="color1"/></div>
        </div>#}
                 
                  <div class="control-group  colorg">    
                <label class="control-label" for="color">Background Couleur:</label>
                <div class="controls">
                    <input id="color" name="color" type="text"/></div>
            </div>
                  <div class="control-group  colorfont">    
                <label class="control-label" for="color">Font Couleur:</label>
                <div class="controls">
                    <input id="colory" name="color" type="text"/></div>
            </div>
                
                {#
            <div class="control-group  colorbg">    
                <label class="control-label" for="color">Background Couleur:</label>
                <div class="controls">
                    <input id="color" name="color" type="text"/></div>
            </div>

                    <div class="control-group colorfont">    
                <label class="control-label" for="colorfont">Font Couleur:</label>
                <div class="controls">
                    <input id="colorfont" name="colorfont" type="text"/></div>
            </div>#}
            <div class="control-group">
                <label class="control-label" for="inputDescription">Description:</label>
                <div class="controls">
                    <textarea name="description" id="descriptionName" style="height:200px;margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="">
                    </textarea></div>
            </div>
            <div class="control-group">
                <label class="control-label" for="when">Date:</label>
                <div class="controls controls-row" id="when" style="margin-top:5px;">
                </div>
            </div>
            <input type="hidden" id="apptStartTime"/>
            <input type="hidden" id="apptEndTime"/>
            <input type="hidden" id="apptAllDay" />
            <input type="hidden" id="apptId" />
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" id="cancel-button" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
    </div>
</div>
<!----------Form Edit Event ----------------->

<div class="row">
    <div class="span1">
        <div class="row">
            <div class="span1">
                <span class="label label-info">{{ rootcal.nom }}</span></div>
            <div class="span1">   <hr>Choix date:</div>
            <div class="span1">  <div class="input-prepend date-chooser">
                    <span class="add-on" id="dateaddon"><i class="icon-time"></i></span>
                    <input type="text" id="datepicker" /></div>
                <hr>
            </div>
            <div class="span4">
                <h6> <i class="icon-wrench"></i> Catégories:</h6>
            </div>
        </div>
        <div class="row" id="external-events">
            <div class="span1">
                {% set xx=[] %}
      {% for key,entity in evenements %}
                <div class="external-event" style="background-color:{{ entity.cssClass }}">{{ entity.nom }}
                    <input type="checkbox" class="external-checkbox" name="external-checkbox" id="{{ entity.id }}" checked>
                </div>
              {#  {{ xx[key]=entity.cssClass }}#}
        {% endfor %}
            </div>  
        </div>
      {#  <div class="row">
            <div id="external-conges" class="span1">Congés
                <input type="checkbox" class="external-checkbox" name="external-conges" checked>
            </div>
        </div>
        #}
{% if is_granted("IS_AUTHENTICATED_FULLY") %}
        <div class="row">
            <div class="span2">
                <br/>
                <a href="{{ path('calendarcategories') }}" class="myleft btn btn-small btn-primary">Gestion Categories</a>
                <br/><br/>
                <a href="{{ path('calendarroot') }}" class="myleft btn btn-small btn-primary">Gestion Calendriers</a>
            </div>
        </div>
{% endif %}
{#  
<p>
<input type='checkbox' id='drop-remove' /> <label for='drop-remove'>remove after drop</label>
</p>
#}

 {#
   <form name="display">
        <input type="checkbox" name="cal_type" id="events" checked>Events</p>
        <input type="checkbox" name="cal_type" id="rto" checked>Vacations and time-off</p>
        <input type="checkbox" name="cal_type" id="goals" checked>Goals</p>
    </form>
#}
    </div>
    <div id="calendar-holder" class="span11"></div>

    <div style='clear:both'></div>
</div>
{% endblock %}
 {% block footer %}  {% endblock %}