{% extends "::layout.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('select2/select2.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.pnotify.default.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/applicationcalendar/css/colorbox.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bundles/applicationcalendar/css/indexfanta.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('css/jquery_flicker/jquery-ui-1.9.2.custom.css') }}" />    
<link rel="stylesheet" href="{{ asset('jquery/simplecolorpicker/colorPicker.css') }}" type="text/css" media="all"/>
<style>
    table {margin:auto;}
    th {
        font-style: italic;    
        font-weight: bold;
        background-color: #DEDEDE;
        color:blue;
        width:auto;
        border-width: 5px;border-color:black;
    }


    .table th {
        font-weight: bold;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        border-top: 1px solid #C9C6C6;
        /* padding-bottom: 12px; */
    }

</style>
{% endblock %}

{% block javascripts %}{{ parent() }}{% endblock %}
{% block content_header '' %}
{% block title %}{% endblock %}

{% block content %}

<h1><center> <i class="icon-wrench"> </i> Calendrier Activité: {{ entity.title }} ({{ entity.id }})</center></h1>
<br>
<table class="table table-bordered">
    <tbody>
        <tr><th>Id</th><td>{{ entity.id }}</td></tr>
         <tr><th><i class="icon-calendar icon-2x"></i> Calendrier</th><td>{{ entity.calendarid.nom }}</td></tr>
        <tr><th><i class="icon-pencil icon-2x"></i> Titre</th><td>{{ entity.title }}</td></tr>
        <tr><th><i class="icon-pencil icon-2x"></i> Description</th><td>{{ entity.description }}</td></tr>
        <tr><th><i class="icon-user icon-2x"></i> User</th><td>{{ entity.user }}</td></tr>
        <tr><th> <i class="icon-time icon-2x"></i> Date Début</th><td>{{ entity.startDatetime|date('Y-m-d H:i:s') }}</td></tr>
        <tr><th> <i class="icon-time icon-2x"></i> Date Fin</th><td>{{ entity.endDatetime|date('Y-m-d H:i:s') }}</td> </tr>
        <tr><th> <i class="icon-time icon-2x"></i> Date Ajout</th><td>{{ entity.addedDate|date('Y-m-d H:i:s') }}</td></tr>
        <tr><th> <i class="icon-time icon-2x"></i> Date update</th><td>{{ entity.updatedDate|date('Y-m-d H:i:s') }}</td></tr>
        <tr><th><i class="icon-pencil icon-2x"></i> Url</th><td>{{ entity.url }}</td></tr>
        <tr><th><i class="icon-pencil icon-2x"></i> Cssclass</th><td>{{ entity.cssClass }}</td></tr>
        <tr><th><i class="icon-pencil icon-2x"></i> FGColor</th><td>{{ entity.fgColor }}</td></tr>
        <tr><th><i class="icon-pencil icon-2x"></i> BGcolor</th><td>{{ entity.bgColor }}</td></tr>
    </tbody>
</table>

<a href="{{ path('calendar_indexadesign_apydatagrid') }}" class="btn btn-medium btn-success">
    <i class="icon-left-arrow"></i>   Retour DataGrid
</a>

<a href="{{ path('calendar_adesignajax_edit', { 'id': entity.id }) }}" class="btn btn-medium btn-warning">
    <i class="icon-pencil"></i>   Edit
</a>


{% endblock %}
