{% extends "ApplicationRelationsBundle::layout.html.twig" %}
{% block stylesheets %}
{{ parent() }} 
<link rel="stylesheet" href="{{ asset('css/sliding.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('css/certifcatssearch.css') }}" type="text/css" media="all"/>
<style>
        
        tr.single {
         background-color: #f1f1f1;
        }

    </style> 
{% endblock %}

{% block content_header '' %}
{% block title %}AJOUTER ENVIRONNEMENT{% endblock %}
{% block content %}


<form action="{{ path('environnement_create') }}" method="post" {{ form_enctype(form) }}>
   <table class="table-mybordered">

          <tr>
              <td class="calendar">   {{ form_rest(form) }}
         </td></tr><tr>
              <td class="calendar">
                  
            <button type="submit" class="btn btn-small btn-warning">Ajouter</button>
            <a href="{{ path('environnement') }}" class="btn btn-small btn-success">Retour</a>
                 
        </td></tr>
                    </table>
   
</form>


{% endblock %}