{% extends "ApplicationCertificatsBundle::layout.html.twig" %}


{% block javascripts %}
{{ parent() }}
   <!--<script type="text/javascript" src="{{ asset('bundles/applicationcertificats/js/selectapplis.js') }}"></script>
    -->
<script type="text/javascript">
          
$(document).ready(function() {
//$(function() {
  $( "#moncert_endTime" ).datepicker({
maxDate: "+3M +10D",
changeMonth: true,
changeYear: true,
numberOfMonths: 1,
dateFormat: "yy-mm-dd",
onClose: function( selectedDate ) {
$( "#form_bis" ).datepicker( "option", "minDate", selectedDate );
}
});
    $( "#moncert_addedDate" ).datepicker({
maxDate: "+3M +10D",
changeMonth: true,
changeYear: true,
numberOfMonths: 1,
dateFormat: "yy-mm-dd",
onClose: function( selectedDate ) {
$( "#form_bis" ).datepicker( "option", "minDate", selectedDate );
}
});
  $( "#moncert_startDate" ).datepicker({
maxDate: "+3M +10D",
changeMonth: true,
changeYear: true,
numberOfMonths: 1,
dateFormat: "yy-mm-dd",
onClose: function( selectedDate ) {
$( "#form_bis" ).datepicker( "option", "minDate", selectedDate );
}
});


function remplirSelect (dataAjax) {
   $.ajax({
        url: '{{ path('certificatscenter_listbyprojet')}}', 
        type: "POST", 
        data : dataAjax, 
        dataType: "json", 
        success: function(reponse){
            // Sur Succès de la réponse AJAX
            var optionData = reponse;
                
            // Suppression des éléments de mes listes déroulantes
          /*  var myarr=[2,3];*/
            var values = {
  selected: [],
  unselected:[]
};

$("#moncert_idapplis > option").each(function(){
  values[this.selected ? 'selected' : 'unselected'].push(this.value);
});

     //  console.log("test=" + values['selected']);
     //   console.log("test1=" + values['unselected']);
   
var cer_arr=[];
for (key in optionData['cert']) {
    cer_arr.push(optionData['cert'][key]);
        }    
$("#moncert_idapplis> option").remove();
            i = 0;  
             var selected_appli='';
              console.log("arr cert:" + cer_arr);
             for (key in optionData['applis']) {
             if(jQuery.inArray(+ key,cer_arr) != -1){
     // the element is  in the array
     //console.log("key in array: key=" + key);
       selected_appli='selected="selected"'; 
}
/*else {
    console.log("key not in array: key=" + key);
};*/
                // on remplit les applis en f() de projet
                $("#moncert_idapplis").append(  '<option label="' 
                    + optionData['applis'][key]
                    + '"' + 'value="' + key  + '"' + selected_appli + '>'
                    + optionData['applis'][key]
                    + '</option>');
                i++;
                selected_appli='';
            }
    } //Eof:: success
});  //Eof:: ajax 
 
} //Eof:: fucntion remplirSelect
 
//Sur fin du chargement du document
// on charge la bonne liste
//Vid_cert = $("input#moncert_id").val();
Vid_projet = $("select#moncert_project").val();
Vid_cert = $("form").attr('action');
var parts = Vid_cert.split('/');
  console.log("form=" + parts[2]);
var dataAjax = {
    id_projet:Vid_projet,
     id_cert: parts[2]
};
remplirSelect (dataAjax);
      
          
// Sur changement de l'un des 'select'
// on recharge la bonne liste
$("select#moncert_project").change(function(){
//Vid_cert = $("input#moncert_id").val();
    Vid_projet = $("select#moncert_project").val();
    Vid_cert = $("form").attr('action');
var parts = Vid_cert.split('/');
  console.log("form=" + parts[2]);

    var dataAjax = {
        id_projet:Vid_projet,
        id_cert: parts[2]
    };
            
    remplirSelect (dataAjax);
 
}); //Eof:: sur changement de l'un des 'select'

 

}); //Eof:: ready
    </script>

{% endblock %}


{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationcertificats/css/sliding.css') }}" type="text/css" media="all"/>
<style>
        
        tr.single {
         background-color: #f1f1f1;
        }

    </style> 
{% endblock %}

{% block content_header '' %}
{% block title %}
 {{ parent() }} EDITION
{% endblock %}

{% block content %}

 <br><br>

    <form action="{{ path('certificatscenter_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <table class="table table-bordered">
            <tbody>
                <tr class="single"><td>
                        <div>
    {{ form_errors(edit_form.fileName) }}
    {{ form_label(edit_form.fileName, 'Nom du Fichier'|trans) }}
    {{ form_widget(edit_form.fileName) }}
                            </div>
                            <div>
    {{ form_errors(edit_form.cnName) }}
    {{ form_label(edit_form.cnName, 'CN du certificat'|trans) }}
    {{ form_widget(edit_form.cnName) }}
                                </div>
    {{ form_errors(edit_form.serviceName) }}
    {{ form_label(edit_form.serviceName, 'Service'|trans) }}
    {{ form_widget(edit_form.serviceName) }}
              {{ form_errors(edit_form.serverName) }}
    {{ form_label(edit_form.serverName, 'Serveur'|trans) }}
    {{ form_widget(edit_form.serverName) }}


             {{ form_errors(edit_form.port) }}
    {{ form_label(edit_form.port, 'Port'|trans) }}
    {{ form_widget(edit_form.port) }}

    {{ form_errors(edit_form.way) }}
    {{ form_label(edit_form.way, 'Way'|trans) }}
    {{ form_widget(edit_form.way) }}

  {{ form_errors(edit_form.statusFile) }}
    {{ form_widget(edit_form.statusFile) }}


                                </div>
                            </td>
                            <td>
                                <div>
 {{ form_rest(edit_form) }}
                                    </div>
                                </td>
                            </tr>
                            <tr class="single"><td colspan="2">
                                    <p>
                                        <button type="submit" class="btn btn-small btn-warning">Modifier</button>
                                        <a href="{{ path(btnretour) }}" class="btn btn-small btn-success">Retour</a>
                                    </p>
                                </td></tr>
                        </tbody>
                    </table>
 {#{ form_widget(edit_form) }#}

                </form>



{% endblock %}
