{% extends "ApplicationCertificatsBundle::layout.html.twig" %}
{#
{% use "ApplicationCertificatsBundle:Form:form_div_layout.html.twig" %}
#}
{% block javascripts %}
    {{ parent() }}
    {% javascripts 
    '@ApplicationCertificatsBundle/Resources/public/js/jquery.cookie.js'
    '@ApplicationCertificatsBundle/Resources/public/js/certificatsfilters.js'
     output='js/compiled/ccertifictas.js' filter='?yui_js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript" src="{{ asset('bundles/applicationcertificats/js/jquery.colorbox.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/applicationcertificats/js/editme.js') }}"></script>

{#=========================
Uniquement les administrateursandbox
============================#}

  {% if is_granted("ROLE_ADMIN") %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script>var menuDownUrl = "{{ asset('bundles/applicationcertificats/images/') }}";</script>
<script type="text/javascript" src="{{ asset('bundles/applicationcertificats/js/certificatsicons.js') }}"></script>
{% endif %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 
                '@ApplicationCertificatsBundle/Resources/public/css/sliding.css' 
                '@ApplicationCertificatsBundle/Resources/public/css/certifcatssearch.css' 
                output='css/compiled/mycertificats.css' filter='cssrewrite,?yui_css' debug=false %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/applicationcertificats/css/colorbox.css') }}" type="text/css" media="all"/>

<style>
        td {
    font-size: 12px;
  
}
    .input-append, .input-prepend {
  
    font-size: 11px;
    white-space: nowrap;
  padding-left:3px;
    float:left;
   /* height: 50px;*/
}

.table {
    font-size: 11px;
    border-collapse: separate;
  /*  font-family: 'Times New Roman',Times,serif;*/
}

tr.title th {
   
    line-height: 30px;
  
}

tr.danger {background:red;}

select {
width:180px;}
select.pattern-selector {
width:150px;
}

    </style>
{% endblock %}

{% block content_header '' %}
{% block title %}
LISTE DES {{ parent() }}  ({{ total }})
{% endblock %}
{% block content %}

{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
{% endfor %}

  

 <div id="ShowHideContainer">
  
<form id="target" class="form-horizontal" action="{{ path('certificatscenter') }}" method="POST" {{ form_enctype(search_form) }}>
    <a id="ShowHideButton">
        <button id="show" type="submit" name="submit-filter" class="btn btn-medium btn-warning" value="show" >
            <i class="icon-search"></i>  Afficher Filtres</button>
    </a>
    <button type="submit" id="reset" name="submit-filter" class="btn btn-medium btn-warning" value="reset" >
        <i class="icon-minus-sign"></i> Effacer Filtres</button>
        {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('certificatscenter_new') }}" class="ajoutchange btn btn-medium btn-primary">
                <i class="icon-plus"></i> Ajouter Certificat
            </a>
{% endif %}
    </form>

<div id="ShowHideBox" class="hidden">
          {% include 'ApplicationCertificatsBundle:CertificatsCenter:indexsearch_form.html.twig' %}
        </div>
</div>


      
{% include 'ApplicationCertificatsBundle:CertificatsCenter:tp_table.html.twig' %}
                   
              
   {{ knp_pagination_render(pagination, 'ApplicationCertificatsBundle:pagination:twitter_bootstrap_pagination.html.twig') }}

 
 
{% endblock %}


