{% extends "ApplicationCertificatsBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}" type="text/css" media="all" />
  <link rel="stylesheet" href="{{ asset('bundles/applicationcertificats/css/certifcatssearch.css') }}" type="text/css" media="all"/>
  <style>
  table.view {min:700px;}
        div.txtfirst{ width:400px;padding-left:4px;margin-left:2px;
                 float:left;
        }
    div.txtsecond{ position:relative;float:left;margin-left:20px;padding-left:20px;}</style>
{% endblock %}

{% block title %}
        <span class="icon-stack">
            <i class="icon-check-empty icon-stack-base"></i>
            <i class="icon-table"></i>
        </span>    Certificat Détails
{% endblock %}
{% block content_header '' %}


{% block content %}
{% include 'ApplicationCertificatsBundle:templates:flash.html.twig' %}

{% if is_granted("ROLE_ADMIN") %}           
    <a href="{{ path('certificatscenter_edit', { 'id': entity.id }) }}" class="btn btn-large btn-warning">Editer</a>
{% endif %}
    <a href="{{ path(btnretour) }}" class="btn btn-large btn-success">Retour</a>

<br> <br> 
<div class="row">
    <div class="span4">
<table class="view table-bordered">
 <thead><tr class="title"><th>Paramètres</th><th>Valeurs</th></tr></thead>
<tbody>
       
<tr><td class="viewlabel">Id</td><td>{{ entity.id }}</td></tr>
<tr><td class="viewlabel">Nom</td><td>{{ entity.fileName }}</td></tr>
<tr><td class="viewlabel">Environnement</td><td>{% if entity.idEnvironnement %}{{ entity.idEnvironnement.nom }}{% endif %}</td></tr>
<tr><td class="viewlabel">Project</td><td>{{ entity.project.nomprojet }}</td></tr>
<tr><td class="viewlabel">Type</td><td>{{ entity.typeCert.FileType }}</td></tr>
<tr><td class="viewlabel">Cnname</td><td>{{ entity.cnName }}</td></tr>
<tr><td class="viewlabel">Startdate</td><td>{{ entity.startDate|date('Y-m-d') }}</td></tr>
<tr class="error"><td class="viewlabel">Endtime</td><td>{{ entity.endTime|date('Y-m-d') }}</td></tr>
<tr><td class="viewlabel">Date d'Ajout</td><td>{{ entity.addedDate|date('Y-m-d H:i:s') }}</td></tr>
<tr><td class="viewlabel">Date de modification</td><td>{{ entity.updatedDate|date('Y-m-d H:i:s') }}</td></tr>
<tr><td class="viewlabel">Servername</td><td>{{ entity.serverName }}</td></tr>
<tr><td class="viewlabel">Port</td><td>{{ entity.port }}</td></tr>
<tr><td class="viewlabel">Service(s)</td><td>{{ entity.serviceName }}</td></tr>
<tr><td class="viewlabel">Way</td><td>{{ entity.way }}</td></tr>
<tr><td class="viewlabel">Status Fichier</td><td>{{ entity.statusFile }}</td></tr>
<tr><td class="viewlabel">description</td><td>{{ entity.description|raw }}</td></tr>

<tr><td class="viewlabel">Applications</td><td>{% for appli in applis %} {{ appli.nomapplis }}{% endfor %}</td></tr>
{% if  entity.fichier and is_granted("ROLE_ADMIN")%}
    <tr><td class="viewlabel">Fichier Nom</td><td>{{ entity.fichier.OriginalFilename }}</td></tr>     
    <tr><td class="viewlabel">Fichier Id</td><td>{% if entity.fichier.id %}{{ entity.fichier.id }}{% endif %}</td></tr>
    <tr><td class="viewlabel">Fichier Lien</td>
        <td>
           {% if entity.fichier.id and entity.fichier.path %}
            <a class="fichier" href="{{ path('certificatscenter_download', { 'id': entity.fichier.id }) }}">{{ entity.fichier.OriginalFilename }}</a>
            {% endif %}
       </td>
    </tr>     
    <tr><td class="viewlabel">Fichier md5</td><td>{{ entity.fichier.md5 }}</td></tr> 
{% endif %}
    
</tbody>
</table>
</div>
 <div class="span8" style="font-size:8px;">
{% if cmd_x509 is not null %}
   <pre>{{ cmd_x509|raw }}</pre>
{% endif %}
</div>
        </div>
        
        <div style="clear:both;"></div>
     
  
{% endblock %}