{% extends "ApplicationCertificatsBundle::layout.html.twig" %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript" src="{{ asset('bundles/applicationcertificats/js/datenew.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/fileupload/jquery.iframe-transport.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/jquery.ui.widget.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/fileupload/jquery.fileupload.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/applicationcertificats/js/jquery.colorbox.js') }}"></script>
<script>
    
    $(document).ready(function() {
    $("a.editme").colorbox({
            iframe:true,
            /*   data:{idchgmt:$(this).attr("data-idchgmt")},   */ 
                  transition:	"elastic",
            width:"70%",
            height:"70%",
              fastIframe:false,
            opacity:0.3
        
        });
        
        
        });
$(document).bind('dragover', function (e) {
    var dropZone = $('#dropzone'),
        timeout = window.dropZoneTimeout;
    if (!timeout) {
        dropZone.addClass('in');
    } else {
        clearTimeout(timeout);
    }
    var found = false,
      	node = e.target;
    do {
        if (node === dropZone[0]) {
       		found = true;
       		break;
       	}
       	node = node.parentNode;
    } while (node != null);
    if (found) {
        dropZone.addClass('hover');
    } else {
        dropZone.removeClass('hover');
    }
    window.dropZoneTimeout = setTimeout(function () {
        window.dropZoneTimeout = null;
        dropZone.removeClass('in hover');
    }, 100);
});
 function remplirSelect (data) {
   var optionData = data;
          /*  optionData['fields']*/
             $("input#filelink").val(optionData['fields']['id']);
             
            if(typeof optionData['fields']['name'] !== 'undefined') {
                  console.log("replace field with " + optionData['fields']['name']);
                $("input#moncert_fileName").addClass('leserreurs').css({'background-color' : '#FFFFEEE'}).val(optionData['fields']['name']);
                 
                 $("div#files").addClass('leserreurs');
                $("div#files").html(optionData['fields']['name']);
                
            }
            if(typeof optionData['fields']['from'] !== 'undefined') {
                 console.log("replace field with " + optionData['fields']['from']);
                 $("INPUT#moncert_startDate").css({'background-color' : '#FFFFEEE'});
                 $("INPUT#moncert_startDate").val(optionData['fields']['from']);
              
            }
            if(typeof optionData['fields']['to'] !== 'undefined') {
                 console.log("replace field with " + optionData['fields']['to']);
                  $("INPUT#moncert_endTime").css({'background-color' : '#FFFFEEE'});
                $("INPUT#moncert_endTime").val(optionData['fields']['to']);
                 }
            if(typeof optionData['fields']['cn'] !== 'undefined') {
                 console.log("replace field with " + optionData['fields']['cn']);
                  $("INPUT#moncert_cnName").css({'background-color' : '#FFFFEEE'});
                $("INPUT#moncert_cnName").val(optionData['fields']['cn']);
            }
 
} //Eof:: fucntion remplirSelect

    $(function () {
 $('#fileupload').fileupload({
       dropZone: $('#dropzone'),
    dataType: 'json',
    url: Routing.generate('certificats_fileupload'),
    maxFileSize: 100000, // 100 kB
     progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#progress .bar').css(
            'width',
            progress + '%'
        );
    },
    success: function(reponse){
            // Sur Succès de la réponse AJAX
            var optionData = reponse;
            remplirSelect(reponse);
        },
       /* done: function (e, data) {
             var optionData = data;
              var cer_arr=[];
            for (key in optionData['chgmnt']) {
           
               console.log("key=" + key + " in array: val=" + optionData['chgmnt'][key]);
            }
     
     
      console.log("check reponse=" + data);
         
        },*/
               /* always: function (e, data) {
     //  console.log(data);
    }*/
    });
    $('#verifierfields').click(function(){ 
             var id = $(this).attr("data-id");
      
      var dataAjax = {id: id};
   $.ajax({
            url: Routing.generate('certificats_xhtml_selectfile'),
            type: "POST",
            data: dataAjax,
             async: false,
            dataType: "json",
            /* ie8 ??*/
            /*cache: false,*/
            /*contentType: 'application/json',*/
            success: function(reponse) {
                remplirSelect(reponse);
               },
            error: function(e) {
                console.log(e.message);
            }
        });  //Eof:: ajax 
   });
});


</script>
{% endblock %}


{% block stylesheets %}
{{ parent() }} 
<link rel="stylesheet" href="{{ asset('bundles/applicationcertificats/css/sliding.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bundles/applicationcertificats/css/certifcatssearch.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.fileupload-ui.css') }}" type="text/css" media="all"/>  
<link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/colorbox.css') }}" type="text/css" media="all"/>  
<style>
    select[multiple], select[size] {height: 250px;}
    textarea {width:400px;height:200px;}
    tr.single {background-color: #f1f1f1;}
    div.fichier{
        padding:5px;background-color:whitesmoke;color:#0033cc;}
.bar {
    height: 18px;
    background: green;
}
div#current_file { float:right;}
div#current_file div#files { float:left;}
 .leserreurs {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size:12px;
            color:red;
        }
        
        #dropzone {
    background: palegreen;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
#dropzone.in {
    width: 300px;
    height: 200px;
    line-height: 100px;
    font-size: larger;
}
#dropzone.hover {
    background: lawngreen;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}
    </style> 
{% endblock %}


{% block content_header '' %}
    
{% block title %}{{ titre }}  CERTIFICAT {% endblock %}

{% block content %}

     
{% if action == 'edit' %}
    <div id="divcert" style="display: none;">{{ entity.id }}</div>
    <form  id="fileupload" action="{{ path(path_form, { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
    <input type="hidden"  name="id-entity"  value="{{ entity.id }}">
{% else %}
    <div id="divcert" style="display: none;"></div>
    <form  id="fileupload" action="{{ path(path_form)}}" method="post" {{ form_enctype(form) }}>
    <input type="hidden"  name="id-entity"  value="0">
{% endif %}

    <br><br>
         <table class="table-mybordered">
            <tr>
                <td class="calendar">
                <div>
                    {{ form_errors(form.fileName) }}
                    {{ form_label(form.fileName, 'Nom du Fichier'|trans) }}
                    {{ form_widget(form.fileName) }}
                </div>
                <div>
                    {{ form_errors(form.cnName) }}
                    {{ form_label(form.cnName, 'CN du certificat'|trans) }}
                    {{ form_widget(form.cnName) }}
                </div>
                <div>
                    {{ form_errors(form.startDate) }}
                    {{ form_label(form.startDate, 'Date Début'|trans) }}
                    {{ form_widget(form.startDate) }}
                </div>
                <div>
                    {{ form_errors(form.endTime) }}
                    {{ form_label(form.endTime, 'Date Fin'|trans) }}
                    {{ form_widget(form.endTime) }}
                </div>
                </td>
                
               <td class="calendar">
                    <div class="fichier">
                    <span class="btn btn-primary fileinput-button">
                        <span>Ajouter un fichier</span>
                        <input id="file" type="file" name="fichier_certificat[file]" multiple=false>
                    </span>                         
                    <input id="filelink" type="hidden"  name="myfile" value="0">
    
          <div id="current_file">
            {% if fichier  %}   
            <a id="verifierfields" data-id="{{ fichier.id}}" href="#" class="btn btn-medium btn-primary">Vérifier Fields</a>
             {% endif %}
            <!-- The container for the uploaded files -->
                <div id="files" class="files">
            {% if fichier  %}   
                    <strong>  {{ fichier.OriginalFilename }}
                <br>
                   {{ fichier.updatedAt|date('Y-m-d H:i:s') }}
                </strong>
         {% else %}
           
        (Pas de fichier actuellement)
        </div>
        {% endif %}
        </div>                                                   

     <div id="dropzone" class="fade well">Drop files here</div>
    {% do form.fichier.setRendered() %}
</div>
            {% if action == 'edit' %}       
                   <a class="editme" href="{{ path('certificats_documents_xhtml', { 'id': entity.id }) }}">
            {% else %}
                   <a class="editme" href="{{ path('certificats_documents_xhtml', { 'id': 0 }) }}">
            {% endif %}
                       <span class="icon-stack icon-2x">
            <i class="icon-check-empty icon-stack-base"></i>
            <i class="icon-archive"></i>
        </span>   
        </a>
                   Sélectionner Fichier Existant
                   
                   
<div id="progress">
    <div class="bar" style="width: 0%;"></div>
</div>
                   
</td>            
                  
</tr>
                            
<tr>
<td class="calendar">                   
                      
    {{ form_errors(form.serviceName) }}
    {{ form_label(form.serviceName, 'Service'|trans) }}
    {{ form_widget(form.serviceName) }}
              {{ form_errors(form.serverName) }}
    {{ form_label(form.serverName, 'Serveur'|trans) }}
    {{ form_widget(form.serverName) }}


             {{ form_errors(form.port) }}
    {{ form_label(form.port, 'Port'|trans) }}
    {{ form_widget(form.port) }}

    {{ form_errors(form.way) }}
    {{ form_label(form.way, 'Way'|trans) }}
    {{ form_widget(form.way) }}
<br>
  {{ form_errors(form.statusFile) }}
    {{ form_widget(form.statusFile) }}
<br>
 {{ form_errors(form.warningFile) }}
   {{ form_label(form.warningFile, 'Activer le Warning') }}
    {{ form_widget(form.warningFile) }}
{{ form_errors(form.description) }}
   {{ form_label(form.description, 'Description') }}
    {{ form_widget(form.description) }} 
   </td><td class="calendar">
 
<div>{{ form_rest(form) }}</div></td>
</tr>

<tr>

    <td class="calendar" colspan="2">
    <p>
        <button type="submit" class="btn btn-medium btn-warning">{{ titre_valider }}</button>
        <a href="{{ path(btnretour) }}" class="btn btn-medium btn-success">Retour</a>
    </p>
</td></tr>
</table>
</form>
        
        
               
                          {#      <form id="fileupload" enctype="multipart/form-data">
                                       <input type="hidden"  name="myfile"  value="1">
    <div class="row">
        <div class="span16 fileupload-buttonbar">
            <div class="progressbar fileupload-progressbar"><div style="width:0%;"></div></div>
            <span class="btn btn-success fileinput-button">
                <span>Add file...</span>
                <input id="file" type="file" name="files" multiple=false>
            </span>
            <!-- Extra file input start /-->
          
            <!--/ Extra file input stop -->
            <button type="submit" class="btn btn-primary start">Start upload</button>
            <button type="reset" class="btn btn-info cancel">Cancel upload</button>
            <button type="button" class="btn btn-danger delete">Delete selected</button>
            <input type="checkbox" class="toggle">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="span16">
            <table class="zebra-striped"><tbody class="files"></tbody></table>
        </div>
    </div>
</form>
#}
{% endblock %}