{% extends "ApplicationCertificatsBundle::layout.html.twig" %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript" src="{{ asset('bundles/applicationcertificats/js/datenew.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/fileupload/jquery.iframe-transport.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/jquery.ui.widget.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/fileupload/jquery.fileupload.js') }}"></script>
<script>

    $(function () {
        
         $('#moncert_fichier_file').fileupload({
        dataType: 'json',
         url: Routing.generate('certificatscenter_listbyprojet'),
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('<p/>').text(file.name).appendTo(document.body);
            });
        },
    
     progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#progress .bar').css(
            'width',
            progress + '%'
        );
    }
    });
    
    $('#hhmoncert_fichier_file').fileupload({
        dataType: 'json',
         url: Routing.generate('certificatscenter_listbyprojet'),
         add: function (e, data) {
            data.context = $('<button/>').text('Upload')
                .appendTo(document.body)
                .click(function () {
                    data.context = $('<p/>').text('Uploading...').replaceAll($(this));
                    data.submit();
                });
        },
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('<p/>').text(file.name).appendTo(document.body);
            });
        },
    
     progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#progress .bar').css(
            'width',
            progress + '%'
        );
    }
    });

   $('#xxmoncert_fichier_file').fileupload({
        dataType: 'json',
         url: Routing.generate('certificatscenter_listbyprojet'),
        add: function (e, data) {
            data.context = $('<button/>').text('Upload')
                .appendTo(document.body)
                .click(function () {
                    data.context = $('<p/>').text('Uploading...').replaceAll($(this));
                    data.submit();
                });
        },
        done: function (e, data) {
            data.context.text('Upload finished.');
        }
    });
   
    $('#11moncert_fichier_file').fileupload({
        dataType: 'json',
        add: function (e, data) {
            data.context = $('<button/>').text('Upload')
                .appendTo(document.body)
                .click(function () {
                    data.context = $('<p/>').text('Uploading...').replaceAll($(this));
                    data.submit();
                });
        },
        done: function (e, data) {
            data.context.text('Upload finished.');
        }
    });

});


</script>
{% endblock %}


{% block stylesheets %}
{{ parent() }} 
<link rel="stylesheet" href="{{ asset('bundles/applicationcertificats/css/sliding.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bundles/applicationcertificats/css/certifcatssearch.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.fileupload-ui.css') }}" type="text/css" media="all"/>  
<style>
    select[multiple], select[size] {height: 250px;}
    textarea {width:400px;height:200px;}
    tr.single {background-color: #f1f1f1;}
    div.fichier{
        padding:5px;background-color:whitesmoke;color:#0033cc;}
.bar {
    height: 18px;
    background: green;
}
 
    </style> 
{% endblock %}


{% block content_header '' %}
    
{% block title %}{{ titre }}  CERTIFICAT {% endblock %}

{% block content %}
 
{% if action == 'edit' %}
<div id="divcert" style="display: none;">{{ entity.id }}</div>
<form   action="{{ path(path_form, { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
{% else %}
        <div id="divcert" style="display: none;"></div>
 <form  action="{{ path(path_form)}}" method="post" {{ form_enctype(form) }}>
{% endif %}


    <br><br>
    
         <table class="table-mybordered">

            <tr><td class="calendar">
                        <div>
    {{ form_errors(form.fileName) }}
    {{ form_label(form.fileName, 'Nom du Fichier'|trans) }}
    {{ form_widget(form.fileName) }}
                            </div>
                            <div>
    {{ form_errors(form.cnName) }}
    {{ form_label(form.cnName, 'CN du certificat'|trans) }}
    {{ form_widget(form.cnName) }}
                                </div>
    {{ form_errors(form.serviceName) }}
    {{ form_label(form.serviceName, 'Service'|trans) }}
    {{ form_widget(form.serviceName) }}
              {{ form_errors(form.serverName) }}
    {{ form_label(form.serverName, 'Serveur'|trans) }}
    {{ form_widget(form.serverName) }}


             {{ form_errors(form.port) }}
    {{ form_label(form.port, 'Port'|trans) }}
    {{ form_widget(form.port) }}

    {{ form_errors(form.way) }}
    {{ form_label(form.way, 'Way'|trans) }}
    {{ form_widget(form.way) }}
<br>
  {{ form_errors(form.statusFile) }}
    {{ form_widget(form.statusFile) }}
<br>
 {{ form_errors(form.warningFile) }}
   {{ form_label(form.warningFile, 'Activer le Warning') }}
    {{ form_widget(form.warningFile) }}


</div>
 {{ form_errors(form.description) }}
   {{ form_label(form.description, 'Description') }}
    {{ form_widget(form.description) }}                            </td>
                            <td class="calendar">
                                <div class="fichier">
                                  
                                        
                                        
             <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                      {% if fichier.id  %}   
                      <input type="hidden"  name="myfile"  value="{{ fichier.id }}">
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start upload</span>
                </button>
                             {#       <span class="btn btn-success fileinput-button">
        <i class="icon-plus"></i>
        <span>Add files...</span>
        <!-- The file input field used as target for the file upload widget -->
       
         <input type="hidden"  name="myfile"  value="{{ fichier.id }}">
    </span>
#}
                  <br>
    <br>
    <!-- The global progress bar -->
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>                  
                                       
                                       {# <input type="hidden"  name="myfile"  value="{{ fichier.id }}" data-url="{{ 'certificatscenter_listbyprojet' }}">
                                 #}       
                                    
  
                                        Actuel: <br>
                                  <strong>  {{ fichier.OriginalFilename }}
                                        <br>
                                        {{ fichier.updatedAt|date('Y-m-d H:i:s') }}
                                        </strong>
                                        {% else %}
                                        (Pas de fichier actuellement)
                                        {% endif %}
          {{ form_errors(form.fichier) }}
                                        
       {{ form_widget(form.fichier) }}  
                                        </div>
                                      <div id="progress">
    <div class="bar" style="width: 0%;"></div>
</div>
 <div>{{ form_rest(form) }}
                                    </div>
                                </td>
                            </tr><tr>
                            <td class="calendar" colspan="2">
                                    <p>
                                        <button type="submit" class="btn btn-medium btn-warning">{{ titre_valider }}</button>
                                        <a href="{{ path(btnretour) }}" class="btn btn-medium btn-success">Retour</a>
                                    </p>
                                </td></tr>
                    
                    </table>
</form>

{% endblock %}