{% extends "ApplicationChangementsBundle::layout.html.twig" %}

{% block javascripts %}
{{ parent() }}
{{ tinymce_init() }}
{% endblock %}

  {% block stylesheets %}
{{ parent() }}
      <link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/sliding.css') }}" type="text/css" media="all"/>
     <style>
             td.myth {
             font-weight: bold;}
             .tinymce { width:90%;
             min-height: 300px;
             }
             td span.badge {float:right;}
             </style>
 {% endblock %}

{% block content_header '' %}
{% block title %}
Commentaire
{% endblock %}

{% block content %}
  {% set btnretour = app.session.get('buttonretour') %}
{% if btnretour is not defined %}
{% set btnretour = 'changements_fanta' %}
{% endif %}


<br>  
{#{ path }#}
             
 <a href="{{ path(btnretour) }}" class="btn btn-medium btn-success">Retour</a>

     
            
<table class="table table-striped table-bordered">
   <tbody>
    <thead>
        <tr class="title"><td class="myth">

            {#    <i class="icon-user"></i> {{ comment.user }}#}
   <i class="icon-time"></i> {{ comment.created|date('l, F j, Y') }}
   <span class="badge badge-warning">{{ comment.categorie }} </span>
                                  
</td></tr> 
                
    </thead>
    
    <tr>
               
                <td> <p>{{ comment.comment|raw }}</p></td>

    </tr>
            </tbody>
        </table>

{% endblock %}
