{% extends "ApplicationCertificatsBundle::layout.html.twig" %}

{% block javascripts %}
{{ parent() }}
{#{% include "ApplicationCertificatsBundle:templates:tpl_file.js.twig" %}#}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript" src="{{ asset('jquery/fileupload/load-image.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/applicationcertificats/js/datenew.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/fileupload/jquery.iframe-transport.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/jquery.ui.widget.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/fileupload/jquery.fileupload.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/fileupload/jquery.fileupload-process.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/fileupload/jquery.fileupload-image.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/fileupload/jquery.fileupload-ui.js') }}"></script>
{#<script type="text/javascript" src="{{ asset('jquery/fileupload/jquery.fileupload-jquery-ui.js') }}"></script>#}
<script type="text/javascript" src="{{ asset('jquery/fileupload/jquery.fileupload-validate.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/fileupload/jquery.ui.widget.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/tmpl.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/applicationcertificats/js/jquery.colorbox.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/applicationcertificats/js/myfile-upload.js') }}"></script>
{% endblock %}


{% block stylesheets %}
{{ parent() }} 
<link rel="stylesheet" href="{{ asset('bundles/applicationcertificats/css/sliding.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bundles/applicationcertificats/css/certifcatssearch.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.fileupload-ui.css') }}" type="text/css" media="all"/>  
<link rel="stylesheet" href="{{ asset('bootstrap/css/blueimp-gallery.min.css') }}" type="text/css" media="all"/>  
<link rel="stylesheet" href="{{ asset('bundles/applicationcertificats/css/colorbox.css') }}" type="text/css" media="all"/>  
<link rel="stylesheet" href="{{ asset('bundles/applicationcertificats/css/myfile-upload.css') }}" type="text/css" media="all"/>  
<style>

    .bar {
    height: 18px;
    background: green;
}
 .progress-success,progress-bar-success  {
    height: 18px;
    background: blue;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
 
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
          transition: width 0.6s ease;
}

.progress-striped .progress-bar {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
/*
.progress.active .progress-bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}


.progress-striped .progress-bar-success {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-info {
  background-color: #5bc0de;
}

.progress-striped .progress-bar-info {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-warning {
  background-color: #f0ad4e;
}

.progress-striped .progress-bar-warning {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-danger {
  background-color: #d9534f;
}

.progress-striped .progress-bar-danger {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar .progress-bar-success bar{background-color: #d9534f;}*/
    </style>
<style>
/*.bar_content { display:inline-block; }*/
/*
.progress-bar {
	background-color: red;
	height: 25px;
	padding: 5px;
	width: 90%;
	min-width:250px;
	overflow:hidden;
	 margin: 20px auto;		
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
	-webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
	box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
}*/
 /*
.progress-bar span {
    background-color: blue;
	float:left;
	display: inline-block;
	height: 100%;
	background-color: #777;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	-webkit-transition: width .4s ease-in-out;
	-moz-transition: width 1.4s ease-in-out;
	-ms-transition: width 1.4s ease-in-out;
	-o-transition: width 1.4s ease-in-out;
	transition: width 1.4s ease-in-out;		
 
}*/

/*
.progress-animated .progress-bar,
.progress-animated .bar {
  background: url("/images/progressbar.gif") !important;
  filter: none;
}*/
</style>
{% endblock %}


{% block content_header '' %}
    
{% block title %}AJOUTER DES FICHIERS {% endblock %}

{% block content %}

  <br><br>
       <div class="row">
    <div class="span7 offset1">
        
{#<form id="fileupload" action="{{ path('certificats_documents_ajouter') }}" method="post" enctype="multipart/form-data">
#}
        <form id="fileupload" action="#" method="post" enctype="multipart/form-data">
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
         <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus"></i>
                    <span>Add files...</span>
                     <input id="file" type="file" name="fichier_certificat[file]" multiple=true>
                   {# <input type="file" name="files[]" multiple>#}
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="icon-upload"></i>
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class=" icon-minus-sign"></i>
                    <span>Cancel upload</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="icon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" class="toggle">
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
          {#
  <div id="progress" class="progress progress-success progress-striped">
    <div class="bar"></div>
  </div>
            #}
            
             <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success bar" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
            {#
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
#}
       
            </div>
           </div>
               
               <div class="span4">
          <div id="dropzone" class="fade well">Drop files here</div>
          </div>
        <!-- The table listing the files available for upload/download -->
     {#  <div id="uploaded-files"> 
           </div>
         <table role="presentation" class="table table-striped"><tbody class="files">
         <tr class="template-download fade">
                
             </tbody></table>#}
    </form> 
    
   
    </div>      
   
  
        <div class="row">
    <div class="span8 offset1">
 <table class="table table-striped files" role="presentation">
<tbody class="files">
 
  <script id="template-upload" type="text/x-tmpl">
{% raw %}
          (% for (var i=0, file; file=o.files[i]; i++) { %)
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>(%=file.name%)</span></td>
        <td class="size"><span>(%=o.formatFileSize(file.size)%)</span></td>
        (% if (file.error) { %)
        <td class="error" colspan="2"><span class="label label-important">Error</span> (%=file.error%)</td>
        (% } else if (o.files.valid && !i) { %)
        <td>
            <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
        </td>
        <td class="start">(% if (!o.options.autoUpload) { %)
            <button class="btn btn-primary">
                <i class="icon-upload icon-white"></i>
                <span>Start</span>
            </button>
            (% } %)</td>
        (% } else { %)
        <td colspan="2"></td>
        (% } %)
        <td class="cancel">(% if (!i) { %)
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>Cancel</span>
            </button>
            (% } %)</td>
    </tr>
    (% } %)
    {% endraw %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
 {% raw %}
        (% for (var i=0, file; file=o.files[i]; i++) { %)
    <tr class="template-download fade">
        (% if (file.error) { %)
        <td></td>
        <td class="name"><span>(%=file.name%)</span></td>
        <td class="size"><span>(%=o.formatFileSize(file.size)%)</span></td>
        <td class="error" colspan="2"><span class="label label-important">Error</span> (%=file.error%)</td>
        (% } else { %)
        <td class="preview">(% if (file.thumbnail_url) { %)
            <a href="(%=file.url%)" title="(%=file.name%)" rel="gallery" download="(%=file.name%)"><img src="(%=file.thumbnail_url%)"></a>
            (% } %)</td>
        <td class="name">
            <a href="(%=file.url%)" title="(%=file.name%)" rel="(%=file.thumbnail_url&&'gallery'%)" download="(%=file.name%)">(%=file.name%)</a>
        </td>
        <td class="size"><span>(%=o.formatFileSize(file.size)%)</span></td>
        <td colspan="2"></td>
        (% } %)
        <td class="delete">
            <button class="btn btn-danger" data-type="(%=file.delete_type%)" data-url="(%=file.delete_url%)"(% if (file.delete_with_credentials) { %) data-xhr-fields='{"withCredentials":true}'(% } %)>
            <i class="icon-trash icon-white"></i>
            <span>XXDelete</span>
            </button>
            <input type="checkbox" name="delete" value="1">
        </td>
    </tr>
    (% } %)
     {% endraw %}
</script>
</tbody> 
</table>
            </div></div>
{% endblock %}
  
    {% block footer %}
                            
                              
                        </div>
                  {% endblock %}