{% extends "ApplicationCertificatsBundle::layout.html.twig" %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>

<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript" src="{{ asset('jquery/fileupload/load-image.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/applicationcertificats/js/datenew.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/fileupload/jquery.iframe-transport.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/jquery.ui.widget.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/fileupload/jquery.fileupload.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/fileupload/jquery.fileupload-process.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/fileupload/jquery.fileupload-image.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery/fileupload/jquery.fileupload-ui.js') }}"></script>

<script type="text/javascript" src="{{ asset('js/tmpl.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/applicationcertificats/js/jquery.colorbox.js') }}"></script>
      
 
<script>
    
    $(document).ready(function() {
    $("a.editme").colorbox({
            iframe:true,
            /*   data:{idchgmt:$(this).attr("data-idchgmt")},   */ 
                  transition:	"elastic",
            width:"70%",
            height:"70%",
              fastIframe:false,
            opacity:0.3
        
        });
        
        
        });
$(document).bind('dragover', function (e) {
    var dropZone = $('#dropzone'),
        timeout = window.dropZoneTimeout;
    if (!timeout) {
        dropZone.addClass('in');
    } else {
        clearTimeout(timeout);
    }
    var found = false,
      	node = e.target;
    do {
        if (node === dropZone[0]) {
       		found = true;
       		break;
       	}
       	node = node.parentNode;
    } while (node != null);
    if (found) {
        dropZone.addClass('hover');
    } else {
        dropZone.removeClass('hover');
    }
    window.dropZoneTimeout = setTimeout(function () {
        window.dropZoneTimeout = null;
        dropZone.removeClass('in hover');
    }, 2000);
});

 function remplirSelect (data) {
   var optionData = data;
          /*  optionData['fields']*/
          $("#uploaded-files").append('<div style="display:block;border:1px dashed #CCCCCC;">' + optionData['fields']['name'] + '</div>');
          
 
} //Eof:: fucntion remplirSelect

    $(function () {
 $('#fileupload').fileupload({
      filesContainer: $('table.files'),
       dropZone: $('#dropzone'),
        uploadTemplateId: null,
    downloadTemplateId: null,
    dataType: 'json',
    url: Routing.generate('certificats_fileupload'),
    maxFileSize: 100000, // 100 kB
    
  
    add: function (e, o) {
        var rows = $();
         $.each(o.files, function (index, file) {
           console.log("fic=" + file.name);
          
              var row = $('<tr class="template-upload fade">' +
                '<td><span class="preview"></span></td>' +
                  '<button class="start">Start</button>'  +
                 '<button class="cancel">Cancel</button>' +
                '</td>' +
                '</tr>');
          /*  row.find('.name').text(file.name);*/
              rows = rows.add(row);   
       
        
        var mybtn=$("<div class='added'>" +
             file.name +  
             '<div id="button"><button type="button" class="btn btn-primary">' + 
             '<i class="glyphicon glyphicon-trash"></i><span>Upload</span></button></div></div>');
         var mydiv=$("div#uploaded-files");
         o.context = mybtn
         .appendTo(mydiv)
         
                .click(function () {
                    o.context = $('<p/>').text('Uploading...').replaceAll($(this));
                    o.submit();
                });
                  });
        },
     progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#progress .bar').css(
            'width',
            progress + '%'
        );
    },
    success: function(reponse){
            // Sur Succès de la réponse AJAX
            var optionData = reponse;
            remplirSelect(reponse);
        },
    /* uploadTemplate: function (o) {
        var rows = $();
        $.each(o.files, function (index, file) {
            var row = $('<tr class="template-upload fade">' +
                '<td><span class="preview"></span></td>' +
                '<td><p class="name"></p>' +
                (file.error ? '<div class="error"></div>' : '') +
                '</td>' +
                '<td><p class="size"></p>' +
                (o.files.error ? '' : '<div class="progress"></div>') +
                '</td>' +
                '<td>' +
                (!o.files.error && !index && !o.options.autoUpload ?
                    '<button class="start">Start</button>' : '') +
                (!index ? '<button class="cancel">Cancel</button>' : '') +
                '</td>' +
                '</tr>');
            row.find('.name').text(file.name);
            row.find('.size').text(o.formatFileSize(file.size));
            if (file.error) {
                row.find('.error').text(file.error);
            }
            rows = rows.add(row);
        });
        return rows;
    },*/
    downloadTemplate: function (o) {
        var rows = $();
        $.each(o.files, function (index, file) {
            var row = $('<tr class="template-download fade">' +
                '<td><span class="preview"></span></td>' +
                '<td><p class="name"></p>' +
                (file.error ? '<div class="error"></div>' : '') +
                '</td>' +
                '<td><span class="size"></span></td>' +
                '<td><button class="delete">Delete</button></td>' +
                '</tr>');
            row.find('.size').text(o.formatFileSize(file.size));
            if (file.error) {
                row.find('.name').text(file.name);
                row.find('.error').text(file.error);
            } else {
                row.find('.name').append($('<a></a>').text(file.name));
                if (file.thumbnailUrl) {
                    row.find('.preview').append(
                        $('<a></a>').append(
                            $('<img>').prop('src', file.thumbnailUrl)
                        )
                    );
                }
                row.find('a')
                    .attr('data-gallery', '')
                    .prop('href', file.url);
                row.find('.delete')
                    .attr('data-type', file.delete_type)
                    .attr('data-url', file.delete_url);
            }
            rows = rows.add(row);
        });
        return rows;
    }
      /*done: function (e, reponse) {
            var data = reponse;
            $.each(data.result.files, function (index, file) {
                $('<p/>').text(file.name).appendTo(document.body);
            });
        }*/
   
      
    });
   
});


</script>

{% endblock %}


{% block stylesheets %}
{{ parent() }} 
<link rel="stylesheet" href="{{ asset('bundles/applicationcertificats/css/sliding.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bundles/applicationcertificats/css/certifcatssearch.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.fileupload-ui.css') }}" type="text/css" media="all"/>  
<link rel="stylesheet" href="{{ asset('bundles/applicationchangements/css/colorbox.css') }}" type="text/css" media="all"/>  
<style>
    select[multiple], select[size] {height: 250px;}
    textarea {width:400px;height:200px;}
    tr.single {background-color: #f1f1f1;}
    div.fichier{
        padding:5px;background-color:whitesmoke;color:#0033cc;}
.bar {
    height: 18px;
    background: green;
}
.added {
    padding:5px;margin:5px;
    width:200px;height:200px;
    background-color:whitesmoke;
    color:#0033cc;
    float:left;
}

div.added div#button{
margin-bottom:5px;}
             
 .leserreurs {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size:12px;
            color:red;
        }
        
#dropzone {
    background: palegreen;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
#dropzone.in {
    width: 300px;
    height: 200px;
    line-height: 100px;
    font-size: larger;
}
#dropzone.hover {
    background: lawngreen;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}
    </style> 
{% endblock %}


{% block content_header '' %}
    
{% block title %}AJOUTER CERTIFICAT {% endblock %}

{% block content %}

  <br><br>
       <div class="row">
    <div class="span8 offset1">
        
<form id="fileupload" action="{{ path('certificats_documents_ajouter') }}" method="post" enctype="multipart/form-data">
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
         <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus"></i>
                    <span>Add files...</span>
                     <input id="file" type="file" name="fichier_certificat[file]" multiple=false>
                   {# <input type="file" name="files[]" multiple>#}
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="icon-fire"></i>
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="icon-circle"></i>
                    <span>Cancel upload</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" class="toggle">
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
       
            </div>
          <div id="dropzone" class="fade well">Drop files here</div>
        <!-- The table listing the files available for upload/download -->
       <div id="uploaded-files"> 
           </div>
         <table role="presentation" class="table table-striped"><tbody class="files">
         <tr class="template-download fade">
                
             </tbody></table>
    </form> 
      </div>
   
    </div>        
{% endblock %}