{% extends "::base.html.twig" %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 
                '@ApplicationCertificatsBundle/Resources/public/css/sliding.css' 
                '@ApplicationCertificatsBundle/Resources/public/css/certifcatssearch.css' 
                output='css/compiled/mycertificats.css' filter='cssrewrite,?yui_css' debug=false %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/applicationcertificats/css/colorbox.css') }}" type="text/css" media="all"/>

<style>
        td {
    font-size: 12px;
  
}
   

.table {
    font-size: 11px;
    border-collapse: separate;
  /*  font-family: 'Times New Roman',Times,serif;*/
}

tr.title th {
   
    line-height: 30px;
  
}

tr.danger {background:red;}
select#certificatsfiles_searchfilter_certificats {width:250px;height:300px;}
label,.mondiv { color:#02195e; font-size: 12px;
    font-weight: normal;
    line-height: 20px;}
    </style>
    
{% endblock %}
    
    
    
{% block javascripts %}
    {{ parent() }}
       <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
   <script type="text/javascript" src="{{ asset('js/compiled/ccertificats.js') }}"></script>
   <script type="text/javascript" src="{{ asset('bundles/applicationcertificats/js/jquery.colorbox.js') }}"></script>
  <script type="text/javascript">
        $(document).ready(function() {
 var originalClose = $.colorbox.close;
       
    $(".selectionner").click(function(){ 
             console.log("try to close");
      /* recuperer id du fichier*/
      var id = $(this).attr("data-id");
      var id_changement = $(this).attr("data-idchgmt");
      var dataAjax = {id: id, id_changement: {{ id_changement }} };
           $.ajax({
            url: Routing.generate('certificats_xhtml_selectfile'),
            type: "POST",
            data: dataAjax,
             async: false,
            dataType: "json",
            /* ie8 ??*/
            /*cache: false,*/
            /*contentType: 'application/json',*/
            success: function(reponse) {

                var status = "";
                console.log("success");
                 var optionData = reponse;
          /*  optionData['fields']*/
             window.parent.$("input#filelink").val(optionData['fields']['id']);
             
            if(typeof optionData['fields']['name'] !== 'undefined') {
                  console.log("replace field with " + optionData['fields']['name']);
                window.parent.$("input#moncert_fileName").addClass('leserreurs').css({'background-color' : '#FFFFEEE'}).val(optionData['fields']['name']);
                 
                 window.parent.$("div#files").addClass('leserreurs');
                window.parent.$("div#files").html(optionData['fields']['name']);
                
            }
            if(typeof optionData['fields']['from'] !== 'undefined') {
                 console.log("replace field with " + optionData['fields']['from']);
                 window.parent.$("INPUT#moncert_startDate").css({'background-color' : '#FFFFEEE'});
                 window.parent.$("INPUT#moncert_startDate").val(optionData['fields']['from']);
              
            }
            if(typeof optionData['fields']['to'] !== 'undefined') {
                 console.log("replace field with " + optionData['fields']['to']);
                  window.parent.$("INPUT#moncert_endTime").css({'background-color' : '#FFFFEEE'});
                window.parent.$("INPUT#moncert_endTime").val(optionData['fields']['to']);
                 }
            if(typeof optionData['fields']['cn'] !== 'undefined') {
                 console.log("replace field with " + optionData['fields']['cn']);
                  window.parent.$("INPUT#moncert_cnName").css({'background-color' : '#FFFFEEE'});
               window.parent.$("INPUT#moncert_cnName").val(optionData['fields']['cn']);
            }

            },
            error: function(e) {
                console.log(e.message);
            }
        });  //Eof:: ajax 
             parent.jQuery.colorbox.close();
         
        /*  var myclone=Routing.generate('changements_edit'
         parent.window.location.replace(myclone);*/
                return true;
            }); 
           
});
</script>
{% endblock %}

{% block content_header '' %}
 
{% block title %}
 <span class="icon-stack">
  <i class="icon-check-empty icon-stack-base"></i>
  <i class="icon-archive"></i>
</span>  
Choisir Fichier Existant 

{% endblock %}

{% block content %}

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr class="title">
     <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
     <th{% if pagination.isSorted('a.OriginalFilename') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nom Origine', 'a.OriginalFilename') }}</th>
    {#
     <th{% if pagination.isSorted('a.md5') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'md5', 'a.md5') }}</th>
    #}
         <th{% if pagination.isSorted('a.updatedAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date MAJ', 'a.updatedAt') }}</th>
     <th{% if pagination.isSorted('a.createdAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date Creation', 'a.createdAt') }}</th>
    {# <th{% if pagination.isSorted('c.nomprojet') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Projet', 'c.nomprojet') }}</th>
       <th{% if pagination.isSorted('d.fileType') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Type', 'd.fileType') }}</th>
       <th{% if pagination.isSorted('b.fileName') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Certificats', 'b.fileName') }}</th>
     #}{% if is_granted("ROLE_ADMIN") %}
                <th colspan="4">Actions</th>
                {% else %}
                <th>Actions</th>
                {% endif %}
             </tr>
    </thead>
<tbody>
    
     {% for entity in pagination %}
   
        <tr>
            <td><a href="{{ path('certificats_documents_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>
                {% if entity.OriginalFilename %}
                       <a class="fichier" href="{{ path('certificatscenter_download', { 'id': entity.id }) }}">{{ entity.OriginalFilename }}</a>
                    {% elseif entity.path %}
                <a class="fichier" href="{{ path('certificatscenter_download', { 'id': entity.id }) }}">{{ entity.path }}</a>
           {% else %}
                error
                 {% endif %}
                 </td>
          {# <td>{{ entity.OriginalFilename }}</td>createdAt#}
         {#   <td>{{ entity.md5 }}</td>#}
             <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
             <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            {#   <td>{% if entity.certificats %}
                {{ entity.certificats.project }}{% endif %}</td>
               <td>{% if entity.certificats %}{{ entity.certificats.typeCert }}{% endif %}</td>
             <td>{{ entity.certificats }}</td>#}
 <td>        
         <a class="selectionner" data-id="{{ entity.id}}" data-id="{{ entity.id}}" href="#">
                    <img src="{{ asset('bundles/applicationcertificats/images/up2.jpg') }}" alt="edit" width="15" height="15" />
                    </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

               
   {{ knp_pagination_render(pagination, 'ApplicationCertificatsBundle:pagination:twitter_bootstrap_pagination.html.twig') }}

 
    
    
    
    {% endblock %}

{% block footer %}{% endblock %}