{% extends "ApplicationCertificatsBundle::layout.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}" type="text/css" media="all" />
  <link rel="stylesheet" href="{{ asset('bundles/applicationcertificats/css/certifcatssearch.css') }}" type="text/css" media="all"/>
  <style>
  table.view {min:700px;}</style>
{% endblock %}

{% block title %}CertificatsFiles creation{% endblock %}

{% block content_header '' %}

{% block content %}
{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
{% endfor %}

 <br><br>
   
  <form action="{{ path('certificats_documents_create') }}" method="post" {{ form_enctype(form) }}>
   
         <table class="table-mybordered">

            <tr><td class="calendar">
                        <div>
        {{ form_widget(form) }}
                                </div>
        <p>
              <button type="submit" class="btn btn-medium btn-warning">Ajouter</button>
        </p>
        </table>
    </form>

 <a href="{{ path('certificats_documents') }}" class="btn btn-medium btn-success">Retour</a>
                                   
       
{% endblock %}
